Repository NG-ZORRO/ng-zorro-antd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cipchk, @hsuanxyz, @hullis, @wenqi73, @vthinkxie, @simplejason, @danranVm, @CK110, @Ricbet, @chensimeng, @stygian-desolator, @NG-ZORRO/antd

fix(module:statistic): remove top-level redundant `div` element (#7659)
  components/statistic/statistic.component.ts
  components/statistic/statistic.spec.ts
Owners: @hullis

fix(module: tree): nz-tree-drop-indicator for custom tree node templates (#7579)
  components/tree/tree-node-title.component.ts
Owners: @simplejason

docs(module:table): update `multiple-sorter.ts` (#7353)
  components/table/demo/multiple-sorter.ts
Owners: @vthinkxie

feat(module: carousel): `nzLoop` to prevent the carousel to go in a loop (#7693)
  components/carousel/carousel.component.ts
  components/carousel/carousel.spec.ts
  components/carousel/demo/loop.md
  components/carousel/demo/loop.ts
  components/carousel/doc/index.en-US.md
  components/carousel/doc/index.zh-CN.md
  components/core/config/config.ts
  components/core/util/text-mesure.spec.ts
Owners: @hullis

chore(release): release 14.2.0 (#7730)
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Owners: @NG-ZORRO/antd

docs(module:dropdown): additional notes on `nzMode` of `nz-menu` (#6773)
  components/dropdown/doc/index.en-US.md
  components/dropdown/doc/index.zh-CN.md
Owners: @vthinkxie

chore(release): release 14.1.0 (#7669)
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Owners: @NG-ZORRO/antd

fix(module:descriptions): nzStringTemplateOutlet title style error (#7704)
  components/descriptions/descriptions.component.ts
Owners: @hullis

fix(module:tree): tree select search slow in virtual mode (#7385)
  components/tree-select/demo/virtual-scroll.ts
  components/tree/tree.component.ts
  components/tree/tree.spec.ts
Owners: @hsuanxyz, @simplejason

build: set version of node instead of using latest (#7740)
  azure-pipelines.yml
Owners: none

feat(module:time-picker): support input readonly (#7660)
  components/time-picker/doc/index.en-US.md
  components/time-picker/doc/index.zh-CN.md
  components/time-picker/time-picker.component.spec.ts
  components/time-picker/time-picker.component.ts
Owners: @wenqi73

fix(module:segmented): fix index.less not imported in entry.less (#7624)
  components/components.less
  components/segmented/style/entry.less
Owners: @hullis

fix(module:input): textarea-count combined with nzHasFeedback location (#7709)
  components/form/demo/validate-reactive.ts
  components/input/style/patch.less
Owners: @danranVm, @vthinkxie

fix(module:code-editor): fix declaration of Window as monaco-editor (#7676)
  components/code-editor/typings.ts
Owners: @hullis

feat(module:select): select on Tab support (#7728)
  components/select/doc/index.en-US.md
  components/select/doc/index.zh-CN.md
  components/select/select.component.ts
  components/select/select.spec.ts
Owners: @vthinkxie

docs: replace the QR code of the DingTalk group (#7773)
  docs/introduce.zh-CN.md
Owners: @NG-ZORRO/antd

chore: fix animation.disabled triggering condition (#7739)
  components/auto-complete/autocomplete.component.ts
  components/cascader/cascader.component.ts
  components/collapse/collapse-panel.component.ts
  components/dropdown/dropdown-menu.component.ts
  components/menu/submenu.component.ts
  components/popconfirm/popconfirm.ts
  components/popover/popover.ts
  components/select/select.component.ts
  components/tooltip/tooltip.ts
  components/tree-select/tree-select.component.ts
  components/tree-view/tree-view.ts
  components/tree/tree.component.ts
Owners: @hsuanxyz, @hullis, @vthinkxie, @simplejason

fix(module:i18n): add missing hu texts (#7733)
  components/i18n/languages/hu_HU.ts
Owners: @wenqi73

fix(module:cron-expression): clear ul & li default style (#7715)
  components/cron-expression/cron-expression.component.ts
  components/cron-expression/cron-expression.module.ts
  components/cron-expression/style/index.less
Owners: none

fix(module:time-picker): fix AM/PM selector hide
  components/time-picker/time-picker-panel.component.spec.ts
  components/time-picker/time-picker-panel.component.ts
Owners: @wenqi73

test(module:date-picker): fix typo
  components/time-picker/time-picker-panel.component.spec.ts
Owners: @wenqi73

test(module:date-picker): fix typo (#7775)
  components/time-picker/time-picker-panel.component.spec.ts
Owners: @wenqi73

docs(popconfirm): remove nzOkType danger
  components/popconfirm/doc/index.zh-CN.md
Owners: @hullis

docs(popconfirm): remove nzOkType danger (#7778)
  components/popconfirm/doc/index.zh-CN.md
Owners: @hullis

perf(module:form): remove a unused variable (#7766)
  components/form/form-control.component.ts
Owners: @danranVm

chore(module:components): update angular icons version for v15
  components/package.json
Owners: none

chore(module:components): update angular icons version for v15 (#7781)
  components/package.json
Owners: none

fix(module:drawer): fix `nzContentParams` definition error (#7668)
  components/drawer/drawer.component.ts
Owners: @hsuanxyz

chore: rollback version
  components/package.json
Owners: none

chore(release): release 15.0.0
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Owners: @NG-ZORRO/antd

chore(release): release 15.0.0 (#7782)
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Owners: @NG-ZORRO/antd

Cron translate pt_BR
  components/i18n/languages/pt_BR.ts
Owners: @wenqi73

chore: update site for v15
  README-zh_CN.md
  README.md
  components/icon/page/index.ts
  docs/introduce.en-US.md
  docs/introduce.zh-CN.md
  docs/join.zh-CN.md
  docs/migration-v15.en-US.md
  docs/migration-v15.zh-CN.md
  package.json
  scripts/prerender/route-paths.txt
  scripts/site/_site/doc/app/header/header.component.ts
  scripts/site/_site/doc/app/online-ide/files/angular.json.ts
  scripts/site/_site/doc/app/online-ide/files/ng-zorro-antd.module.ts
  scripts/site/_site/doc/app/online-ide/online-ide.service.ts
Owners: @vthinkxie, @hullis, @NG-ZORRO/antd

chore: update site for v15 (#7792)
  README-zh_CN.md
  README.md
  components/icon/page/index.ts
  docs/introduce.en-US.md
  docs/introduce.zh-CN.md
  docs/join.zh-CN.md
  docs/migration-v15.en-US.md
  docs/migration-v15.zh-CN.md
  package.json
  scripts/prerender/route-paths.txt
  scripts/site/_site/doc/app/header/header.component.ts
  scripts/site/_site/doc/app/online-ide/files/angular.json.ts
  scripts/site/_site/doc/app/online-ide/files/ng-zorro-antd.module.ts
  scripts/site/_site/doc/app/online-ide/online-ide.service.ts
Owners: @vthinkxie, @hullis, @NG-ZORRO/antd

feat(module:select): label Template supports obtaining value information
  components/select/option-item.component.ts
Owners: @vthinkxie

fix(module:date-picker): nzDatePicker can be always disable
  components/date-picker/date-picker.component.ts
Owners: @wenqi73

fix(module:select): radio can be always disable or enable
  components/select/select.component.ts
Owners: @vthinkxie

refactor(module:cascader): close the menu based on nzDisable property
  components/cascader/cascader.component.ts
Owners: @hullis

fix(module:radio): radio can be always disable or enable
  components/radio/radio.component.ts
Owners: @vthinkxie

fix(module:input-number): input-number can be always disable or enable
  components/input-number/input-number.component.ts
Owners: @vthinkxie

.github/CODEOWNERS:

# The components owners
components/affix/**                       @cipchk
components/anchor/**                      @cipchk
components/back-top/**                    @cipchk
components/list/**                        @cipchk
components/upload/**                      @cipchk
components/auto-complete/**               @hsuanxyz
components/avatar/**                      @hsuanxyz
components/badge/**                       @hsuanxyz
components/comment/**                     @hsuanxyz
components/drawer/**                      @hsuanxyz
components/mention/**                     @hsuanxyz
components/modal/**                       @hsuanxyz
components/steps/**                       @hsuanxyz
components/tag/**                         @hsuanxyz
components/tree-select/**                 @hsuanxyz
components/tree-view/**                   @hsuanxyz
components/typography/**                  @hsuanxyz
components/space/**                       @hsuanxyz
components/resizable/**                   @hsuanxyz
components/tabs/**                        @hsuanxyz
components/breadcrumb/**                  @hullis
components/empty/**                       @hullis
components/carousel/**                    @hullis
components/cascader/**                    @hullis
components/descriptions/**                @hullis
components/icon/**                        @hullis
components/message/**                     @hullis
components/notification/**                @hullis
components/popconfirm/**                  @hullis
components/popover/**                     @hullis
components/progress/**                    @hullis
components/rate/**                        @hullis
components/result/**                      @hullis
components/slider/**                      @hullis
components/statistic/**                   @hullis
components/timeline/**                    @hullis
components/tooltip/**                     @hullis
components/code-editor/**                 @hullis
components/segmented/**                   @hullis
components/calendar/**                    @wenqi73
components/date-picker/**                 @wenqi73
components/skeleton/**                    @wenqi73
components/time-picker/**                 @wenqi73
components/alert/**                       @vthinkxie
components/button/**                      @vthinkxie
components/card/**                        @vthinkxie
components/checkbox/**                    @vthinkxie
components/collapse/**                    @vthinkxie
components/divider/**                     @vthinkxie
components/dropdown/**                    @vthinkxie
components/grid/**                        @vthinkxie
components/input/**                       @vthinkxie
components/input-number/**                @vthinkxie
components/layout/**                      @vthinkxie
components/menu/**                        @vthinkxie
components/pagination/**                  @vthinkxie
components/radio/**                       @vthinkxie
components/select/**                      @vthinkxie
components/spin/**                        @vthinkxie
components/switch/**                      @vthinkxie
components/table/**                       @vthinkxie
components/tree/**                        @simplejason
components/form/**                        @danranVm
components/page-header/**                 @CK110
components/transfer/**                    @Ricbet
components/i18n/**                        @wenqi73
components/pipes/**                       @chensimeng
components/image/**                       @stygian-desolator

# The `components/core/*` owners
components/core/config/**                 @hullis
components/core/element-patch/**          @hullis
components/core/highlight/**              @hsuanxyz
components/core/resize-observers/**       @hullis
components/core/logger/**                 @hullis
components/core/no-animation/**           @hsuanxyz
components/core/outlet/**                 @vthinkxie
components/core/time/**                   @wenqi73
components/core/trans-button/**           @hsuanxyz
components/core/transition-patch/**       @vthinkxie
components/core/tree/**                   @simplejason @hsuanxyz
components/core/wave/**                   @hsuanxyz

# Misc
docs/**                                   @NG-ZORRO/antd
schematics/**                             @hsuanxyz
script/**                                 @hsuanxyz
README.md                                 @vthinkxie
README-zh_CN.md                           @vthinkxie
CONTRIBUTING.md                           @vthinkxie
CODE_OF_CONDUCT.md                        @vthinkxie
