Repository NG-ZORRO/ng-zorro-antd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cipchk, @hsuanxyz, @hullis, @wenqi73, @vthinkxie, @simplejason, @danranVm, @CK110, @Ricbet, @chensimeng, @stygian-desolator, @NG-ZORRO/antd

.github/CODEOWNERS:

# The components owners
components/affix/**                       @cipchk
components/anchor/**                      @cipchk
components/back-top/**                    @cipchk
components/list/**                        @cipchk
components/upload/**                      @cipchk
components/auto-complete/**               @hsuanxyz
components/avatar/**                      @hsuanxyz
components/badge/**                       @hsuanxyz
components/comment/**                     @hsuanxyz
components/drawer/**                      @hsuanxyz
components/mention/**                     @hsuanxyz
components/modal/**                       @hsuanxyz
components/steps/**                       @hsuanxyz
components/tag/**                         @hsuanxyz
components/tree-select/**                 @hsuanxyz
components/tree-view/**                   @hsuanxyz
components/typography/**                  @hsuanxyz
components/space/**                       @hsuanxyz
components/resizable/**                   @hsuanxyz
components/tabs/**                        @hsuanxyz
components/breadcrumb/**                  @hullis
components/empty/**                       @hullis
components/carousel/**                    @hullis
components/cascader/**                    @hullis
components/descriptions/**                @hullis
components/icon/**                        @hullis
components/message/**                     @hullis
components/notification/**                @hullis
components/popconfirm/**                  @hullis
components/popover/**                     @hullis
components/progress/**                    @hullis
components/rate/**                        @hullis
components/result/**                      @hullis
components/slider/**                      @hullis
components/statistic/**                   @hullis
components/timeline/**                    @hullis
components/tooltip/**                     @hullis
components/code-editor/**                 @hullis
components/segmented/**                   @hullis
components/calendar/**                    @wenqi73
components/date-picker/**                 @wenqi73
components/skeleton/**                    @wenqi73
components/time-picker/**                 @wenqi73
components/alert/**                       @vthinkxie
components/button/**                      @vthinkxie
components/card/**                        @vthinkxie
components/checkbox/**                    @vthinkxie
components/collapse/**                    @vthinkxie
components/divider/**                     @vthinkxie
components/dropdown/**                    @vthinkxie
components/grid/**                        @vthinkxie
components/input/**                       @vthinkxie
components/input-number/**                @vthinkxie
components/layout/**                      @vthinkxie
components/menu/**                        @vthinkxie
components/pagination/**                  @vthinkxie
components/radio/**                       @vthinkxie
components/select/**                      @vthinkxie
components/spin/**                        @vthinkxie
components/switch/**                      @vthinkxie
components/table/**                       @vthinkxie
components/tree/**                        @simplejason
components/form/**                        @danranVm
components/page-header/**                 @CK110
components/transfer/**                    @Ricbet
components/i18n/**                        @wenqi73
components/pipes/**                       @chensimeng
components/image/**                       @stygian-desolator

# The `components/core/*` owners
components/core/config/**                 @hullis
components/core/element-patch/**          @hullis
components/core/highlight/**              @hsuanxyz
components/core/resize-observers/**       @hullis
components/core/logger/**                 @hullis
components/core/no-animation/**           @hsuanxyz
components/core/outlet/**                 @vthinkxie
components/core/time/**                   @wenqi73
components/core/trans-button/**           @hsuanxyz
components/core/transition-patch/**       @vthinkxie
components/core/tree/**                   @simplejason @hsuanxyz
components/core/wave/**                   @hsuanxyz

# Misc
docs/**                                   @NG-ZORRO/antd
schematics/**                             @hsuanxyz
script/**                                 @hsuanxyz
README.md                                 @vthinkxie
README-zh_CN.md                           @vthinkxie
CONTRIBUTING.md                           @vthinkxie
CODE_OF_CONDUCT.md                        @vthinkxie

fix(module:testing): update ComponentBed interface
  components/core/testing/component-bed.ts
Owners: none

Update it_IT.ts
  components/i18n/languages/it_IT.ts
Owners: @wenqi73

build(packaging): restrict @angular-devkit, @nguniversal, and @schematics packages to ~14.1.0
  package.json
Owners: none

test: fix ComponentBed type mismatch
  components/core/testing/component-bed.ts
Owners: none

build: fix various build errors (#7640)
  components/core/testing/component-bed.ts
  package.json
Owners: none

feat(module:date-picker): add nzShowWeekNumber property
  components/date-picker/date-picker.component.spec.ts
  components/date-picker/date-picker.component.ts
  components/date-picker/date-range-popup.component.ts
  components/date-picker/demo/week-number.md
  components/date-picker/demo/week-number.ts
  components/date-picker/doc/index.en-US.md
  components/date-picker/doc/index.zh-CN.md
  components/date-picker/inner-popup.component.ts
  components/date-picker/lib/abstract-table.ts
  components/date-picker/lib/date-table.component.ts
  components/date-picker/style/patch.less
Owners: @wenqi73

build: fix various build errors (#7640)
  components/core/testing/component-bed.ts
  package.json
Owners: none

fix(module:select): fix broken cdk virtual scroll integration
  components/select/style/patch.less
Owners: @vthinkxie

Update it_IT.ts
  components/i18n/languages/it_IT.ts
Owners: @wenqi73

fix(module:i18n): update it_IT.ts (#7646)
  components/i18n/languages/it_IT.ts
Owners: @wenqi73

feat(module: select): support placement
  components/select/demo/placement.md
  components/select/demo/placement.ts
  components/select/doc/index.en-US.md
  components/select/doc/index.zh-CN.md
  components/select/select.component.ts
  components/select/select.spec.ts
  components/select/select.types.ts
Owners: @vthinkxie

fix(module:tooltip): can't set arrow color when using custom color
  components/core/testing/component-bed.ts
  components/tooltip/tooltip.ts
Owners: @hullis

fix(module:tooltip): revert test config
  components/core/testing/component-bed.ts
Owners: none

fix(module:tooltip): remove space
  components/core/testing/component-bed.ts
Owners: none

feat(module:date-picker): add nzShowWeekNumber property (#7621)
  components/date-picker/date-picker.component.spec.ts
  components/date-picker/date-picker.component.ts
  components/date-picker/date-range-popup.component.ts
  components/date-picker/demo/week-number.md
  components/date-picker/demo/week-number.ts
  components/date-picker/doc/index.en-US.md
  components/date-picker/doc/index.zh-CN.md
  components/date-picker/inner-popup.component.ts
  components/date-picker/lib/abstract-table.ts
  components/date-picker/lib/date-table.component.ts
  components/date-picker/style/patch.less
Owners: @wenqi73

fix(module:select): fix broken cdk virtual scroll integration (#7642)
  components/select/style/patch.less
Owners: @vthinkxie

feat(module: select): support placement (#7537)
  components/select/demo/placement.md
  components/select/demo/placement.ts
  components/select/doc/index.en-US.md
  components/select/doc/index.zh-CN.md
  components/select/select.component.ts
  components/select/select.spec.ts
  components/select/select.types.ts
Owners: @vthinkxie

chore(module:*): allow debug demos under development (#7408)
  components/progress/demo/dashboard-layout.md
  components/progress/demo/dashboard-layout.ts
  package.json
  scripts/site/generate-site.js
  scripts/site/utils/get-meta.js
Owners: @hullis

fix(module:segmented): fix index.less not imported in entry.less
  components/components.less
  components/segmented/style/entry.less
Owners: @hullis

feat(module:menu): add support nzPlacement for nz-submenu (#7420)
  components/core/overlay/overlay-position.ts
  components/menu/demo/horizontal-position.md
  components/menu/demo/horizontal-position.ts
  components/menu/doc/index.en-US.md
  components/menu/doc/index.zh-CN.md
  components/menu/submenu.component.ts
Owners: @vthinkxie

docs(module:table): update `multiple-sorter.ts` (#7353)
  components/table/demo/multiple-sorter.ts
Owners: @vthinkxie

feat(module:select): add string array support for nzDropdownClassName
  components/select/doc/index.en-US.md
  components/select/doc/index.zh-CN.md
  components/select/select.component.ts
Owners: @vthinkxie

feat(module:select): add string array support for nzDropdownClassName (#7643)
  components/select/doc/index.en-US.md
  components/select/doc/index.zh-CN.md
  components/select/select.component.ts
Owners: @vthinkxie

fix(module:select): input field length restricted to 82px (#7626)
  components/select/select-search.component.ts
Owners: @vthinkxie

fix(module:typography): focus the element and set the value even if the zone is already stable (#7320)
  components/typography/text-edit.component.ts
  components/typography/typography.spec.ts
Owners: @hsuanxyz

fix(module:statistic): remove top-level redundant `div` element
  components/statistic/statistic.component.ts
  components/statistic/statistic.spec.ts
Owners: @hullis

feat(module:time-picker): support input readonly
  components/time-picker/doc/index.en-US.md
  components/time-picker/doc/index.zh-CN.md
  components/time-picker/time-picker.component.spec.ts
  components/time-picker/time-picker.component.ts
Owners: @wenqi73

fix(module:table): fix wrong listOfColWidth caused by col with colspan
  components/table/src/table-style.service.ts
Owners: @vthinkxie

fix(module:table): show scrollBar cell when table has vertical scrollBar
  components/table/src/cell/cell-fixed.directive.ts
  components/table/src/table-style.service.ts
  components/table/src/table/table-content.component.ts
  components/table/src/table/table-inner-scroll.component.ts
  components/table/src/table/table.component.ts
  components/table/src/table/tr.directive.ts
  components/table/style/patch.less
Owners: @vthinkxie

fix(module:table): add test cases for scrollBar cell
  components/table/src/testing/table.spec.ts
  components/table/src/testing/thead.spec.ts
Owners: @vthinkxie

fix(module:table): add test cases for scrollBar cell width
  components/table/src/testing/table.spec.ts
Owners: @vthinkxie

feat(module:time-picker): support input readonly (#7660)
  components/time-picker/doc/index.en-US.md
  components/time-picker/doc/index.zh-CN.md
  components/time-picker/time-picker.component.spec.ts
  components/time-picker/time-picker.component.ts
Owners: @wenqi73

fix(module:statistic): remove top-level redundant `div` element (#7659)
  components/statistic/statistic.component.ts
  components/statistic/statistic.spec.ts
Owners: @hullis

fix(module:segmented): fix index.less not imported in entry.less (#7624)
  components/components.less
  components/segmented/style/entry.less
Owners: @hullis

docs(module:dropdown): additional notes on `nzMode` of `nz-menu` (#6773)
  components/dropdown/doc/index.en-US.md
  components/dropdown/doc/index.zh-CN.md
Owners: @vthinkxie

fix(module:drawer): fix `nzContentParams` definition error
  components/drawer/drawer.component.ts
Owners: @hsuanxyz

chore(release): release 14.1.0
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Owners: @NG-ZORRO/antd

chore(release): release 14.1.0 (#7669)
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Owners: @NG-ZORRO/antd

fix(module:table): fix wrong colgroup with when using colspan
  components/table/src/table-style.service.ts
  components/table/src/table/table-content.component.ts
  components/table/src/table/table.component.ts
Owners: @vthinkxie

fix(module:table): add test case for thead
  components/table/src/testing/thead.spec.ts
Owners: @vthinkxie
