Repository NG-ZORRO/ng-zorro-antd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cipchk, @hsuanxyz, @hullis, @wenqi73, @vthinkxie, @simplejason, @danranVm, @CK110, @Ricbet, @chensimeng, @stygian-desolator, @NG-ZORRO/antd

.github/CODEOWNERS:

# The components owners
components/affix/**                       @cipchk
components/anchor/**                      @cipchk
components/back-top/**                    @cipchk
components/list/**                        @cipchk
components/upload/**                      @cipchk
components/auto-complete/**               @hsuanxyz
components/avatar/**                      @hsuanxyz
components/badge/**                       @hsuanxyz
components/comment/**                     @hsuanxyz
components/drawer/**                      @hsuanxyz
components/mention/**                     @hsuanxyz
components/modal/**                       @hsuanxyz
components/steps/**                       @hsuanxyz
components/tag/**                         @hsuanxyz
components/tree-select/**                 @hsuanxyz
components/tree-view/**                   @hsuanxyz
components/typography/**                  @hsuanxyz
components/space/**                       @hsuanxyz
components/resizable/**                   @hsuanxyz
components/tabs/**                        @hsuanxyz
components/breadcrumb/**                  @hullis
components/empty/**                       @hullis
components/carousel/**                    @hullis
components/cascader/**                    @hullis
components/descriptions/**                @hullis
components/icon/**                        @hullis
components/message/**                     @hullis
components/notification/**                @hullis
components/popconfirm/**                  @hullis
components/popover/**                     @hullis
components/progress/**                    @hullis
components/rate/**                        @hullis
components/result/**                      @hullis
components/slider/**                      @hullis
components/statistic/**                   @hullis
components/timeline/**                    @hullis
components/tooltip/**                     @hullis
components/code-editor/**                 @hullis
components/segmented/**                   @hullis
components/calendar/**                    @wenqi73
components/date-picker/**                 @wenqi73
components/skeleton/**                    @wenqi73
components/time-picker/**                 @wenqi73
components/alert/**                       @vthinkxie
components/button/**                      @vthinkxie
components/card/**                        @vthinkxie
components/checkbox/**                    @vthinkxie
components/collapse/**                    @vthinkxie
components/divider/**                     @vthinkxie
components/dropdown/**                    @vthinkxie
components/grid/**                        @vthinkxie
components/input/**                       @vthinkxie
components/input-number/**                @vthinkxie
components/layout/**                      @vthinkxie
components/menu/**                        @vthinkxie
components/pagination/**                  @vthinkxie
components/radio/**                       @vthinkxie
components/select/**                      @vthinkxie
components/spin/**                        @vthinkxie
components/switch/**                      @vthinkxie
components/table/**                       @vthinkxie
components/tree/**                        @simplejason
components/form/**                        @danranVm
components/page-header/**                 @CK110
components/transfer/**                    @Ricbet
components/i18n/**                        @wenqi73
components/pipes/**                       @chensimeng
components/image/**                       @stygian-desolator

# The `components/core/*` owners
components/core/config/**                 @hullis
components/core/element-patch/**          @hullis
components/core/highlight/**              @hsuanxyz
components/core/resize-observers/**       @hullis
components/core/logger/**                 @hullis
components/core/no-animation/**           @hsuanxyz
components/core/outlet/**                 @vthinkxie
components/core/time/**                   @wenqi73
components/core/trans-button/**           @hsuanxyz
components/core/transition-patch/**       @vthinkxie
components/core/tree/**                   @simplejason @hsuanxyz
components/core/wave/**                   @hsuanxyz

# Misc
docs/**                                   @NG-ZORRO/antd
schematics/**                             @hsuanxyz
script/**                                 @hsuanxyz
README.md                                 @vthinkxie
README-zh_CN.md                           @vthinkxie
CONTRIBUTING.md                           @vthinkxie
CODE_OF_CONDUCT.md                        @vthinkxie

test(module:checkbox): add missing test on disable behavior with forms
  components/checkbox/checkbox.spec.ts
Owners: @vthinkxie

fix(module:checkbox): :bug: checkbox can be always disable or enable
  components/checkbox/checkbox.component.ts
Owners: @vthinkxie

fix(module:slider): slider can be always disable or enable
  components/switch/switch.component.ts
Owners: @vthinkxie

fix(module:time-picker): time-picker can be always disable or enable
  components/time-picker/time-picker.component.ts
Owners: @wenqi73

fix(module:rate): rate can be always disable or enable
  components/rate/rate.component.ts
Owners: @hullis

fix(module:checkbox): checkbox can be always disable or enable
  components/slider/slider.component.ts
Owners: @hullis

test(module:radio): add missing test on disable behavior with forms
  components/radio/radio.spec.ts
Owners: @vthinkxie

test(module:switch): add missing test on disable behavior with forms
  components/switch/switch.spec.ts
Owners: @vthinkxie

chore: bump custom webpack to v15
  package.json
Owners: none

test(module:rate): add missing test on disable behavior with forms
  components/rate/rate.spec.ts
Owners: @hullis

test(module:input-number): add missing test on disable behavior
  components/input-number/input-number.spec.ts
Owners: @vthinkxie

test(module:select): add missing test on disable behavior
  components/select/select.spec.ts
Owners: @vthinkxie

test(module:checkbox): refactor test
  components/checkbox/checkbox.spec.ts
Owners: @vthinkxie

test(module:switch): refactor test
  components/switch/switch.spec.ts
Owners: @vthinkxie

test(module:radio): add missing test on disable behavior with forms
  components/radio/radio.spec.ts
Owners: @vthinkxie

test(module:rate): add missing test on disable behavior with forms
  components/rate/rate.component.ts
  components/rate/rate.spec.ts
Owners: @hullis

test: refactor some test
  components/checkbox/checkbox.spec.ts
  components/input-number/input-number.spec.ts
  components/radio/radio.spec.ts
  components/select/select.spec.ts
  components/switch/switch.spec.ts
Owners: @vthinkxie

test(module:slider): add missing test on disable behavior with forms
  components/slider/slider.component.ts
  components/slider/slider.spec.ts
Owners: @hullis

test(module:timepicker): add missing test on disable behavior
  components/time-picker/time-picker.component.spec.ts
Owners: @wenqi73

test(module:datepicker): add missing test on disable behavior
  components/date-picker/date-picker.component.spec.ts
Owners: @wenqi73

docs(module:code-editor): fix typo
  components/code-editor/doc/index.en-US.md
  components/code-editor/doc/index.zh-CN.md
Owners: @hullis

fix(module:space): nzSpaceItem margin in rtl
  components/space/space.component.ts
Owners: @hsuanxyz

fix(module:space): edit test cases nzSpaceItem margin in rtl
  components/space/space.component.spec.ts
Owners: @hsuanxyz

fix: some forms component can't be disable (#7786)
  components/cascader/cascader.component.ts
  components/checkbox/checkbox.component.ts
  components/checkbox/checkbox.spec.ts
  components/date-picker/date-picker.component.spec.ts
  components/date-picker/date-picker.component.ts
  components/input-number/input-number.component.ts
  components/input-number/input-number.spec.ts
  components/radio/radio.component.ts
  components/radio/radio.spec.ts
  components/rate/rate.component.ts
  components/rate/rate.spec.ts
  components/select/select.component.ts
  components/select/select.spec.ts
  components/slider/slider.component.ts
  components/slider/slider.spec.ts
  components/switch/switch.component.ts
  components/switch/switch.spec.ts
  components/time-picker/time-picker.component.spec.ts
  components/time-picker/time-picker.component.ts
  package.json
Owners: @hullis, @vthinkxie, @wenqi73

docs(module:code-editor): fix typo (#7800)
  components/code-editor/doc/index.en-US.md
  components/code-editor/doc/index.zh-CN.md
Owners: @hullis

chore(release): release 15.0.1
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Owners: @NG-ZORRO/antd

chore(release): release 15.0.1 (#7804)
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Owners: @NG-ZORRO/antd

fix(module:checkbox): chebox group can't be disable initially
  components/checkbox/checkbox-group.component.ts
  components/checkbox/checkbox.spec.ts
Owners: @vthinkxie

fix(module:radio): radio group can't be disable initially
  components/radio/radio-group.component.ts
  components/radio/radio.spec.ts
Owners: @vthinkxie

fix(module:checkbox): chebox group can't be disable initially (#7806)
  components/checkbox/checkbox-group.component.ts
  components/checkbox/checkbox.spec.ts
  components/radio/radio-group.component.ts
  components/radio/radio.spec.ts
Owners: @vthinkxie

feat(module:type): support string literal union and auto complete
  components/badge/badge.component.ts
  components/card/card.component.ts
  components/carousel/typings.ts
  components/core/types/type.ts
  components/empty/empty.component.ts
  components/graph/graph-edge.component.ts
  components/graph/interface.ts
  components/message/message.service.ts
  components/message/typings.ts
  components/notification/notification.service.ts
  components/notification/typings.ts
  components/pagination/pagination-item.component.ts
  components/table/src/table.types.ts
  components/tag/tag.component.ts
  components/tooltip/tooltip.ts
  package.json
Owners: @hsuanxyz, @vthinkxie, @hullis

chore(release): release 15.0.2
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Owners: @NG-ZORRO/antd

fix(module:menu): fix errors of tests
  components/menu/submenu.component.ts
Owners: @vthinkxie

chore(release): release 15.0.2 (#7810)
  CHANGELOG.md
  components/menu/submenu.component.ts
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Owners: @vthinkxie, @NG-ZORRO/antd

fix(module:radio): invalid disable state
  components/radio/radio.component.ts
  components/radio/radio.spec.ts
Owners: @vthinkxie

fix(module:radio): invalid disable state (#7812)
  components/radio/radio.component.ts
  components/radio/radio.spec.ts
Owners: @vthinkxie

chore(release): release 15.0.3
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Owners: @NG-ZORRO/antd

chore(release): release 15.0.3 (#7813)
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Owners: @NG-ZORRO/antd

fix(module:datepicker): send OnChange event for same value
  components/date-picker/date-picker.component.spec.ts
  components/date-picker/date-picker.component.ts
  components/date-picker/range-picker.component.spec.ts
Owners: @wenqi73
