Repository NG-ZORRO/ng-zorro-antd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cipchk, @hsuanxyz, @hullis, @wenqi73, @vthinkxie, @simplejason, @danranVm, @CK110, @Ricbet, @chensimeng, @stygian-desolator, @NG-ZORRO/antd

fix(module:table): fix code style
  components/table/src/testing/thead.spec.ts
Owners: @vthinkxie

fix(module:code-editor): fix declaration of Window as monaco-editor
  components/code-editor/typings.ts
Owners: @hullis

fix(module:date-picker): fix datePicker can't clear (#7534)
  components/date-picker/date-picker.component.ts
  components/date-picker/range-picker.component.spec.ts
Owners: @wenqi73

fix(module:date-picker): fix datePicker can't clear (#7671)
  components/date-picker/date-picker.component.ts
  components/date-picker/range-picker.component.spec.ts
Owners: @wenqi73

fix(module:button): fix add class ant-btn-icon-only(#7631)
  components/button/button.component.ts
Owners: @vthinkxie

fix(module:date-picker): fix datePicker show multi panel
  components/date-picker/date-picker.component.spec.ts
  components/date-picker/date-picker.component.ts
Owners: @wenqi73

fix(module:code-editor): fix declaration of Window as monaco-editor (#7676)
  components/code-editor/typings.ts
Owners: @hullis

chore(release): release 14.1.1
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Owners: @NG-ZORRO/antd

chore(release): release 14.1.1 (#7683)
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Owners: @NG-ZORRO/antd

fix(module:date-picker): fix datePicker show multi panel
  components/date-picker/date-picker.component.spec.ts
  components/date-picker/date-picker.component.ts
  components/date-picker/range-picker.component.spec.ts
Owners: @wenqi73

fix(module:date-picker): fix datePicker show multi panel (#7680)
  components/date-picker/date-picker.component.spec.ts
  components/date-picker/date-picker.component.ts
  components/date-picker/range-picker.component.spec.ts
Owners: @wenqi73

fix(module:select): disabled option can be selected by Enter
  components/select/select.component.ts
  components/select/select.spec.ts
Owners: @vthinkxie

feat(module:modal): update nzConfig for modal global settings
  components/core/config/config.ts
  components/modal/modal.service.ts
  components/modal/modal.spec.ts
  components/modal/utils.ts
Owners: @hullis, @hsuanxyz

feat(module: carousel): `nzLoop` to prevent the carousel to go in a loop
  components/carousel/carousel.component.ts
  components/carousel/carousel.spec.ts
  components/carousel/demo/loop.md
  components/carousel/demo/loop.ts
  components/carousel/doc/index.en-US.md
  components/carousel/doc/index.zh-CN.md
  components/core/config/config.ts
Owners: @hullis

feat(module:cron-expression): add cron-expression component
  components/components.less
  components/cron-expression/cron-expression-specialized.component.ts
  components/cron-expression/cron-expression.component.ts
  components/cron-expression/cron-expression.module.ts
  components/cron-expression/demo/basic.md
  components/cron-expression/demo/basic.ts
  components/cron-expression/demo/button.md
  components/cron-expression/demo/button.ts
  components/cron-expression/demo/module
  components/cron-expression/demo/size.md
  components/cron-expression/demo/size.ts
  components/cron-expression/demo/use.md
  components/cron-expression/demo/use.ts
  components/cron-expression/doc/index.en-US.md
  components/cron-expression/doc/index.zh-CN.md
  components/cron-expression/index.ts
  components/cron-expression/ng-package.json
  components/cron-expression/public-api.ts
  components/cron-expression/style/entry.less
  components/cron-expression/style/index.less
  components/cron-expression/typings.ts
  components/i18n/languages/en_US.ts
  components/i18n/languages/zh_CN.ts
  components/i18n/nz-i18n.interface.ts
  package.json
Owners: @wenqi73

feat(module:cron-expression): modify cron-expression i18.interface
  components/core/testing/component-bed.ts
  components/cron-expression/cron-expression-specialized.component.ts
  components/cron-expression/cron-expression.component.ts
  components/cron-expression/demo/button.ts
  components/cron-expression/style/index.less
  components/i18n/languages/en_US.ts
  components/i18n/languages/zh_CN.ts
  components/i18n/nz-i18n.interface.ts
Owners: @wenqi73

feat(module:cron-expression): detail modification
  components/components.less
  components/cron-expression/cron-expression-specialized.component.ts
  components/cron-expression/cron-expression.component.ts
  components/cron-expression/demo/shortcuts.md
  components/cron-expression/demo/shortcuts.ts
  components/cron-expression/doc/index.en-US.md
  components/cron-expression/doc/index.zh-CN.md
  components/cron-expression/typings.ts
Owners: none

feat(module:cron-expression): add cron-expression component i18n
  components/core/testing/component-bed.ts
  components/cron-expression/cron-expression.component.ts
  components/i18n/languages/en_US.ts
  components/i18n/languages/zh_CN.ts
  components/i18n/nz-i18n.interface.ts
Owners: @wenqi73

feat(module:cron-expression): cron-expression support spring
  components/cron-expression/cron-expression-specialized.component.ts
  components/cron-expression/cron-expression.component.ts
  components/cron-expression/cron-expression.module.ts
  components/cron-expression/demo/collapse.md
  components/cron-expression/demo/collapse.ts
  components/cron-expression/demo/module
  components/cron-expression/demo/shortcuts.md
  components/cron-expression/demo/shortcuts.ts
  components/cron-expression/demo/type.md
  components/cron-expression/demo/type.ts
  components/cron-expression/demo/use.md
  components/cron-expression/demo/use.ts
  components/cron-expression/doc/index.en-US.md
  components/cron-expression/doc/index.zh-CN.md
  components/cron-expression/style/index.less
  components/cron-expression/typings.ts
  components/i18n/languages/en_US.ts
  components/i18n/languages/zh_CN.ts
  components/i18n/nz-i18n.interface.ts
Owners: @wenqi73

fix(module:date-picker): arrow in wrong position for RTL direction
  components/date-picker/date-range-popup.component.ts
  components/date-picker/range-picker.component.spec.ts
  components/date-picker/style/patch.less
Owners: @wenqi73

fix(module:date-picker): arrow in wrong position for RTL direction (#7690)
  components/date-picker/date-range-popup.component.ts
  components/date-picker/range-picker.component.spec.ts
  components/date-picker/style/patch.less
Owners: @wenqi73

ci(module: carousel): improve test coverage
  components/carousel/carousel.spec.ts
  components/core/util/text-mesure.spec.ts
Owners: @hullis

fix(module:image): added nzNoReset flag (#7689)
  components/image/doc/index.en-US.md
  components/image/doc/index.zh-CN.md
  components/image/image-preview-options.ts
  components/image/image-preview.component.ts
  components/image/image.spec.ts
Owners: @stygian-desolator

ci(module:image): improve test coverage
  components/image/image.spec.ts
Owners: @stygian-desolator

fix(module:descriptions): nzStringTemplateOutlet title style error
  components/descriptions/descriptions.component.ts
Owners: @hullis

fix(module:tabs): fix card type tabs operation area display problem
  components/tabs/style/index.less
Owners: @hsuanxyz

fix(module:input): textarea-count combined with nzHasFeedback location
  components/form/demo/validate-reactive.ts
  components/input/style/patch.less
Owners: @danranVm, @vthinkxie

feat(module:cron-expression): adjust the layout
  components/cron-expression/cron-expression-input.component.ts
  components/cron-expression/cron-expression-label.component.ts
  components/cron-expression/cron-expression-specialized.component.ts
  components/cron-expression/cron-expression.component.ts
  components/cron-expression/cron-expression.module.ts
  components/cron-expression/demo/collapse.md
  components/cron-expression/demo/shortcuts.md
  components/cron-expression/demo/shortcuts.ts
  components/cron-expression/demo/type.md
  components/cron-expression/demo/type.ts
  components/cron-expression/demo/use.ts
  components/cron-expression/doc/index.en-US.md
  components/cron-expression/doc/index.zh-CN.md
  components/cron-expression/style/index.less
  components/cron-expression/typings.ts
  components/i18n/languages/en_US.ts
  components/i18n/languages/zh_CN.ts
  components/i18n/nz-i18n.interface.ts
Owners: @wenqi73

fix(module:descriptions): nzStringTemplateOutlet title style error (#7704)
  components/descriptions/descriptions.component.ts
Owners: @hullis

feat(module: carousel): `nzLoop` to prevent the carousel to go in a loop (#7693)
  components/carousel/carousel.component.ts
  components/carousel/carousel.spec.ts
  components/carousel/demo/loop.md
  components/carousel/demo/loop.ts
  components/carousel/doc/index.en-US.md
  components/carousel/doc/index.zh-CN.md
  components/core/config/config.ts
  components/core/util/text-mesure.spec.ts
Owners: @hullis

feat(module:cron-expression): add cron-expression component (#7677)
  components/components.less
  components/cron-expression/cron-expression-input.component.ts
  components/cron-expression/cron-expression-label.component.ts
  components/cron-expression/cron-expression.component.ts
  components/cron-expression/cron-expression.module.ts
  components/cron-expression/demo/basic.md
  components/cron-expression/demo/basic.ts
  components/cron-expression/demo/collapse.md
  components/cron-expression/demo/collapse.ts
  components/cron-expression/demo/module
  components/cron-expression/demo/shortcuts.md
  components/cron-expression/demo/shortcuts.ts
  components/cron-expression/demo/size.md
  components/cron-expression/demo/size.ts
  components/cron-expression/demo/type.md
  components/cron-expression/demo/type.ts
  components/cron-expression/demo/use.md
  components/cron-expression/demo/use.ts
  components/cron-expression/doc/index.en-US.md
  components/cron-expression/doc/index.zh-CN.md
  components/cron-expression/index.ts
  components/cron-expression/ng-package.json
  components/cron-expression/public-api.ts
  components/cron-expression/style/entry.less
  components/cron-expression/style/index.less
  components/cron-expression/typings.ts
  components/i18n/languages/en_US.ts
  components/i18n/languages/zh_CN.ts
  components/i18n/nz-i18n.interface.ts
  package.json
Owners: @wenqi73

fix(module:cron-expression): clear ul & li default style
  components/cron-expression/cron-expression.component.ts
  components/cron-expression/cron-expression.module.ts
  components/cron-expression/style/index.less
Owners: none

fix(module:icon): re-enter Angular zone after icons have been loaded
  components/icon/icon.directive.ts
Owners: @hullis

feat(module:popconfirm): make nzOkDanger coerce to boolean
  components/popconfirm/popconfirm.ts
Owners: @hullis

feat(module:date-picker): add ElementRef type to nzSeparator
  components/date-picker/date-picker.component.ts
  components/date-picker/doc/index.en-US.md
  components/date-picker/doc/index.zh-CN.md
  components/date-picker/range-picker.component.spec.ts
Owners: @wenqi73

fix(module:cron-expression): clear ul & li default style (#7715)
  components/cron-expression/cron-expression.component.ts
  components/cron-expression/cron-expression.module.ts
  components/cron-expression/style/index.less
Owners: none

fix(module:icon): re-enter Angular zone after icons have been loaded (#7719)
  components/icon/icon.directive.ts
Owners: @hullis

feat(module:popconfirm): make nzOkDanger coerce to boolean (#7720)
  components/popconfirm/popconfirm.ts
Owners: @hullis

fix(module:select): activated value resetting during load on scroll
  components/select/select.component.ts
Owners: @vthinkxie

fix(module:image): preview the local upload image error (#7615)
  components/image/image-preview.component.ts
Owners: @stygian-desolator

.github/CODEOWNERS:

# The components owners
components/affix/**                       @cipchk
components/anchor/**                      @cipchk
components/back-top/**                    @cipchk
components/list/**                        @cipchk
components/upload/**                      @cipchk
components/auto-complete/**               @hsuanxyz
components/avatar/**                      @hsuanxyz
components/badge/**                       @hsuanxyz
components/comment/**                     @hsuanxyz
components/drawer/**                      @hsuanxyz
components/mention/**                     @hsuanxyz
components/modal/**                       @hsuanxyz
components/steps/**                       @hsuanxyz
components/tag/**                         @hsuanxyz
components/tree-select/**                 @hsuanxyz
components/tree-view/**                   @hsuanxyz
components/typography/**                  @hsuanxyz
components/space/**                       @hsuanxyz
components/resizable/**                   @hsuanxyz
components/tabs/**                        @hsuanxyz
components/breadcrumb/**                  @hullis
components/empty/**                       @hullis
components/carousel/**                    @hullis
components/cascader/**                    @hullis
components/descriptions/**                @hullis
components/icon/**                        @hullis
components/message/**                     @hullis
components/notification/**                @hullis
components/popconfirm/**                  @hullis
components/popover/**                     @hullis
components/progress/**                    @hullis
components/rate/**                        @hullis
components/result/**                      @hullis
components/slider/**                      @hullis
components/statistic/**                   @hullis
components/timeline/**                    @hullis
components/tooltip/**                     @hullis
components/code-editor/**                 @hullis
components/segmented/**                   @hullis
components/calendar/**                    @wenqi73
components/date-picker/**                 @wenqi73
components/skeleton/**                    @wenqi73
components/time-picker/**                 @wenqi73
components/alert/**                       @vthinkxie
components/button/**                      @vthinkxie
components/card/**                        @vthinkxie
components/checkbox/**                    @vthinkxie
components/collapse/**                    @vthinkxie
components/divider/**                     @vthinkxie
components/dropdown/**                    @vthinkxie
components/grid/**                        @vthinkxie
components/input/**                       @vthinkxie
components/input-number/**                @vthinkxie
components/layout/**                      @vthinkxie
components/menu/**                        @vthinkxie
components/pagination/**                  @vthinkxie
components/radio/**                       @vthinkxie
components/select/**                      @vthinkxie
components/spin/**                        @vthinkxie
components/switch/**                      @vthinkxie
components/table/**                       @vthinkxie
components/tree/**                        @simplejason
components/form/**                        @danranVm
components/page-header/**                 @CK110
components/transfer/**                    @Ricbet
components/i18n/**                        @wenqi73
components/pipes/**                       @chensimeng
components/image/**                       @stygian-desolator

# The `components/core/*` owners
components/core/config/**                 @hullis
components/core/element-patch/**          @hullis
components/core/highlight/**              @hsuanxyz
components/core/resize-observers/**       @hullis
components/core/logger/**                 @hullis
components/core/no-animation/**           @hsuanxyz
components/core/outlet/**                 @vthinkxie
components/core/time/**                   @wenqi73
components/core/trans-button/**           @hsuanxyz
components/core/transition-patch/**       @vthinkxie
components/core/tree/**                   @simplejason @hsuanxyz
components/core/wave/**                   @hsuanxyz

# Misc
docs/**                                   @NG-ZORRO/antd
schematics/**                             @hsuanxyz
script/**                                 @hsuanxyz
README.md                                 @vthinkxie
README-zh_CN.md                           @vthinkxie
CONTRIBUTING.md                           @vthinkxie
CODE_OF_CONDUCT.md                        @vthinkxie
