Repository NG-ZORRO/ng-zorro-antd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cipchk, @hsuanxyz, @wendellhu95, @wenqi73, @vthinkxie, @NearZXH, @simplejason, @danranVm, @CK110, @Ricbet, @chensimeng, @stygian-desolator, @NG-ZORRO/antd

fix(module:image): add missing imported modules (#6273)
  components/image/image.module.ts
Owners: @stygian-desolator

fix(module:tabs): fix clickable area of the anchor element (#6278)
  components/tabs/style/patch.less
Owners: @NearZXH

feat(module:upload): support `NzUploadFile` parameter of `nzIconRender`
  components/upload/doc/index.en-US.md
  components/upload/doc/index.zh-CN.md
  components/upload/interface.ts
  components/upload/upload-list.component.html
  components/upload/upload-list.component.ts
  components/upload/upload.component.ts
Owners: @cipchk

docs(module:modal): fix uncorrect 'NzModalService' markdown style
  components/modal/doc/index.en-US.md
  components/modal/doc/index.zh-CN.md
Owners: @hsuanxyz

refactor(module:graph): add svg container and zoom control
  components/graph/core/minimap.ts
  components/graph/core/svg-container.ts
  components/graph/core/utils.ts
  components/graph/core/zoom.ts
  components/graph/demo/customized.ts
  components/graph/doc/index.en-US.md
  components/graph/doc/index.zh-CN.md
  components/graph/graph-minimap.component.ts
  components/graph/graph-zoom.directive.ts
  components/graph/graph.component.ts
  components/graph/graph.module.ts
  components/graph/interface.ts
  components/graph/public-api.ts
  components/graph/svg-container.ts
  components/graph/svg-zoom.directive.ts
Owners: none

docs(module:modal): fix uncorrect 'NzModalService' markdown style (#6284)
  components/modal/doc/index.en-US.md
  components/modal/doc/index.zh-CN.md
Owners: @hsuanxyz

fix(module:collapse): animation cannot be disabled (#6280)
  components/collapse/collapse-panel.component.ts
  components/collapse/collapse.module.ts
  components/style/patch.less
Owners: @vthinkxie

docs(module:page-header): remove extra parentheses (#6275)
  components/page-header/doc/index.zh-CN.md
Owners: @CK110

.github/CODEOWNERS:

# The components owners
components/affix/**                       @cipchk
components/anchor/**                      @cipchk
components/back-top/**                    @cipchk
components/list/**                        @cipchk
components/upload/**                      @cipchk
components/auto-complete/**               @hsuanxyz
components/avatar/**                      @hsuanxyz
components/badge/**                       @hsuanxyz
components/comment/**                     @hsuanxyz
components/drawer/**                      @hsuanxyz
components/mention/**                     @hsuanxyz
components/modal/**                       @hsuanxyz
components/steps/**                       @hsuanxyz
components/tag/**                         @hsuanxyz
components/tree-select/**                 @hsuanxyz
components/tree-view/**                   @hsuanxyz
components/typography/**                  @hsuanxyz
components/space/**                       @hsuanxyz
components/resizable/**                   @hsuanxyz
components/breadcrumb/**                  @wendellhu95
components/empty/**                       @wendellhu95
components/carousel/**                    @wendellhu95
components/cascader/**                    @wendellhu95
components/descriptions/**                @wendellhu95
components/icon/**                        @wendellhu95
components/message/**                     @wendellhu95
components/notification/**                @wendellhu95
components/popconfirm/**                  @wendellhu95
components/popover/**                     @wendellhu95
components/progress/**                    @wendellhu95
components/rate/**                        @wendellhu95
components/result/**                      @wendellhu95
components/slider/**                      @wendellhu95
components/statistic/**                   @wendellhu95
components/timeline/**                    @wendellhu95
components/tooltip/**                     @wendellhu95
components/code-editor/**                 @wendellhu95
components/calendar/**                    @wenqi73
components/date-picker/**                 @wenqi73
components/skeleton/**                    @wenqi73
components/time-picker/**                 @wenqi73
components/alert/**                       @vthinkxie
components/button/**                      @vthinkxie
components/card/**                        @vthinkxie
components/checkbox/**                    @vthinkxie
components/collapse/**                    @vthinkxie
components/divider/**                     @vthinkxie
components/dropdown/**                    @vthinkxie
components/grid/**                        @vthinkxie
components/input/**                       @vthinkxie
components/input-number/**                @vthinkxie
components/layout/**                      @vthinkxie
components/menu/**                        @vthinkxie
components/pagination/**                  @vthinkxie
components/radio/**                       @vthinkxie
components/select/**                      @vthinkxie
components/spin/**                        @vthinkxie
components/switch/**                      @vthinkxie
components/table/**                       @vthinkxie
components/tabs/**                        @NearZXH
components/tree/**                        @simplejason
components/form/**                        @danranVm
components/page-header/**                 @CK110
components/transfer/**                    @Ricbet
components/i18n/**                        @wenqi73
components/pipes/**                       @chensimeng
components/image/**                       @stygian-desolator

# The `components/core/*` owners
components/core/config/**                 @wendellhu95
components/core/element-patch/**          @wendellhu95
components/core/highlight/**              @hsuanxyz
components/core/resize-observers/**       @wendellhu95
components/core/logger/**                 @wendellhu95
components/core/no-animation/**           @hsuanxyz
components/core/outlet/**                 @vthinkxie
components/core/time/**                   @wenqi73
components/core/trans-button/**           @hsuanxyz
components/core/transition-patch/**       @vthinkxie
components/core/tree/**                   @simplejason @hsuanxyz
components/core/wave/**                   @hsuanxyz

# Misc
docs/**                                   @NG-ZORRO/antd
schematics/**                             @hsuanxyz
script/**                                 @hsuanxyz
README.md                                 @vthinkxie
README-zh_CN.md                           @vthinkxie
CONTRIBUTING.md                           @vthinkxie
CODE_OF_CONDUCT.md                        @vthinkxie
