Repository NG-ZORRO/ng-zorro-antd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cipchk, @hsuanxyz, @hullis, @wenqi73, @vthinkxie, @simplejason, @danranVm, @CK110, @Ricbet, @chensimeng, @stygian-desolator, @NG-ZORRO/antd

refactor(module:menu): :recycle: remove useless code
  components/menu/menu-item.directive.ts
Owners: @vthinkxie

chore: bump angular v14 to angular v15
  components/menu/menu-item.directive.ts
Owners: @vthinkxie

refactor(packaging): update authorize node engine
  package.json
Owners: none

refactor(module:autocomplete): :recycle: remove unused code
  components/auto-complete/autocomplete.module.ts
Owners: @hsuanxyz

refactor(module:tree): avoid using legacy setDisableState behavior
  components/tree-select/tree-select.component.ts
  components/tree-select/tree-select.module.ts
  components/tree-select/tree-select.spec.ts
Owners: @hsuanxyz

refactor(module:dropdown): :recycle: remove unused code
  components/dropdown/dropdown.module.ts
Owners: @vthinkxie

chore: bump nguniversal/express v14 to v15
  package.json
Owners: none

chore: bump nguniversal/builders v14 to v15
  package.json
Owners: none

refactor(module:tree): :recycle: remove useless log
  components/tree-select/tree-select.component.ts
Owners: @hsuanxyz

docs: replace the QR code of the DingTalk group
  docs/introduce.zh-CN.md
Owners: @NG-ZORRO/antd

docs: replace the QR code of the DingTalk group (#7773)
  docs/introduce.zh-CN.md
Owners: @NG-ZORRO/antd

chore(module:tooltip): Add a new private variables
  components/tooltip/tooltip.ts
Owners: @hullis

chore(module:*): allow debug demos under development (#7408)
  components/progress/demo/dashboard-layout.md
  components/progress/demo/dashboard-layout.ts
  package.json
  scripts/site/generate-site.js
  scripts/site/utils/get-meta.js
Owners: @hullis

feat(module:popconfirm): make nzOkDanger coerce to boolean (#7720)
  components/popconfirm/popconfirm.ts
Owners: @hullis

fix(module:select): input field length restricted to 82px (#7626)
  components/select/select-search.component.ts
Owners: @vthinkxie

feat(module: alert): support custom icon (#7691)
  components/alert/alert.component.ts
  components/alert/alert.spec.ts
  components/alert/demo/custom-icon.md
  components/alert/demo/custom-icon.ts
  components/alert/doc/index.en-US.md
  components/alert/doc/index.zh-CN.md
  components/alert/style/patch.less
Owners: @vthinkxie

feat(module: select): support placement (#7537)
  components/select/demo/placement.md
  components/select/demo/placement.ts
  components/select/doc/index.en-US.md
  components/select/doc/index.zh-CN.md
  components/select/select.component.ts
  components/select/select.spec.ts
  components/select/select.types.ts
Owners: @vthinkxie

fix(module:select): activated value resetting during load on scroll (#7725)
  components/select/select.component.ts
Owners: @vthinkxie

fix(module:typography): focus the element and set the value even if the zone is already stable (#7320)
  components/typography/text-edit.component.ts
  components/typography/typography.spec.ts
Owners: @hsuanxyz

fix(module:list): specify template ref context to match instantiation (#7756)
  components/list/list.component.ts
Owners: @cipchk

fix(module:select): disabled option can be selected by Enter (#7686)
  components/select/select.component.ts
  components/select/select.spec.ts
Owners: @vthinkxie

feat(module:select): add string array support for nzDropdownClassName (#7643)
  components/select/doc/index.en-US.md
  components/select/doc/index.zh-CN.md
  components/select/select.component.ts
Owners: @vthinkxie

fix(module:date-picker): fix datePicker show multi panel (#7680)
  components/date-picker/date-picker.component.spec.ts
  components/date-picker/date-picker.component.ts
  components/date-picker/range-picker.component.spec.ts
Owners: @wenqi73

fix(module:date-picker): arrow in wrong position for RTL direction (#7690)
  components/date-picker/date-range-popup.component.ts
  components/date-picker/range-picker.component.spec.ts
  components/date-picker/style/patch.less
Owners: @wenqi73

feat(module:date-picker): add nzShowWeekNumber property (#7621)
  components/date-picker/date-picker.component.spec.ts
  components/date-picker/date-picker.component.ts
  components/date-picker/date-range-popup.component.ts
  components/date-picker/demo/week-number.md
  components/date-picker/demo/week-number.ts
  components/date-picker/doc/index.en-US.md
  components/date-picker/doc/index.zh-CN.md
  components/date-picker/inner-popup.component.ts
  components/date-picker/lib/abstract-table.ts
  components/date-picker/lib/date-table.component.ts
  components/date-picker/style/patch.less
Owners: @wenqi73

docs(module:table): add missing nzShowSort to English documentation (#7736) (#7737)
  components/table/doc/index.en-US.md
Owners: @vthinkxie

fix(module:icon): re-enter Angular zone after icons have been loaded (#7719)
  components/icon/icon.directive.ts
Owners: @hullis

fix(module:select): fix broken cdk virtual scroll integration (#7642)
  components/select/style/patch.less
Owners: @vthinkxie

feat(module:cron-expression): Optimize cron result display & support custom rendering cron time (#7750)
  components/cron-expression/cron-expression-input.component.ts
  components/cron-expression/cron-expression-label.component.ts
  components/cron-expression/cron-expression-preview.component.ts
  components/cron-expression/cron-expression.component.ts
  components/cron-expression/cron-expression.module.ts
  components/cron-expression/demo/semantic.md
  components/cron-expression/demo/semantic.ts
  components/cron-expression/demo/use.md
  components/cron-expression/doc/index.en-US.md
  components/cron-expression/doc/index.zh-CN.md
  components/cron-expression/style/index.less
Owners: none

chore(release): release 14.2.1 (#7744)
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Owners: @NG-ZORRO/antd

docs(module:table): update wrong parameter name (#7741)
  components/table/doc/index.en-US.md
Owners: @vthinkxie

fix(module:image): preview the local upload image error (#7615)
  components/image/image-preview.component.ts
Owners: @stygian-desolator

chore(release): release 14.3.0 (#7765)
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Owners: @NG-ZORRO/antd

chore(release): release 14.1.1 (#7683)
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Owners: @NG-ZORRO/antd

feat(module:tree-select): support to set placement (#7551)
  components/tree-select/demo/module
  components/tree-select/demo/placement.md
  components/tree-select/demo/placement.ts
  components/tree-select/doc/index.en-US.md
  components/tree-select/doc/index.zh-CN.md
  components/tree-select/tree-select.component.ts
Owners: @hsuanxyz

feat(module:cron-expression): add cron-expression component (#7677)
  components/components.less
  components/cron-expression/cron-expression-input.component.ts
  components/cron-expression/cron-expression-label.component.ts
  components/cron-expression/cron-expression.component.ts
  components/cron-expression/cron-expression.module.ts
  components/cron-expression/demo/basic.md
  components/cron-expression/demo/basic.ts
  components/cron-expression/demo/collapse.md
  components/cron-expression/demo/collapse.ts
  components/cron-expression/demo/module
  components/cron-expression/demo/shortcuts.md
  components/cron-expression/demo/shortcuts.ts
  components/cron-expression/demo/size.md
  components/cron-expression/demo/size.ts
  components/cron-expression/demo/type.md
  components/cron-expression/demo/type.ts
  components/cron-expression/demo/use.md
  components/cron-expression/demo/use.ts
  components/cron-expression/doc/index.en-US.md
  components/cron-expression/doc/index.zh-CN.md
  components/cron-expression/index.ts
  components/cron-expression/ng-package.json
  components/cron-expression/public-api.ts
  components/cron-expression/style/entry.less
  components/cron-expression/style/index.less
  components/cron-expression/typings.ts
  components/i18n/languages/en_US.ts
  components/i18n/languages/zh_CN.ts
  components/i18n/nz-i18n.interface.ts
  package.json
Owners: @wenqi73

perf(module:date-picker): remove unused variable (#7767)
  components/date-picker/date-picker.component.ts
Owners: @wenqi73

feat(module:menu): add support nzPlacement for nz-submenu (#7420)
  components/core/overlay/overlay-position.ts
  components/menu/demo/horizontal-position.md
  components/menu/demo/horizontal-position.ts
  components/menu/doc/index.en-US.md
  components/menu/doc/index.zh-CN.md
  components/menu/submenu.component.ts
Owners: @vthinkxie

fix(module:date-picker): fix datePicker can't clear (#7671)
  components/date-picker/date-picker.component.ts
  components/date-picker/range-picker.component.spec.ts
Owners: @wenqi73

feat(module:date-picker): add ElementRef type to nzSeparator (#7721)
  components/date-picker/date-picker.component.ts
  components/date-picker/doc/index.en-US.md
  components/date-picker/doc/index.zh-CN.md
  components/date-picker/range-picker.component.spec.ts
Owners: @wenqi73

.github/CODEOWNERS:

# The components owners
components/affix/**                       @cipchk
components/anchor/**                      @cipchk
components/back-top/**                    @cipchk
components/list/**                        @cipchk
components/upload/**                      @cipchk
components/auto-complete/**               @hsuanxyz
components/avatar/**                      @hsuanxyz
components/badge/**                       @hsuanxyz
components/comment/**                     @hsuanxyz
components/drawer/**                      @hsuanxyz
components/mention/**                     @hsuanxyz
components/modal/**                       @hsuanxyz
components/steps/**                       @hsuanxyz
components/tag/**                         @hsuanxyz
components/tree-select/**                 @hsuanxyz
components/tree-view/**                   @hsuanxyz
components/typography/**                  @hsuanxyz
components/space/**                       @hsuanxyz
components/resizable/**                   @hsuanxyz
components/tabs/**                        @hsuanxyz
components/breadcrumb/**                  @hullis
components/empty/**                       @hullis
components/carousel/**                    @hullis
components/cascader/**                    @hullis
components/descriptions/**                @hullis
components/icon/**                        @hullis
components/message/**                     @hullis
components/notification/**                @hullis
components/popconfirm/**                  @hullis
components/popover/**                     @hullis
components/progress/**                    @hullis
components/rate/**                        @hullis
components/result/**                      @hullis
components/slider/**                      @hullis
components/statistic/**                   @hullis
components/timeline/**                    @hullis
components/tooltip/**                     @hullis
components/code-editor/**                 @hullis
components/segmented/**                   @hullis
components/calendar/**                    @wenqi73
components/date-picker/**                 @wenqi73
components/skeleton/**                    @wenqi73
components/time-picker/**                 @wenqi73
components/alert/**                       @vthinkxie
components/button/**                      @vthinkxie
components/card/**                        @vthinkxie
components/checkbox/**                    @vthinkxie
components/collapse/**                    @vthinkxie
components/divider/**                     @vthinkxie
components/dropdown/**                    @vthinkxie
components/grid/**                        @vthinkxie
components/input/**                       @vthinkxie
components/input-number/**                @vthinkxie
components/layout/**                      @vthinkxie
components/menu/**                        @vthinkxie
components/pagination/**                  @vthinkxie
components/radio/**                       @vthinkxie
components/select/**                      @vthinkxie
components/spin/**                        @vthinkxie
components/switch/**                      @vthinkxie
components/table/**                       @vthinkxie
components/tree/**                        @simplejason
components/form/**                        @danranVm
components/page-header/**                 @CK110
components/transfer/**                    @Ricbet
components/i18n/**                        @wenqi73
components/pipes/**                       @chensimeng
components/image/**                       @stygian-desolator

# The `components/core/*` owners
components/core/config/**                 @hullis
components/core/element-patch/**          @hullis
components/core/highlight/**              @hsuanxyz
components/core/resize-observers/**       @hullis
components/core/logger/**                 @hullis
components/core/no-animation/**           @hsuanxyz
components/core/outlet/**                 @vthinkxie
components/core/time/**                   @wenqi73
components/core/trans-button/**           @hsuanxyz
components/core/transition-patch/**       @vthinkxie
components/core/tree/**                   @simplejason @hsuanxyz
components/core/wave/**                   @hsuanxyz

# Misc
docs/**                                   @NG-ZORRO/antd
schematics/**                             @hsuanxyz
script/**                                 @hsuanxyz
README.md                                 @vthinkxie
README-zh_CN.md                           @vthinkxie
CONTRIBUTING.md                           @vthinkxie
CODE_OF_CONDUCT.md                        @vthinkxie
