Repository NG-ZORRO/ng-zorro-antd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cipchk, @hsuanxyz, @hullis, @wenqi73, @vthinkxie, @simplejason, @danranVm, @CK110, @Ricbet, @chensimeng, @stygian-desolator, @NG-ZORRO/antd

feat(module: alert): support custom icon
  components/alert/alert.component.ts
  components/alert/alert.spec.ts
  components/alert/demo/custom-icon.md
  components/alert/demo/custom-icon.ts
  components/alert/doc/index.en-US.md
  components/alert/doc/index.zh-CN.md
  components/alert/style/patch.less
Owners: @vthinkxie

feat(module: alert): support custom icon (#7691)
  components/alert/alert.component.ts
  components/alert/alert.spec.ts
  components/alert/demo/custom-icon.md
  components/alert/demo/custom-icon.ts
  components/alert/doc/index.en-US.md
  components/alert/doc/index.zh-CN.md
  components/alert/style/patch.less
Owners: @vthinkxie

feat(module:select): select on Tab support
  components/select/doc/index.en-US.md
  components/select/doc/index.zh-CN.md
  components/select/select.component.ts
  components/select/select.spec.ts
Owners: @vthinkxie

chore(release): release 14.2.0
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Owners: @NG-ZORRO/antd

chore(release): release 14.2.0 (#7730)
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Owners: @NG-ZORRO/antd

chore: set node version
  azure-pipelines.yml
Owners: none

fix(module:i18n): add missing hu texts
  components/i18n/languages/hu_HU.ts
Owners: @wenqi73

docs(module:table): add missing nzShowSort to English documentation (#7736)
  components/table/doc/index.en-US.md
Owners: @vthinkxie

fix(module:i18n): add missing hu texts (#7733)
  components/i18n/languages/hu_HU.ts
Owners: @wenqi73

docs(module:table): add missing nzShowSort to English documentation (#7736) (#7737)
  components/table/doc/index.en-US.md
Owners: @vthinkxie

chore: fix animation.disabled triggering condition
  components/auto-complete/autocomplete.component.ts
  components/cascader/cascader.component.ts
  components/collapse/collapse-panel.component.ts
  components/dropdown/dropdown-menu.component.ts
  components/menu/submenu.component.ts
  components/popconfirm/popconfirm.ts
  components/popover/popover.ts
  components/select/select.component.ts
  components/tooltip/tooltip.ts
  components/tree-select/tree-select.component.ts
  components/tree-view/tree-view.ts
  components/tree/tree.component.ts
Owners: @hsuanxyz, @hullis, @vthinkxie, @simplejason

build: set version of node instead of using latest
  azure-pipelines.yml
Owners: none

docs(module:table): update wrong parameter name
  components/table/doc/index.en-US.md
Owners: @vthinkxie

build: set version of node instead of using latest (#7740)
  azure-pipelines.yml
Owners: none

chore: fix animation.disabled triggering condition (#7739)
  components/auto-complete/autocomplete.component.ts
  components/cascader/cascader.component.ts
  components/collapse/collapse-panel.component.ts
  components/dropdown/dropdown-menu.component.ts
  components/menu/submenu.component.ts
  components/popconfirm/popconfirm.ts
  components/popover/popover.ts
  components/select/select.component.ts
  components/tooltip/tooltip.ts
  components/tree-select/tree-select.component.ts
  components/tree-view/tree-view.ts
  components/tree/tree.component.ts
Owners: @hsuanxyz, @hullis, @vthinkxie, @simplejason

fix(module:select): activated value resetting during load on scroll (#7725)
  components/select/select.component.ts
Owners: @vthinkxie

chore(release): release 14.2.1
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Owners: @NG-ZORRO/antd

chore(release): release 14.2.1 (#7744)
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Owners: @NG-ZORRO/antd

docs(module:table): update wrong parameter name
  components/table/doc/index.en-US.md
Owners: @vthinkxie

chore(packaging): migrate angular to v15
  azure-pipelines.yml
Owners: none

docs(module:table): update wrong parameter name (#7741)
  components/table/doc/index.en-US.md
Owners: @vthinkxie

feat(module:cron-expression): brand new cron result display
  components/cron-expression/cron-expression-input.component.ts
  components/cron-expression/cron-expression-label.component.ts
  components/cron-expression/cron-expression-preview.component.ts
  components/cron-expression/cron-expression.component.ts
  components/cron-expression/cron-expression.module.ts
  components/cron-expression/demo/semantic.md
  components/cron-expression/demo/semantic.ts
  components/cron-expression/demo/use.md
  components/cron-expression/doc/index.en-US.md
  components/cron-expression/doc/index.zh-CN.md
  components/cron-expression/style/index.less
Owners: none

feat(module:cron-expression): delete CollapseModule
  components/cron-expression/cron-expression.module.ts
Owners: none

Translation Update
  components/select/doc/index.zh-CN.md
Owners: @vthinkxie

fix(module:input): textarea-count combined with nzHasFeedback location (#7709)
  components/form/demo/validate-reactive.ts
  components/input/style/patch.less
Owners: @danranVm, @vthinkxie

feat(module:cron-expression): Optimize cron result display & support custom rendering cron time (#7750)
  components/cron-expression/cron-expression-input.component.ts
  components/cron-expression/cron-expression-label.component.ts
  components/cron-expression/cron-expression-preview.component.ts
  components/cron-expression/cron-expression.component.ts
  components/cron-expression/cron-expression.module.ts
  components/cron-expression/demo/semantic.md
  components/cron-expression/demo/semantic.ts
  components/cron-expression/demo/use.md
  components/cron-expression/doc/index.en-US.md
  components/cron-expression/doc/index.zh-CN.md
  components/cron-expression/style/index.less
Owners: none

feat(module:date-picker): add ElementRef type to nzSeparator (#7721)
  components/date-picker/date-picker.component.ts
  components/date-picker/doc/index.en-US.md
  components/date-picker/doc/index.zh-CN.md
  components/date-picker/range-picker.component.spec.ts
Owners: @wenqi73

fix(module:list): specify template ref context to match instantiation
  components/list/list.component.ts
Owners: @cipchk

fix(module:tree): tree select search slow in virtual mode (#7385)
  components/tree-select/demo/virtual-scroll.ts
  components/tree/tree.component.ts
  components/tree/tree.spec.ts
Owners: @hsuanxyz, @simplejason

fix(module: tree): nz-tree-drop-indicator for custom tree node templates (#7579)
  components/tree/tree-node-title.component.ts
Owners: @simplejason

fix(module:list): specify template ref context to match instantiation (#7756)
  components/list/list.component.ts
Owners: @cipchk

feat(module:select): select on Tab support (#7728)
  components/select/doc/index.en-US.md
  components/select/doc/index.zh-CN.md
  components/select/select.component.ts
  components/select/select.spec.ts
Owners: @vthinkxie

fix(module:select): disabled option can be selected by Enter (#7686)
  components/select/select.component.ts
  components/select/select.spec.ts
Owners: @vthinkxie

feat(module:tree-select): support to set placement (#7551)
  components/tree-select/demo/module
  components/tree-select/demo/placement.md
  components/tree-select/demo/placement.ts
  components/tree-select/doc/index.en-US.md
  components/tree-select/doc/index.zh-CN.md
  components/tree-select/tree-select.component.ts
Owners: @hsuanxyz

chore(release): release 14.3.0
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Owners: @NG-ZORRO/antd

chore(release): release 14.3.0 (#7765)
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Owners: @NG-ZORRO/antd

perf(module:form): remove a unused variable
  components/form/form-control.component.ts
Owners: @danranVm

perf(module:date-picker): remove unused variable
  components/date-picker/date-picker.component.ts
Owners: @wenqi73

refactor(module:drawer): make `NzDrawerService` provided in root
  components/drawer/drawer.service.ts
Owners: @hsuanxyz

perf(module:date-picker): remove unused variable (#7767)
  components/date-picker/date-picker.component.ts
Owners: @wenqi73

.github/CODEOWNERS:

# The components owners
components/affix/**                       @cipchk
components/anchor/**                      @cipchk
components/back-top/**                    @cipchk
components/list/**                        @cipchk
components/upload/**                      @cipchk
components/auto-complete/**               @hsuanxyz
components/avatar/**                      @hsuanxyz
components/badge/**                       @hsuanxyz
components/comment/**                     @hsuanxyz
components/drawer/**                      @hsuanxyz
components/mention/**                     @hsuanxyz
components/modal/**                       @hsuanxyz
components/steps/**                       @hsuanxyz
components/tag/**                         @hsuanxyz
components/tree-select/**                 @hsuanxyz
components/tree-view/**                   @hsuanxyz
components/typography/**                  @hsuanxyz
components/space/**                       @hsuanxyz
components/resizable/**                   @hsuanxyz
components/tabs/**                        @hsuanxyz
components/breadcrumb/**                  @hullis
components/empty/**                       @hullis
components/carousel/**                    @hullis
components/cascader/**                    @hullis
components/descriptions/**                @hullis
components/icon/**                        @hullis
components/message/**                     @hullis
components/notification/**                @hullis
components/popconfirm/**                  @hullis
components/popover/**                     @hullis
components/progress/**                    @hullis
components/rate/**                        @hullis
components/result/**                      @hullis
components/slider/**                      @hullis
components/statistic/**                   @hullis
components/timeline/**                    @hullis
components/tooltip/**                     @hullis
components/code-editor/**                 @hullis
components/segmented/**                   @hullis
components/calendar/**                    @wenqi73
components/date-picker/**                 @wenqi73
components/skeleton/**                    @wenqi73
components/time-picker/**                 @wenqi73
components/alert/**                       @vthinkxie
components/button/**                      @vthinkxie
components/card/**                        @vthinkxie
components/checkbox/**                    @vthinkxie
components/collapse/**                    @vthinkxie
components/divider/**                     @vthinkxie
components/dropdown/**                    @vthinkxie
components/grid/**                        @vthinkxie
components/input/**                       @vthinkxie
components/input-number/**                @vthinkxie
components/layout/**                      @vthinkxie
components/menu/**                        @vthinkxie
components/pagination/**                  @vthinkxie
components/radio/**                       @vthinkxie
components/select/**                      @vthinkxie
components/spin/**                        @vthinkxie
components/switch/**                      @vthinkxie
components/table/**                       @vthinkxie
components/tree/**                        @simplejason
components/form/**                        @danranVm
components/page-header/**                 @CK110
components/transfer/**                    @Ricbet
components/i18n/**                        @wenqi73
components/pipes/**                       @chensimeng
components/image/**                       @stygian-desolator

# The `components/core/*` owners
components/core/config/**                 @hullis
components/core/element-patch/**          @hullis
components/core/highlight/**              @hsuanxyz
components/core/resize-observers/**       @hullis
components/core/logger/**                 @hullis
components/core/no-animation/**           @hsuanxyz
components/core/outlet/**                 @vthinkxie
components/core/time/**                   @wenqi73
components/core/trans-button/**           @hsuanxyz
components/core/transition-patch/**       @vthinkxie
components/core/tree/**                   @simplejason @hsuanxyz
components/core/wave/**                   @hsuanxyz

# Misc
docs/**                                   @NG-ZORRO/antd
schematics/**                             @hsuanxyz
script/**                                 @hsuanxyz
README.md                                 @vthinkxie
README-zh_CN.md                           @vthinkxie
CONTRIBUTING.md                           @vthinkxie
CODE_OF_CONDUCT.md                        @vthinkxie
