Repository NG-ZORRO/ng-zorro-antd, pull requests merged in 2024-10, with the labels that each got.

#8806 refactor(module:spin,skeleton): migrate demo to standalone mode
  components/skeleton/demo/active.ts
  components/skeleton/demo/basic.ts
  components/skeleton/demo/children.ts
  components/skeleton/demo/complex.ts
  components/skeleton/demo/element.ts
  components/skeleton/demo/list.ts
  components/skeleton/demo/module
  components/skeleton/skeleton.spec.ts
  components/spin/demo/basic.ts
  components/spin/demo/custom-indicator.ts
  components/spin/demo/delay-and-debounce.ts
  components/spin/demo/inside.ts
  components/spin/demo/module
  components/spin/demo/nested.ts
  components/spin/demo/size.ts
  components/spin/demo/tip.ts
  components/spin/spin.spec.ts
Labels: :scroll: Doc, Component: Skeleton, Component: Spin, PR: reviewed-approved, PR: target-patch

#8793 refactor(module:menu,pagination): migrate demo to standalone mode
  components/menu/demo/horizontal-position.ts
  components/menu/demo/horizontal.ts
  components/menu/demo/inline-collapsed.ts
  components/menu/demo/inline.ts
  components/menu/demo/module
  components/menu/demo/recursive.ts
  components/menu/demo/router.ts
  components/menu/demo/sider-current.ts
  components/menu/demo/switch-mode.ts
  components/menu/demo/theme.ts
  components/menu/demo/vertical.ts
  components/menu/menu.spec.ts
  components/pagination/demo/basic.ts
  components/pagination/demo/changer.ts
  components/pagination/demo/controlled.ts
  components/pagination/demo/item-render.ts
  components/pagination/demo/jump.ts
  components/pagination/demo/mini.ts
  components/pagination/demo/module
  components/pagination/demo/more.ts
  components/pagination/demo/simple.ts
  components/pagination/demo/total.ts
  components/pagination/pagination.spec.ts
Labels: :scroll: Doc, Component: Menu, Component: Pagination, PR: reviewed-approved, PR: target-patch

#8800 refactor(module:progress,statistic,rate,result): migrate demo to standalone mode
  components/progress/demo/circle-dynamic.ts
  components/progress/demo/circle-mini.ts
  components/progress/demo/circle.ts
  components/progress/demo/dashboard-layout.ts
  components/progress/demo/dashboard.ts
  components/progress/demo/dynamic.ts
  components/progress/demo/format.ts
  components/progress/demo/gradient.ts
  components/progress/demo/line-mini.ts
  components/progress/demo/line.ts
  components/progress/demo/module
  components/progress/demo/round.ts
  components/progress/demo/segment.ts
  components/progress/demo/step.ts
  components/progress/progress.spec.ts
  components/rate/demo/basic.ts
  components/rate/demo/character.ts
  components/rate/demo/clear.ts
  components/rate/demo/customize.ts
  components/rate/demo/disabled.ts
  components/rate/demo/half.ts
  components/rate/demo/module
  components/rate/demo/text.ts
  components/rate/rate.spec.ts
  components/result/demo/custom.ts
  components/result/demo/error.ts
  components/result/demo/fof.ts
  components/result/demo/foo.ts
  components/result/demo/fot.ts
  components/result/demo/info.ts
  components/result/demo/module
  components/result/demo/success.ts
  components/result/demo/warning.ts
  components/result/result.spec.ts
  components/statistic/countdown.spec.ts
  components/statistic/demo/basic.ts
  components/statistic/demo/card.ts
  components/statistic/demo/countdown.ts
  components/statistic/demo/module
  components/statistic/demo/unit.ts
  components/statistic/statistic-number.spec.ts
  components/statistic/statistic.spec.ts
Labels: :scroll: Doc, Component: Progress, Component: Rate, PR: reviewed-approved, PR: target-patch, Component: Result

#8813 refactor(module:tree,tree-select,tree-view): migrate demo to standalone mode
  components/tree-select/demo/async.ts
  components/tree-select/demo/basic.ts
  components/tree-select/demo/checkable.ts
  components/tree-select/demo/customized-icon.ts
  components/tree-select/demo/module
  components/tree-select/demo/multiple.ts
  components/tree-select/demo/no-data.ts
  components/tree-select/demo/placement.ts
  components/tree-select/demo/status.ts
  components/tree-select/demo/virtual-scroll.ts
  components/tree-view/demo/basic.ts
  components/tree-view/demo/checkbox.ts
  components/tree-view/demo/directory.ts
  components/tree-view/demo/dynamic.ts
  components/tree-view/demo/editable.ts
  components/tree-view/demo/line.ts
  components/tree-view/demo/module
  components/tree-view/demo/search.ts
  components/tree-view/demo/virtual-scroll.ts
  components/tree/demo/basic-controlled.ts
  components/tree/demo/basic.ts
  components/tree/demo/customized-icon.ts
  components/tree/demo/directory.ts
  components/tree/demo/draggable-confirm.ts
  components/tree/demo/draggable.ts
  components/tree/demo/dynamic.ts
  components/tree/demo/line.ts
  components/tree/demo/module
  components/tree/demo/search.ts
  components/tree/demo/virtual-scroll.ts
  components/tree/tree.spec.ts
Labels: :scroll: Doc, Component: Tree, Component: TreeSelect, PR: reviewed-approved, PR: target-patch, Component: TreeView

#8815 refactor(module:time-picker,timeline): migrate demo to standalone mode
  components/time-picker/demo/addon.ts
  components/time-picker/demo/basic.ts
  components/time-picker/demo/bordered.ts
  components/time-picker/demo/disabled-part.ts
  components/time-picker/demo/disabled.ts
  components/time-picker/demo/hide-column.ts
  components/time-picker/demo/interval-options.ts
  components/time-picker/demo/module
  components/time-picker/demo/size.ts
  components/time-picker/demo/status.ts
  components/time-picker/demo/use12-hours.ts
  components/time-picker/demo/value.ts
  components/time-picker/time-holder.spec.ts
  components/time-picker/time-picker-panel.component.spec.ts
  components/time-picker/time-picker.component.spec.ts
  components/time-picker/time-value-accessor.directive.spec.ts
  components/timeline/demo/alternate.ts
  components/timeline/demo/basic.ts
  components/timeline/demo/color.ts
  components/timeline/demo/custom.ts
  components/timeline/demo/label.ts
  components/timeline/demo/module
  components/timeline/demo/pending.ts
  components/timeline/demo/position.ts
  components/timeline/demo/right.ts
  components/timeline/timeline.spec.ts
Labels: :scroll: Doc, Component: TimeLine, Component: TimePicker, PR: reviewed-approved, PR: target-patch

#8816 refactor(module:hash-code,qrcode,watermark): migrate demo to standalone mode
  components/hash-code/demo/basic.ts
  components/hash-code/demo/copy.ts
  components/hash-code/demo/logo.ts
  components/hash-code/demo/module
  components/hash-code/demo/primary.ts
  components/hash-code/demo/rect.ts
  components/hash-code/demo/single.ts
  components/hash-code/demo/strip.ts
  components/hash-code/hash-code.component.spec.ts
  components/qr-code/demo/background.ts
  components/qr-code/demo/basic.ts
  components/qr-code/demo/color.ts
  components/qr-code/demo/download.ts
  components/qr-code/demo/error-level.ts
  components/qr-code/demo/icon.ts
  components/qr-code/demo/module
  components/qr-code/demo/padding.ts
  components/qr-code/demo/status.ts
  components/water-mark/demo/basic.ts
  components/water-mark/demo/custom.ts
  components/water-mark/demo/image.ts
  components/water-mark/demo/module
  components/water-mark/demo/multi-line.ts
  components/water-mark/water-mark.spec.ts
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-patch, Component: Watermark, Component: QRCode, Component: HashCode

#8818 refactor(module:tabs,segmented): migrate demo to standalone mode
  components/segmented/demo/basic.ts
  components/segmented/demo/block.ts
  components/segmented/demo/custom.ts
  components/segmented/demo/disabled.ts
  components/segmented/demo/dynamic.ts
  components/segmented/demo/icon.ts
  components/segmented/demo/module
  components/segmented/demo/size.ts
  components/segmented/demo/value.ts
  components/segmented/demo/with-icon-only.ts
  components/segmented/segmented.spec.ts
  components/tabs/demo/basic.ts
  components/tabs/demo/card-top.ts
  components/tabs/demo/card.ts
  components/tabs/demo/centered.ts
  components/tabs/demo/custom-add-trigger.ts
  components/tabs/demo/disabled.ts
  components/tabs/demo/editable-card.ts
  components/tabs/demo/extra.ts
  components/tabs/demo/guard.ts
  components/tabs/demo/icon.ts
  components/tabs/demo/lazy.ts
  components/tabs/demo/link-router.ts
  components/tabs/demo/module
  components/tabs/demo/position.ts
  components/tabs/demo/size.md
  components/tabs/demo/size.ts
  components/tabs/demo/slide.ts
  components/tabs/tabset.component.spec.ts
Labels: :scroll: Doc, Component: Tabs, PR: reviewed-approved, PR: target-patch, Component: Segmented

#8817 refactor(module:tag,typography): migrate demo to standalone mode
  components/tag/demo/basic.ts
  components/tag/demo/borderless.ts
  components/tag/demo/checkable.ts
  components/tag/demo/colorful.ts
  components/tag/demo/control.ts
  components/tag/demo/hot-tags.ts
  components/tag/demo/icon.ts
  components/tag/demo/module
  components/tag/demo/status.ts
  components/tag/tag.spec.ts
  components/typography/demo/basic.ts
  components/typography/demo/ellipsis.ts
  components/typography/demo/interactive.ts
  components/typography/demo/module
  components/typography/demo/suffix.ts
  components/typography/demo/text.ts
  components/typography/demo/title.ts
  components/typography/typography.spec.ts
Labels: :scroll: Doc, Component: Tag, PR: reviewed-approved, PR: target-patch, Component: Typography

#8810 test(module:checkbox): added missing tests
  components/checkbox/checkbox.spec.ts
Labels: Component: Checkbox, PR: reviewed-approved, PR: target-patch, 🧪 Test Case

#8804 fix(module:modal,drawer): secondary overlays not scrolling inside
  components/drawer/drawer.component.ts
  components/modal/modal-confirm-container.component.ts
  components/modal/modal-container.component.ts
Labels: Component: Modal, Component: Drawer, PR: reviewed-approved, PR: target-patch

#8786 test(module:breadcrumb): added missing tests
  components/breadcrumb/breadcrumb.spec.ts
Labels: Component: BreadCrumb, PR: reviewed-approved, PR: target-patch, 🧪 Test Case

#8811 test(module:cdk): added missing tests for resize observer
  components/cdk/resize-observer/resize-observer.spec.ts
Labels: PR: unreviewed, PR: reviewed-changes-requested, PR: target-patch, 🧪 Test Case

#8781 test(module:avatar): added missing tests
  components/avatar/avatar.spec.ts
Labels: Component: Avatar, PR: unreviewed, PR: target-patch, 🧪 Test Case

#8828 fix(module:dropdown): doc ui issue
  components/dropdown/demo/placement.ts
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-patch

#8821 refactor(module:upload,transfer,cascader): migrate demo to standalone mode
  components/cascader/cascader.spec.ts
  components/cascader/demo/basic.ts
  components/cascader/demo/change-on-function.ts
  components/cascader/demo/change-on-select.ts
  components/cascader/demo/custom-field-names.ts
  components/cascader/demo/custom-render.ts
  components/cascader/demo/custom-template.ts
  components/cascader/demo/default-value-and-async-options.md
  components/cascader/demo/default-value-and-async-options.ts
  components/cascader/demo/default-value-and-lazy-load.md
  components/cascader/demo/default-value-and-lazy-load.ts
  components/cascader/demo/default-value.ts
  components/cascader/demo/disabled.ts
  components/cascader/demo/hover.ts
  components/cascader/demo/lazy.ts
  components/cascader/demo/modal.ts
  components/cascader/demo/module
  components/cascader/demo/reactive-form.ts
  components/cascader/demo/search.ts
  components/cascader/demo/size.ts
  components/cascader/demo/status.ts
  components/cascader/demo/trigger-action.ts
  components/cascader/demo/trigger.ts
  components/transfer/demo/advanced.ts
  components/transfer/demo/basic.ts
  components/transfer/demo/can-move.ts
  components/transfer/demo/custom-item.ts
  components/transfer/demo/module
  components/transfer/demo/search.ts
  components/transfer/demo/status.ts
  components/transfer/demo/table-transfer.ts
  components/transfer/demo/tree-transfer.ts
  components/transfer/transfer.spec.ts
  components/upload/demo/avatar.ts
  components/upload/demo/basic.ts
  components/upload/demo/default-file-list.ts
  components/upload/demo/directory.ts
  components/upload/demo/drag.ts
  components/upload/demo/file-list.ts
  components/upload/demo/module
  components/upload/demo/picture-card.ts
  components/upload/demo/picture-style.ts
  components/upload/demo/preview-file.ts
  components/upload/demo/transform-file.ts
  components/upload/demo/upload-manually.ts
  components/upload/demo/upload-with-aliyun-oss.ts
  components/upload/upload.spec.ts
Labels: :scroll: Doc, Component: Upload, Component: Cascader, Component: Transfer, PR: reviewed-approved, PR: target-patch

#8845 feat(module:tabs): support destroyInactiveTabPane input
  components/tabs/demo/guard.ts
  components/tabs/demo/lazy.md
  components/tabs/doc/index.en-US.md
  components/tabs/doc/index.zh-CN.md
  components/tabs/tab-body.component.ts
  components/tabs/tab.component.ts
  components/tabs/tabset.component.spec.ts
  components/tabs/tabset.component.ts
Labels: Component: Tabs, PR: reviewed-approved, PR: target-minor

#8798 fix(module:modal): remove dark backdrop when nzMask is false
  components/modal/modal.service.ts
  components/modal/modal.spec.ts
Labels: Component: Modal, PR: reviewed-approved, PR: target-patch

#8846 test(module:image): fix test
  components/image/image.spec.ts
Labels: PR: reviewed-approved, PR: target-patch, Component: Image, 🧪 Test Case

#8822 refactor(module:experimental-image,resizable,graph,pipes): migrate demo to standalone mode
  components/experimental-image/demo/auto-srcset.ts
  components/experimental-image/demo/module
  components/experimental-image/demo/preloading.ts
  components/experimental-image/demo/src-loader.ts
  components/graph/demo/customized.ts
  components/graph/demo/module
  components/pipes/demo/aggregate.ts
  components/pipes/demo/bytes.ts
  components/pipes/demo/css-unit.ts
  components/pipes/demo/ellipsis.ts
  components/pipes/demo/module
  components/pipes/demo/safe-null.ts
  components/pipes/demo/sanitizer.ts
  components/pipes/demo/trim.ts
  components/resizable/demo/basic.ts
  components/resizable/demo/customize.ts
  components/resizable/demo/drawer.ts
  components/resizable/demo/grid.ts
  components/resizable/demo/layout.ts
  components/resizable/demo/lock-aspect-ratio.ts
  components/resizable/demo/module
  components/resizable/demo/preview.ts
  components/resizable/demo/table.ts
  components/resizable/resizable.spec.ts
Labels: :scroll: Doc, PR: reviewed-approved, Component: Resizable, PR: target-patch, Component: Image, Component: Graph, Pipes

#8797 refactor(module:popover,tooltip,popconfirm): migrate demo to standalone mode
  components/popconfirm/demo/async.ts
  components/popconfirm/demo/basic.ts
  components/popconfirm/demo/custom-icon.ts
  components/popconfirm/demo/dynamic-trigger.ts
  components/popconfirm/demo/hide-arrow.ts
  components/popconfirm/demo/locale.ts
  components/popconfirm/demo/module
  components/popconfirm/demo/placement.ts
  components/popconfirm/demo/promise.ts
  components/popconfirm/popconfirm.spec.ts
  components/popover/demo/arrow-point-at-center.ts
  components/popover/demo/basic.ts
  components/popover/demo/control.ts
  components/popover/demo/module
  components/popover/demo/placement.ts
  components/popover/demo/template.ts
  components/popover/demo/trigger-type.ts
  components/popover/popover.spec.ts
  components/tooltip/demo/arrow-point-at-center.ts
  components/tooltip/demo/basic.ts
  components/tooltip/demo/color.ts
  components/tooltip/demo/module
  components/tooltip/demo/origin.ts
  components/tooltip/demo/placement.ts
  components/tooltip/demo/template.ts
  components/tooltip/tooltip.spec.ts
Labels: :scroll: Doc, Component: Tooltip, Component: Popconfirm, Component: Popover, PR: reviewed-approved, PR: target-patch

#8820 refactor(module:table): migrate demo to standalone mode
  components/table/demo/ajax.ts
  components/table/demo/basic.ts
  components/table/demo/bordered.ts
  components/table/demo/break-word.ts
  components/table/demo/colspan-rowspan.ts
  components/table/demo/custom-column.ts
  components/table/demo/custom-filter-panel.ts
  components/table/demo/drag-sorting.ts
  components/table/demo/dynamic-settings.ts
  components/table/demo/edit-cell.ts
  components/table/demo/edit-row.ts
  components/table/demo/ellipsis.ts
  components/table/demo/expand-children.ts
  components/table/demo/expand-icon.ts
  components/table/demo/expand.ts
  components/table/demo/fixed-columns-header.ts
  components/table/demo/fixed-columns.ts
  components/table/demo/fixed-header.ts
  components/table/demo/grouping-columns.ts
  components/table/demo/module
  components/table/demo/multiple-sorter.ts
  components/table/demo/nested-table.ts
  components/table/demo/reset-filter.ts
  components/table/demo/row-selection-and-operation.ts
  components/table/demo/row-selection-custom.ts
  components/table/demo/size.ts
  components/table/demo/sort-filter.ts
  components/table/demo/summary.ts
  components/table/demo/template.ts
  components/table/demo/virtual.ts
  components/table/src/testing/custom-column.spec.ts
  components/table/src/testing/table.spec.ts
  components/table/src/testing/tbody.spec.ts
  components/table/src/testing/td.spec.ts
  components/table/src/testing/tfoot.spec.ts
  components/table/src/testing/th.spec.ts
  components/table/src/testing/thead.spec.ts
  components/table/src/testing/tr.spec.ts
Labels: :scroll: Doc, Component: Table, PR: reviewed-approved, PR: target-patch
