Repository NG-ZORRO/ng-zorro-antd, pull requests merged in 2024-12, with the labels that each got.

#8904 docs: fix translation mistake of table documentation
  components/table/demo/multiple-sorter.md
Labels: :scroll: Doc, Component: Table, PR: reviewed-approved, PR: target-patch

#8906 fix(module:space): fix bug of space-compact
  components/space/space-compact.component.ts
Labels: PR: reviewed-approved, PR: target-patch, Component: Space

#8908 fix(module:space): fix style of compact mode of input & input-number
  components/auto-complete/autocomplete.spec.ts
  components/input-number/style/index.less
  components/input/style/index.less
  components/mention/mention.spec.ts
  components/space/demo/compact.ts
  components/space/space-compact-item.directive.ts
  components/space/space-compact.component.ts
  components/style/mixins/compact-item.less
Labels: Component: InputNumber, Component: Input, PR: reviewed-approved, PR: target-patch, Component: Space

#8903 feat(module:cascader): support multiple selection
  .github/CODEOWNERS
  components/cascader/cascader-option.component.ts
  components/cascader/cascader-tree.service.ts
  components/cascader/cascader.component.ts
  components/cascader/cascader.module.ts
  components/cascader/cascader.service.ts
  components/cascader/cascader.spec.ts
  components/cascader/demo/basic.ts
  components/cascader/demo/custom-render.md
  components/cascader/demo/multiple.md
  components/cascader/demo/multiple.ts
  components/cascader/demo/search.ts
  components/cascader/demo/size.md
  components/cascader/doc/index.en-US.md
  components/cascader/doc/index.zh-CN.md
  components/cascader/public-api.ts
  components/cascader/typings.ts
  components/cascader/utils.ts
  components/core/tree/nz-tree-base-node.ts
  components/core/tree/nz-tree-base.service.ts
  components/select/select-item.component.ts
  components/select/select-placeholder.component.ts
  components/select/select-top-control.component.ts
  components/select/select.component.ts
  components/space/demo/compact.ts
Labels: Component: Cascader, 💔 Breaking Change, PR: reviewed-approved, PR: target-major

#8909 refactor(module:input-number-legacy): rename selector to nz-input-number
  components/input-number-legacy/demo/addon.ts
  components/input-number-legacy/demo/basic.ts
  components/input-number-legacy/demo/borderless.ts
  components/input-number-legacy/demo/digit.ts
  components/input-number-legacy/demo/disabled.ts
  components/input-number-legacy/demo/formatter.ts
  components/input-number-legacy/demo/group.ts
  components/input-number-legacy/demo/precision.ts
  components/input-number-legacy/demo/prefix.ts
  components/input-number-legacy/demo/size.ts
  components/input-number-legacy/demo/status.ts
  components/input-number-legacy/doc/index.en-US.md
  components/input-number-legacy/doc/index.zh-CN.md
  components/input-number-legacy/input-number-group.spec.ts
  components/input-number-legacy/input-number.component.ts
  components/input-number-legacy/input-number.spec.ts
  components/input-number/style/patch.less
  components/space/space-compact.component.spec.ts
Labels: Component: InputNumber, PR: reviewed-approved, PR: target-major

#8910 fix(module:input-number): correctly render the feedback icon
  components/input-number/input-number.component.ts
Labels: Component: InputNumber, PR: reviewed-approved, PR: target-major

#8912 chore: remove `FADE_CLASS_NAME_MAP` and `IMAGE_PREVIEW_MASK_CLASS_NAME`
  components/image/image-config.ts
Labels: 💔 Breaking Change, PR: reviewed-approved, PR: target-major, Component: Image

#8913 refactor(module:input-number): use linkedSignal to simplify code
  components/input-number/input-number.component.ts
Labels: Component: InputNumber, PR: reviewed-approved, PR: target-major

#8911 feat(schematics): add v19 ng update migration
  components/cascader/demo/multiple.ts
  components/i18n/date-helper.service.spec.ts
  components/input-number-legacy/demo/addon.ts
  components/input-number-legacy/demo/basic.ts
  components/input-number-legacy/demo/borderless.ts
  components/input-number-legacy/demo/digit.ts
  components/input-number-legacy/demo/disabled.ts
  components/input-number-legacy/demo/formatter.ts
  components/input-number-legacy/demo/prefix.ts
  components/input-number-legacy/demo/size.ts
  components/input-number-legacy/demo/status.ts
  components/input-number-legacy/input-number.component.ts
  components/input-number/demo/handler-icon.ts
  components/input-number/demo/keyboard.ts
  components/input-number/demo/out-of-range.ts
  components/input-number/input-number.component.spec.ts
  components/input/input-addon.directive.ts
  components/input/input-affix.directive.ts
  docs/i18n.en-US.md
  docs/i18n.zh-CN.md
  schematics/README.md
  schematics/migration.json
  schematics/ng-add/index.spec.ts
  schematics/ng-add/setup-project/register-locale.ts
  schematics/ng-add/standalone.spec.ts
  schematics/ng-component/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.component.ts.template
  schematics/ng-generate/blank/index.ts
  schematics/ng-generate/side-menu/files/src/app/icons-provider.module.ts.template
  schematics/ng-generate/side-menu/files/src/app/pages/welcome/welcome.component.ts.template
  schematics/ng-generate/side-menu/index.spec.ts
  schematics/ng-generate/side-menu/standalone.spec.ts
  schematics/ng-generate/side-menu/standalone/src/app/app.component.html.template
  schematics/ng-generate/side-menu/standalone/src/app/app.component.ts.template
  schematics/ng-generate/side-menu/standalone/src/app/pages/welcome/welcome.component.ts.template
  schematics/ng-generate/topnav/files/src/app/app.component.ts.template
  schematics/ng-generate/topnav/files/src/app/pages/welcome/welcome.component.ts.template
  schematics/ng-generate/topnav/index.spec.ts
  schematics/ng-generate/topnav/standalone.spec.ts
  schematics/ng-generate/topnav/standalone/src/app/app.component.ts.template
  schematics/ng-generate/topnav/standalone/src/app/pages/welcome/welcome.component.ts.template
  schematics/ng-update/data/class-names.ts
  schematics/ng-update/data/import-specifiers.ts
  schematics/ng-update/data/index.ts
  schematics/ng-update/data/input-names.ts
  schematics/ng-update/data/symbol-removal.ts
  schematics/ng-update/index.ts
  schematics/ng-update/migrations/class-names.ts
  schematics/ng-update/migrations/import-specifiers.ts
  schematics/ng-update/migrations/index.ts
  schematics/ng-update/migrations/input-names.ts
  schematics/ng-update/test-cases/config.ts
  schematics/ng-update/upgrade-data.ts
  schematics/ng-update/upgrade-rules/checks/carousel-like-template-rule.ts
  schematics/ng-update/upgrade-rules/checks/date-fns-compatible-rule.ts
  schematics/ng-update/upgrade-rules/checks/icon-template-rule.ts
  schematics/ng-update/upgrade-rules/index.ts
Labels: PR: reviewed-approved, PR: target-major

#8917 chore(changelog): correct deprecations
  CHANGELOG.md
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Labels: :scroll: Doc

#8924 docs: update demo
  components/auto-complete/demo/status.ts
  components/cascader/demo/size.ts
  components/cascader/demo/status.ts
  components/select/demo/status.ts
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-major

#8926 refactor: remove usages of NzFormPatchModule
  components/date-picker/date-picker.component.ts
  components/input-number-legacy/input-number-group.component.ts
  components/input-number-legacy/input-number.component.ts
  components/input/input-group.component.ts
  components/mention/mention.component.ts
  components/select/select.component.ts
  components/time-picker/time-picker.component.ts
  components/tree-select/tree-select.component.ts
Labels: PR: reviewed-approved, PR: target-major

#8925 build: enable strictStandalone flag
  tsconfig.json
Labels: 🖨 Build, PR: unreviewed, PR: target-major

#8933 fix(module:input-number): fix nzDisabled bug when use with ngModel
  components/input-number/input-number.component.ts
Labels: Component: InputNumber, PR: reviewed-approved, PR: target-major

#8920 fix(module:tree-view): nzTreeNodePadding not works in virtual scroll
  components/tree-view/tree-virtual-scroll-view.ts
Labels: PR: reviewed-approved, PR: target-patch, Component: TreeView

#8929 fix(module:select): multiple selection don't show search input
  components/select/select-top-control.component.ts
Labels: Component: Select, PR: reviewed-approved, PR: target-major

#8934 refactor(module:transfer,tree,tree-select): rename CheckBox to Checkbox
  components/space/space-compact.token.ts
  components/transfer/demo/tree-transfer.ts
  components/tree-select/doc/index.en-US.md
  components/tree-select/doc/index.zh-CN.md
  components/tree-select/tree-select.component.ts
  components/tree/demo/basic-controlled.ts
  components/tree/demo/basic.ts
  components/tree/doc/index.en-US.md
  components/tree/doc/index.zh-CN.md
  components/tree/tree-node.component.ts
  components/tree/tree.component.ts
  components/tree/tree.spec.ts
  schematics/ng-update/data/output-names.ts
  schematics/ng-update/migrations/index.ts
  schematics/ng-update/migrations/output-names.ts
Labels: Component: Tree, 💔 Breaking Change, Component: TreeSelect, PR: reviewed-approved, PR: target-major

#8935 feat(module:cascader): support `nzPlacement`
  components/cascader/cascader.component.ts
  components/cascader/cascader.spec.ts
  components/cascader/demo/placement.md
  components/cascader/demo/placement.ts
  components/cascader/demo/status.md
  components/cascader/doc/index.en-US.md
  components/cascader/doc/index.zh-CN.md
  components/cascader/typings.ts
  components/core/overlay/overlay-position.ts
  components/select/select.component.ts
  components/tree-select/tree-select.component.ts
Labels: Component: Cascader, PR: reviewed-approved, PR: target-major

#8936 fix(module:input-number): fix value out of range when hold shift key
  components/input-number/input-number.component.spec.ts
  components/input-number/input-number.component.ts
Labels: Component: InputNumber, PR: reviewed-approved, PR: target-major

#8937 fix(module:cascader): abnormal width of search results
  components/cascader/cascader.component.ts
Labels: Component: Cascader, PR: reviewed-approved, PR: target-major

#8938 docs(module:input-number): fix demo impot module error
  components/input-number/doc/index.en-US.md
Labels: :scroll: Doc, Component: InputNumber, PR: reviewed-approved, PR: target-major

#8941 fix(module:cascader): should change check state trigger ngModelChange
  components/cascader/cascader.component.ts
  components/cascader/cascader.spec.ts
  components/cascader/demo/multiple.ts
Labels: Component: Cascader, PR: reviewed-approved, PR: target-major, PR: merge-ready

#8942 chore(changelog): update changelog for v19.0.0-beta.1
  CHANGELOG.md
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Labels: PR: reviewed-approved, PR: merge-ready

#8947 docs: remove standalone suffixes
  components/input/doc/index.en-US.md
  components/input/doc/index.zh-CN.md
  components/space/doc/index.en-US.md
  components/space/doc/index.zh-CN.md
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-patch

#8744 fix(module:date-picker): cell title should reflect nzFormat
  components/date-picker/date-picker.component.ts
  components/date-picker/date-range-popup.component.ts
  components/date-picker/inner-popup.component.ts
  components/date-picker/lib/date-table.component.ts
Labels: Component: DatePicker, PR: reviewed-approved, PR: target-patch

#8950 fix(module:i18n): add missing translations to zh_TW
  components/i18n/languages/zh_TW.ts
Labels: PR: reviewed-approved, PR: target-patch, Component: I18n
