Repository NG-ZORRO/ng-zorro-antd, pull requests merged in 2024-11, with the labels that each got.

#8850 fix(module:drawer): emit nzVisibleChange when close on navigation
  components/drawer/drawer.component.ts
Labels: Component: Drawer, PR: reviewed-approved, PR: target-patch

#8852 test(module:transfer): fix test case error
  components/transfer/transfer.spec.ts
Labels: 🧪 Test Case

#8788 test(module:button): added missing tests
  components/button/button.spec.ts
Labels: Component: Button, PR: reviewed-approved, PR: target-patch, 🧪 Test Case

#8855 refactor(module:slider): migrate demo to standalone mode
  components/slider/demo/basic.ts
  components/slider/demo/event.ts
  components/slider/demo/icon-slider.ts
  components/slider/demo/input-number.ts
  components/slider/demo/mark.ts
  components/slider/demo/module
  components/slider/demo/reverse.ts
  components/slider/demo/tip-formatter.ts
  components/slider/demo/tooltip.ts
  components/slider/demo/vertical.ts
  components/slider/slider.spec.ts
Labels: :scroll: Doc, Component: Slider, PR: unreviewed, PR: target-patch

#8857 docs: migrate online ide demo template to standalone mode
  angular.json
  scripts/site/_site/doc/app/online-ide/files/angular.json.ts
  scripts/site/_site/doc/app/online-ide/files/app.config.ts
  scripts/site/_site/doc/app/online-ide/files/app.module.ts
  scripts/site/_site/doc/app/online-ide/files/dot_angular-cli.json.ts
  scripts/site/_site/doc/app/online-ide/files/environment.ts
  scripts/site/_site/doc/app/online-ide/files/main.ts
  scripts/site/_site/doc/app/online-ide/files/ng-zorro-antd.module.ts
  scripts/site/_site/doc/app/online-ide/files/package.json.ts
  scripts/site/_site/doc/app/online-ide/files/polyfill.ts
  scripts/site/_site/doc/app/online-ide/files/tsconfig.app.json.ts
  scripts/site/_site/doc/app/online-ide/files/tsconfig.json.ts
  scripts/site/_site/doc/app/online-ide/online-ide.service.ts
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-minor

#8851 fix(module: select): multiple select cause switch size flash when init
  components/select/select-search.component.ts
Labels: Component: Select, PR: reviewed-approved, PR: target-patch

#8858 fix(module:badge): NG0955 warning in nz-badge-sup component
  components/badge/badge-sup.component.ts
Labels: :bug: Bug, Component: Badge, PR: unreviewed

#8860 test(module:carousel): remove invalid cases
  components/carousel/carousel.spec.ts
Labels: PR: reviewed-approved, 🧪 Test Case

#8859 docs: migrate iframe to standalone
  scripts/site/_site/iframe/app/app.component.html
  scripts/site/_site/iframe/app/app.component.ts
  scripts/site/_site/iframe/app/app.config.ts
  scripts/site/_site/iframe/app/app.routes.ts
  scripts/site/_site/iframe/main.ts
  scripts/site/template/app.module.template.ts
  scripts/site/template/iframe.routes.template.ts
  scripts/site/template/ng-zorro-antd.module.template.ts
  scripts/site/utils/generate-iframe.js
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-minor

#8854 chore: change owner to simplejason for reassignment
  .github/CODEOWNERS
  .github/auto_assign.yml
  .github/nz-boot.yml
Labels: PR: unreviewed

#8867 docs(module:experimental-image): provide missing NzImageService
  components/experimental-image/demo/auto-srcset.ts
  components/experimental-image/demo/preloading.ts
  components/experimental-image/demo/src-loader.md
  components/experimental-image/demo/src-loader.ts
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-patch, Component: Image

#8864 fix(module:anchor): fix 'a' tag problem with 'null' or 'undefined' value if templateRef provided
  components/anchor/anchor-link.component.ts
Labels: Component: Anchor, PR: reviewed-approved, PR: target-patch

#8870 test(module:*): deprecate internal APIs and remove references
  components/button/button-group.spec.ts
  components/color-picker/color-block.component.spec.ts
  components/color-picker/color-picker.component.spec.ts
  components/core/element-patch/element-patch.spec.ts
  components/core/form/nz-form-item-feedback-icon.spec.ts
  components/core/outlet/string_template_outlet.spec.ts
  components/core/testing/component-bed.ts
  components/core/testing/fake-viewport-ruler.ts
  components/core/testing/wrapped-error-message.ts
  components/core/transition-patch/transition-patch.spec.ts
  components/date-picker/date-picker.component.spec.ts
  components/flex/flex.spec.ts
  components/grid/grid.spec.ts
  components/icon/icon.spec.ts
  components/layout/layout.spec.ts
  components/qr-code/qrcode.component.spec.ts
Labels: PR: reviewed-approved, PR: target-patch

#8861 fix(module:qrcode): remove event listeners once settled
  components/qr-code/qrcode.ts
Labels: PR: reviewed-approved, PR: target-patch, Component: QRCode

#8862 fix(module:watermark): cleanup event listeners once settled
  components/water-mark/water-mark.component.ts
Labels: PR: target-patch, PR: partially-approved, Component: Watermark

#8873 fix(module:select): remove inline style (CSP compliant)
  components/select/option-item.component.ts
  components/select/style/index.less
Labels: Component: Select, PR: reviewed-approved, PR: target-patch

#8872 fix(module:transfer): fix transfer all selecting cancel event
  components/transfer/interface.ts
  components/transfer/transfer-list.component.ts
  components/transfer/transfer.component.ts
  components/transfer/transfer.spec.ts
Labels: Component: Transfer, PR: reviewed-approved, PR: target-patch

#8879 docs: open app.component.ts by default in stackblitz
  scripts/site/_site/doc/app/online-ide/online-ide.service.ts
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-patch

#8874 fix(module:colorpicker): remove inline style (CSP compliant)
  components/color-picker/src/components/gradient.component.ts
  components/color-picker/src/components/palette.component.ts
  components/color-picker/src/components/picker.component.ts
  components/color-picker/src/components/slider.component.ts
  components/color-picker/style/index.less
Labels: PR: reviewed-approved, PR: target-patch, Component: ColorPicker

#8875 fix(module:autocomplete): remove inline style (CSP compliant)
  components/auto-complete/autocomplete.component.ts
  components/auto-complete/style/patch.less
Labels: Component: AutoComplete, PR: reviewed-approved, PR: target-patch

#8866 fix(module:cascader): correct menu display level
  components/cascader/cascader.component.ts
  components/cascader/cascader.service.ts
  components/cascader/cascader.spec.ts
Labels: Component: Cascader, PR: reviewed-approved, PR: target-patch

#8754 fix(module:avatar): calculate size at the right time
  components/avatar/avatar.component.ts
  components/avatar/avatar.spec.ts
Labels: Component: Avatar, PR: reviewed-approved, PR: target-patch

#7884 feat(module:float-button): add float-button component
  .github/CODEOWNERS
  components/back-top/doc/index.en-US.md
  components/back-top/doc/index.zh-CN.md
  components/components.less
  components/float-button/demo/basic.md
  components/float-button/demo/basic.ts
  components/float-button/demo/description.md
  components/float-button/demo/description.ts
  components/float-button/demo/group-menu.md
  components/float-button/demo/group-menu.ts
  components/float-button/demo/group.md
  components/float-button/demo/group.ts
  components/float-button/demo/module
  components/float-button/demo/open.md
  components/float-button/demo/open.ts
  components/float-button/demo/shape.md
  components/float-button/demo/shape.ts
  components/float-button/demo/top.md
  components/float-button/demo/top.ts
  components/float-button/demo/type.md
  components/float-button/demo/type.ts
  components/float-button/doc/index.en-US.md
  components/float-button/doc/index.zh-CN.md
  components/float-button/float-button-content.component.ts
  components/float-button/float-button-group.component.spec.ts
  components/float-button/float-button-group.component.ts
  components/float-button/float-button-top.component.spec.ts
  components/float-button/float-button-top.component.ts
  components/float-button/float-button.component.spec.ts
  components/float-button/float-button.component.ts
  components/float-button/float-button.module.ts
  components/float-button/index.ts
  components/float-button/ng-package.json
  components/float-button/public-api.ts
  components/float-button/style/entry.less
  components/float-button/style/index.less
  scripts/prerender/route-paths.txt
  scripts/site/template/ng-zorro-antd.module.template.ts
Labels: :star: New Component, PR: reviewed-approved, PR: target-major, 🤚 Blocked By css-in-js, Component: FloatButton

#8777 chore(module:pipes): remove safe null pipe
  components/pipes/demo/safe-null.md
  components/pipes/demo/safe-null.ts
  components/pipes/doc/index.en-US.md
  components/pipes/doc/index.zh-CN.md
  components/pipes/nz-pipes.module.ts
  components/pipes/nz-safe-null.pipe.spec.ts
  components/pipes/nz-safe-null.pipe.ts
  components/pipes/public-api.ts
Labels: 💔 Breaking Change, PR: reviewed-approved, PR: target-major

#8827 feat(module:divider): add `nzVariant` option
  components/divider/demo/variant.md
  components/divider/demo/variant.ts
  components/divider/divider.component.ts
  components/divider/divider.spec.ts
  components/divider/doc/index.en-US.md
  components/divider/doc/index.zh-CN.md
  components/divider/style/entry.less
  components/divider/style/patch.less
Labels: PR: reviewed-approved, PR: target-major, Component: Divider

#8741 fix(module:card): remove borderless input
  components/card/card.component.ts
  components/card/doc/index.en-US.md
  components/card/doc/index.zh-CN.md
  components/core/config/config.ts
Labels: 💔 Breaking Change, Component: Card, PR: reviewed-approved, PR: target-major

#8802 docs(module:message,notification): update import usages
  components/message/doc/index.en-US.md
  components/message/doc/index.zh-CN.md
  components/message/message.module.ts
  components/notification/doc/index.en-US.md
  components/notification/doc/index.zh-CN.md
  components/notification/notification.module.ts
  components/notification/notification.service.module.ts
  scripts/site/_site/doc/app/app.component.ts
  scripts/site/_site/doc/app/app.config.ts
Labels: :scroll: Doc, Component: Notification, Component: Message, PR: reviewed-approved, PR: target-major

#8717 feat(module:transfer): use nzOneWay to make Transfer the one way style
  components/transfer/demo/advanced.md
  components/transfer/demo/can-move.md
  components/transfer/demo/custom-item.md
  components/transfer/demo/one-way.md
  components/transfer/demo/one-way.ts
  components/transfer/demo/search.md
  components/transfer/demo/status.md
  components/transfer/demo/table-transfer.md
  components/transfer/demo/tree-transfer.md
  components/transfer/doc/index.en-US.md
  components/transfer/doc/index.zh-CN.md
  components/transfer/transfer-list.component.ts
  components/transfer/transfer.component.ts
  components/transfer/transfer.spec.ts
Labels: Component: Transfer, PR: reviewed-approved, PR: target-major

#8809 feat(module:image): should close image preview if escape key to pressed
  components/image/image-preview.component.ts
  components/image/image.spec.ts
Labels: PR: reviewed-approved, PR: target-major, Component: Image

#8886 docs(module:transfer): fix demo error
  components/transfer/demo/one-way.ts
  components/transfer/transfer.spec.ts
Labels: :scroll: Doc, PR: reviewed-approved

#8739 refactor: migrate to standard decorators
  components/affix/affix.component.ts
  components/anchor/anchor.component.ts
  components/breadcrumb/breadcrumb.component.ts
  components/core/config/config.service.ts
  components/dropdown/dropdown.directive.ts
  components/float-button/float-button-top.component.ts
  components/graph/graph.component.ts
  components/image/image-preview.component.ts
  components/select/select.component.ts
  components/table/src/addon/filter-trigger.component.ts
  components/tabs/tabset.component.ts
  components/time-picker/time-picker-panel.component.ts
  components/time-picker/time-picker.component.ts
  components/tree-view/node.ts
  components/tree-view/outlet.ts
  components/tree-view/padding.ts
  components/tree-view/toggle.ts
  components/tree-view/tree-view.ts
  components/tree-view/tree-virtual-scroll-view.ts
  schematics/ng-update/test-cases/config.ts
  scripts/gulp/tsconfig.json
  scripts/prerender/tsconfig.json
  tsconfig.json
Labels: 💔 Breaking Change, PR: reviewed-approved, PR: target-major

#8753 feat(module:segmented): redesign the segmented component
  components/flex/demo/align.ts
  components/flex/demo/gap.ts
  components/flex/demo/wrap.ts
  components/qr-code/demo/error-level.ts
  components/segmented/demo/basic.ts
  components/segmented/demo/custom.md
  components/segmented/demo/custom.ts
  components/segmented/demo/disabled.ts
  components/segmented/demo/dynamic.ts
  components/segmented/demo/size.ts
  components/segmented/demo/value.md
  components/segmented/demo/value.ts
  components/segmented/doc/index.en-US.md
  components/segmented/doc/index.zh-CN.md
  components/segmented/public-api.ts
  components/segmented/segmented-item.component.ts
  components/segmented/segmented.component.ts
  components/segmented/segmented.module.ts
  components/segmented/segmented.service.ts
  components/segmented/segmented.spec.ts
  components/segmented/types.ts
Labels: 💔 Breaking Change, PR: reviewed-approved, PR: target-major, Component: Segmented

#8888 ci: fix lint-staged
  .lintstagedrc
Labels: PR: reviewed-approved

#8714 feat(module:qrcode): support custom state rendering
  components/qr-code/demo/background.md
  components/qr-code/demo/color.md
  components/qr-code/demo/custom-status.md
  components/qr-code/demo/custom-status.ts
  components/qr-code/demo/download.md
  components/qr-code/demo/error-level.md
  components/qr-code/demo/padding.md
  components/qr-code/doc/index.en-US.md
  components/qr-code/doc/index.zh-CN.md
  components/qr-code/qrcode.component.spec.ts
  components/qr-code/qrcode.component.ts
Labels: PR: reviewed-approved, PR: target-major, PR: need-rebase, Component: QRCode

#8889 ci: skip nz-image placeholder src test case
  components/image/image.spec.ts
Labels: PR: reviewed-approved

#8755 feat(module:space): add space compact component
  components/button/button-group.component.ts
  components/button/button.component.ts
  components/button/demo/button-group.md
  components/button/style/space-compact.less
  components/cascader/cascader.component.ts
  components/cascader/typings.ts
  components/core/types/size.ts
  components/date-picker/date-picker.component.ts
  components/input-number/demo/group.md
  components/input-number/input-number-group.component.ts
  components/input-number/input-number.component.ts
  components/input/demo/group.md
  components/input/input-group.component.ts
  components/input/input.directive.ts
  components/select/select.component.ts
  components/space/demo/compact-button-vertical.md
  components/space/demo/compact-button-vertical.ts
  components/space/demo/compact-buttons.md
  components/space/demo/compact-buttons.ts
  components/space/demo/compact.md
  components/space/demo/compact.ts
  components/space/doc/index.en-US.md
  components/space/doc/index.zh-CN.md
  components/space/public-api.ts
  components/space/space-compact-item.directive.ts
  components/space/space-compact.component.spec.ts
  components/space/space-compact.component.ts
  components/space/space-compact.token.ts
  components/space/space-item.directive.ts
  components/space/space.component.ts
  components/space/space.module.ts
  components/time-picker/time-picker.component.ts
  components/tree-select/tree-select.component.ts
Labels: :star: New Component, 💔 Breaking Change, PR: unreviewed, PR: target-major, Component: Space

#8461 feat(module:menu): add click trigger for submenus
  components/menu/demo/horizontal.ts
  components/menu/doc/index.en-US.md
  components/menu/doc/index.zh-CN.md
  components/menu/menu.spec.ts
  components/menu/menu.types.ts
  components/menu/submenu-non-inline-child.component.ts
  components/menu/submenu-title.component.ts
  components/menu/submenu.component.ts
Labels: Component: Menu, PR: reviewed-approved, PR: target-major

#8721 feat(module:table): add nzSortDirections to table global config (#6613)
  components/core/config/config.ts
  components/table/doc/index.en-US.md
  components/table/doc/index.zh-CN.md
  components/table/src/cell/th-addon.component.ts
Labels: Component: Table, PR: reviewed-approved, PR: target-major

#8770 fix(module:carousel): carousel not working correctly in rtl mode
  components/carousel/carousel.component.ts
  components/carousel/carousel.spec.ts
  components/carousel/style/patch.less
Labels: Component: Carousel, PR: reviewed-approved, PR: target-minor

#8715 feat(module:input): support one time password (OTP)
  components/input/demo/otp.md
  components/input/demo/otp.ts
  components/input/doc/index.en-US.md
  components/input/doc/index.zh-CN.md
  components/input/input-otp.component.ts
  components/input/input-otp.spec.ts
  components/input/input.module.ts
  components/input/public-api.ts
  components/input/style/input-otp.less
  components/input/style/patch.less
Labels: :star: New Component, Component: Input, PR: reviewed-approved, PR: target-major

#8894 fix(module:i18n): add missing translations to `vi_VN`
  components/i18n/languages/vi_VN.ts
Labels: :earth_africa: i18n, PR: reviewed-approved

#8831 fix(module:*): cancel support for HTML string rendering
  components/color-picker/color-picker.component.spec.ts
  components/color-picker/color-picker.component.ts
  components/date-picker/calendar-footer.component.ts
  components/date-picker/lib/abstract-table.html
  components/date-picker/lib/date-table.component.ts
  components/date-picker/lib/decade-table.component.ts
  components/date-picker/lib/interface.ts
  components/date-picker/lib/month-table.component.ts
  components/date-picker/lib/quarter-table.component.ts
  components/date-picker/lib/year-table.component.ts
  components/drawer/drawer.component.ts
  components/hash-code/hash-code.component.ts
  components/slider/marks.component.ts
Labels: 💔 Breaking Change, PR: reviewed-approved, PR: target-major

#8893 fix(module:drawer): should clear previously focused element
  components/drawer/drawer.component.ts
Labels: Component: Drawer, PR: reviewed-approved

#8877 refactor(module:core): expose `fromEventOutsideAngular` utility
  components/anchor/anchor.component.ts
  components/auto-complete/autocomplete-option.component.ts
  components/back-top/back-top.component.ts
  components/back-top/back-top.spec.ts
  components/button/button.component.ts
  components/carousel/carousel.component.ts
  components/cascader/cascader.component.ts
  components/checkbox/checkbox.component.ts
  components/code-editor/code-editor.component.ts
  components/collapse/collapse-panel.component.ts
  components/core/util/from-event-outside-angular.spec.ts
  components/core/util/from-event-outside-angular.ts
  components/core/util/public-api.ts
  components/date-picker/date-picker.component.ts
  components/date-picker/date-range-popup.component.ts
  components/dropdown/context-menu.service.ts
  components/dropdown/dropdown.directive.ts
  components/float-button/float-button-top.component.spec.ts
  components/float-button/float-button-top.component.ts
  components/graph/graph-node.component.ts
  components/image/image-preview.component.ts
  components/input-number/input-number.component.ts
  components/mention/mention-trigger.ts
  components/mention/mention.component.ts
  components/modal/modal-container.directive.ts
  components/modal/modal.spec.ts
  components/radio/radio.component.ts
  components/rate/rate.component.ts
  components/resizable/resizable.directive.ts
  components/resizable/resizable.spec.ts
  components/resizable/resize-handle.component.ts
  components/select/option-item.component.ts
  components/select/select-top-control.component.ts
  components/select/select.component.ts
  components/steps/step.component.ts
  components/switch/switch.component.ts
  components/table/src/addon/filter-trigger.component.ts
  components/table/src/cell/th-addon.component.ts
  components/table/src/table/table-inner-scroll.component.ts
  components/time-picker/time-picker-panel.component.ts
  components/transfer/transfer-list.component.ts
  components/tree-view/checkbox.ts
  components/tree-view/option.ts
  components/tree/tree-node.component.ts
  components/typography/text-edit.component.ts
  components/upload/upload-btn.component.ts
  components/upload/upload.component.ts
Labels: PR: reviewed-approved, PR: target-major
