Repository NG-ZORRO/ng-zorro-antd, pull requests merged in 2024-04, with the labels that each got.

#8480 refactor(module:radio): use the new control flow
  components/radio/demo/radiogroup-more.ts
  components/radio/demo/radiogroup-options.ts
  components/radio/radio.spec.ts
Labels: Component: Radio, PR: reviewed-approved, PR: target-minor

#8485 refactor(module:result): use the new control flow
  components/result/result.component.ts
Labels: PR: reviewed-approved, PR: target-minor, Component: Result

#8483 refactor(module:rate): use the new control flow
  components/rate/demo/customize.ts
  components/rate/demo/text.ts
  components/rate/rate.component.ts
Labels: Component: Rate, PR: reviewed-approved, PR: target-minor

#8484 refactor(module:resizable): use the new control flow
  components/resizable/demo/drawer.ts
  components/resizable/demo/table.ts
  components/resizable/resize-handles.component.ts
Labels: PR: reviewed-approved, Component: Resizable, PR: target-minor

#8493 fix(module:graph): bring back the disappered arrows of edge
  components/graph/graph-defs.component.ts
  components/graph/graph.component.ts
Labels: PR: target-patch

#8476 fix(module:pagination): add accessible name for nz-pagination-item
  components/pagination/pagination-item.component.ts
  components/pagination/pagination-simple.component.ts
Labels: ♿️ a11y, Component: Pagination, PR: reviewed-approved, PR: target-patch

#8495 fix(module:tag): borderless style is invalid in default state
  components/tag/style/patch.less
Labels: Component: Tag, PR: reviewed-approved, PR: target-patch

#8498 chore: bump angular 17.3
  package-lock.json
  package.json
Labels: PR: reviewed-approved, PR: target-minor

#8486 refactor: simplify no-animation directive
  components/core/no-animation/nz-no-animation.directive.ts
Labels: PR: reviewed-approved, PR: target-minor

#8429 feat(module:modal): supports masked layer response for each click
  components/modal/modal-ref.ts
Labels: Component: Modal, PR: reviewed-approved, PR: target-minor

#8494 fix(module:slider): fix the style of step-dots in vertical mode
  components/slider/marks.component.ts
  components/slider/slider.component.ts
  components/slider/slider.spec.ts
  components/slider/step.component.ts
  components/slider/style/entry.less
  components/slider/style/patch.less
Labels: Component: Slider, PR: reviewed-approved, PR: target-patch

#8286 fix(module:calendar): year dropdown update issue when date is changed programmatically
  components/calendar/calendar-header.component.ts
Labels: Component: Calendar, PR: reviewed-approved, PR: target-patch

#8500 docs: replace the new tag with the supported version of the component
  components/color-picker/doc/index.en-US.md
  components/color-picker/doc/index.zh-CN.md
  components/flex/doc/index.en-US.md
  components/flex/doc/index.zh-CN.md
  components/hash-code/doc/index.en-US.md
  components/hash-code/doc/index.zh-CN.md
  components/qr-code/doc/index.en-US.md
  components/qr-code/doc/index.zh-CN.md
  components/water-mark/doc/index.en-US.md
  components/water-mark/doc/index.zh-CN.md
  scripts/site/_site/doc/app/side/side.component.less
  scripts/site/_site/doc/app/side/side.component.ts
Labels: :scroll: Doc, PR: reviewed-approved

#8468 fix(module:image): wrong next/prev btn in rtl mode
  components/image/style/patch.less
Labels: PR: reviewed-approved, PR: target-patch, Component: Image

#8501 fix(module:button): add ant-btn-default class
  components/button/button.component.ts
  components/button/button.spec.ts
Labels: Component: Button, PR: reviewed-approved

#8481 feat(module:skeleton): support for square shape of skeleton button
  components/skeleton/demo/element.ts
  components/skeleton/doc/index.en-US.md
  components/skeleton/doc/index.zh-CN.md
  components/skeleton/skeleton-element.component.ts
  components/skeleton/skeleton.type.ts
Labels: Component: Skeleton, PR: reviewed-approved, PR: target-minor

#8450 feat(module:notification): popup order adjustment
  components/notification/notification-container.component.ts
Labels: Component: Notification, PR: reviewed-approved, PR: target-patch

#8506 docs(module:form): fix some errors in ssr
  components/form/demo/register.ts
  components/icon/page/index.ts
Labels: PR: reviewed-approved

#8504 feat(module:select): support nzOptionHeightPx in global config
  components/core/config/config.ts
  components/select/doc/index.en-US.md
  components/select/doc/index.zh-CN.md
  components/select/select.component.ts
Labels: Component: Select, PR: target-minor, PR: partially-approved

#8509 build: fix prerender
  scripts/prerender/minify.ts
Labels: :scroll: Doc, PR: reviewed-approved

#8519 refactor(module:segmented): refactor segmented control flow
  components/segmented/demo/custom.ts
  components/segmented/segmented.component.ts
Labels: PR: reviewed-approved, PR: target-patch

#8511 fix(module:popconfirm): fix message icon style
  components/popconfirm/popconfirm.ts
Labels: Component: Popconfirm, PR: reviewed-approved, PR: target-patch

#8512 fix(module:tooltip,popover,popconfirm): fix hydration error
  components/popconfirm/popconfirm.ts
  components/popover/popover.ts
  components/tooltip/base.ts
  components/tooltip/tooltip.ts
Labels: Component: Tooltip, 🧭 SSR, Component: Popconfirm, Component: Popover, PR: reviewed-approved, PR: target-patch

#8513 docs: make nz-code-box to skip hydration
  scripts/site/_site/doc/app/share/codebox/codebox.component.html
  scripts/site/_site/doc/app/share/codebox/codebox.component.ts
Labels: :scroll: Doc, 🧭 SSR, PR: reviewed-approved

#8515 docs: allow footer components to participate in hydration
  scripts/site/_site/doc/app/footer/footer.component.ts
Labels: :scroll: Doc, 🧭 SSR, PR: reviewed-approved
