Repository NG-ZORRO/ng-zorro-antd, pull requests merged in 2024-03, with the labels that each got.

#8290 fix(module:i18n): added missing translations to ja_JP
  components/i18n/languages/ja_JP.ts
Labels: PR: reviewed-approved, PR: target-patch, Component: I18n

#8418 feat(module:calendar): custom header
  components/calendar/calendar-header.component.ts
  components/calendar/calendar-header.spec.ts
  components/calendar/calendar.component.ts
  components/calendar/demo/customize-header.md
  components/calendar/demo/customize-header.ts
  components/calendar/doc/index.en-US.md
  components/calendar/doc/index.zh-CN.md
Labels: Component: Calendar, PR: reviewed-approved, PR: target-minor

#8419 feat(module:modal): draggable
  components/modal/demo/draggable.md
  components/modal/demo/draggable.ts
  components/modal/doc/index.en-US.md
  components/modal/doc/index.zh-CN.md
  components/modal/modal-container.component.ts
  components/modal/modal-types.ts
  components/modal/modal.component.ts
  components/modal/modal.spec.ts
  components/modal/utils.ts
Labels: Component: Modal, PR: reviewed-approved, PR: target-minor

#8374 fix(module:carousel): not adapting to new size when resizing
  components/carousel/carousel.component.ts
  components/carousel/carousel.spec.ts
Labels: Component: Carousel, PR: reviewed-approved, PR: target-patch

#8373 fix(module:cdk): zIndex is not used properly when creating overlay
  components/core/overlay/overlay-z-index.ts
  components/core/overlay/public-api.ts
  components/drawer/drawer.component.ts
  components/modal/modal.service.ts
  components/modal/modal.spec.ts
Labels: Component: Modal, Component: Drawer, PR: reviewed-approved, PR: target-patch

#8295 fix(module:i18n): added missing translations to vi_VN
  components/i18n/languages/vi_VN.ts
Labels: PR: reviewed-approved, PR: target-patch, Component: I18n

#8372 fix(module:tabs): slide indicator missing in small screens
  components/tabs/style/patch.less
Labels: Component: Tabs, PR: reviewed-approved, PR: target-patch

#8368 feat(module:segmented): now supports segmented with icon only
  components/segmented/demo/with-icon-only.md
  components/segmented/demo/with-icon-only.ts
  components/segmented/types.ts
Labels: PR: reviewed-approved, PR: target-minor

#8365 fix(module:avatar): avatar not re-scaling properly
  components/avatar/avatar.component.ts
  components/avatar/avatar.spec.ts
Labels: Component: Avatar, PR: reviewed-approved, PR: target-patch

#8355 fix(module: select): issue with nzScrollToBottom while display scaling
  components/select/option-container.component.ts
Labels: Component: Select, PR: target-patch, PR: partially-approved

#8434 docs(module:modal): fix typo
  components/modal/demo/draggable.md
Labels: :scroll: Doc, Component: Modal, PR: reviewed-approved, PR: target-patch

#8433 fix(module:image): missing swip icon
  components/icon/icons.ts
Labels: PR: reviewed-approved, PR: target-patch, Component: Image

#8064 fix(module:upload): remove inline style to resolve CSP issue
  components/upload/upload-btn.component.html
Labels: Component: Upload, PR: reviewed-approved, PR: target-patch

#8438 refactor(module:progress): refactor control flow progress
  components/progress/progress.component.ts
Labels: Component: Progress, PR: reviewed-approved, PR: target-minor

#8437 refactor(module:popover): refactor control flow popover
  components/popover/popover.ts
Labels: Component: Popover, PR: reviewed-approved, PR: target-minor

#8442 docs: restore style of logo
  scripts/site/_site/doc/app/header/header.less
  scripts/site/_site/doc/app/header/logo.component.ts
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-patch

#8065 fix(module:drawer): remove inline style to resolve CSP issue
  components/drawer/drawer.component.ts
Labels: Component: Drawer, PR: reviewed-approved, PR: target-patch

#8439 fix(module:list): remove NgZone dependency
  components/list/list-item-cell.ts
Labels: Component: List, PR: reviewed-approved, PR: target-minor

#8449 docs(module:flex): subtitle copywriting revision
  components/flex/doc/index.zh-CN.md
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-patch

#8460 fix(module:graph): remove NgZone dependency
  components/graph/graph-edge.component.ts
Labels: PR: reviewed-approved, PR: target-minor

#8451 fix(module:notification): nzMaxStack initial value error
  components/notification/notification-container.component.ts
Labels: Component: Notification, PR: reviewed-approved, PR: target-patch

#8463 fix(module:anchor): api table not showing properly
  components/anchor/doc/index.en-US.md
  components/anchor/doc/index.zh-CN.md
Labels: :scroll: Doc, Component: Anchor, PR: reviewed-approved

#8462 fix(module:autocomplete): remove NgZone dependency
  components/auto-complete/autocomplete.component.ts
  components/auto-complete/autocomplete.spec.ts
  components/core/render/after-next-render.ts
  components/core/render/index.ts
  components/core/render/ng-package.json
  components/core/render/public-api.ts
Labels: Component: AutoComplete, PR: reviewed-approved, PR: target-minor

#8458 fix(module:date-picker): remove unsafe style
  components/date-picker/date-picker.component.ts
  components/date-picker/date-range-popup.component.ts
Labels: Component: DatePicker, PR: reviewed-approved, PR: target-patch

#8455 refactor(module:qrcode): use the new control flow
  components/qr-code/qrcode.component.ts
Labels: PR: reviewed-approved, PR: target-minor

#8466 refactor(module:tree-view): highlight color change
  components/tree-view/demo/search.ts
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-patch, Component: TreeView

#8467 docs(module:pagination): api table update
  components/pagination/doc/index.en-US.md
  components/pagination/doc/index.zh-CN.md
Labels: :scroll: Doc, Component: Pagination, PR: reviewed-approved, PR: target-patch
