Repository NG-ZORRO/ng-zorro-antd, pull requests merged in 2024-09, with the labels that each got.

#8722 test(module:affix): added missing tests
  components/affix/affix.spec.ts
Labels: Component: Affix, PR: reviewed-approved, PR: target-patch

#8725 test(module:alert): added missing tests
  components/alert/alert.spec.ts
Labels: PR: reviewed-approved, Component: Alert

#8727 refactor(module:affix): migrate demo to standalone mode
  components/affix/affix.spec.ts
  components/affix/demo/basic.ts
  components/affix/demo/module
  components/affix/demo/on-change.ts
  components/affix/demo/target.ts
Labels: Component: Affix, PR: reviewed-approved, PR: target-patch

#8730 refactor(module:avatar): migrate demo to standalone mode
  components/avatar/demo/badge.ts
  components/avatar/demo/basic.ts
  components/avatar/demo/dynamic.ts
  components/avatar/demo/group.ts
  components/avatar/demo/module
  components/avatar/demo/type.ts
Labels: Component: Avatar, PR: reviewed-approved, PR: target-patch

#8726 refactor(module:alert): migrate demo to standalone mode
  components/alert/alert.spec.ts
  components/alert/demo/action.ts
  components/alert/demo/banner.ts
  components/alert/demo/basic.ts
  components/alert/demo/closable.ts
  components/alert/demo/close-text.ts
  components/alert/demo/custom-icon.ts
  components/alert/demo/description.ts
  components/alert/demo/icon.ts
  components/alert/demo/module
  components/alert/demo/style.ts
Labels: PR: reviewed-approved, Component: Alert, PR: target-patch

#8734 refactor(module:tree-select): simpilfy code
  components/tree-select/tree-select.component.ts
Labels: Component: TreeSelect, PR: unreviewed, PR: target-patch

#8736 refactor(module:badge): migrate demo to standalone mode
  components/badge/badge.spec.ts
  components/badge/demo/basic.ts
  components/badge/demo/change.ts
  components/badge/demo/colorful.ts
  components/badge/demo/dot.ts
  components/badge/demo/link.md
  components/badge/demo/link.ts
  components/badge/demo/module
  components/badge/demo/no-wrapper.ts
  components/badge/demo/offset.ts
  components/badge/demo/overflow.ts
  components/badge/demo/ribbon.ts
  components/badge/demo/size.ts
  components/badge/demo/status.ts
Labels: :scroll: Doc, Component: Badge, PR: reviewed-approved, PR: target-patch

#8729 refactor(module:auto-complete): migrate demo to standalone mode
  components/auto-complete/demo/basic.ts
  components/auto-complete/demo/certain-category.ts
  components/auto-complete/demo/custom.ts
  components/auto-complete/demo/module
  components/auto-complete/demo/non-case-sensitive.ts
  components/auto-complete/demo/object-value.ts
  components/auto-complete/demo/options.ts
  components/auto-complete/demo/status.ts
  components/auto-complete/demo/uncertain-category.ts
Labels: Component: AutoComplete, PR: reviewed-approved, PR: target-patch

#8728 refactor(module:anchor): migrate demo to standalone mode
  components/anchor/anchor.spec.ts
  components/anchor/demo/basic.ts
  components/anchor/demo/customize-highlight.ts
  components/anchor/demo/horizontal-anchor.ts
  components/anchor/demo/module
  components/anchor/demo/on-change.ts
  components/anchor/demo/on-click.ts
  components/anchor/demo/static.ts
  components/anchor/demo/target-offset.ts
Labels: Component: Anchor, PR: reviewed-approved, PR: target-patch

#8735 refactor(module:back-top): migrate demo to standalone mode
  components/back-top/demo/basic.ts
  components/back-top/demo/custom.ts
  components/back-top/demo/module
  components/back-top/demo/target.ts
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-patch, Component: BackTop

#8740 refactor(module:button): migrate demo to standalone mode
  components/button/button-group.spec.ts
  components/button/button.spec.ts
  components/button/demo/basic.ts
  components/button/demo/block.ts
  components/button/demo/button-group.ts
  components/button/demo/danger.ts
  components/button/demo/disabled.ts
  components/button/demo/ghost.ts
  components/button/demo/icon.ts
  components/button/demo/loading.ts
  components/button/demo/module
  components/button/demo/multiple.ts
  components/button/demo/size.ts
Labels: :scroll: Doc, Component: Button, PR: reviewed-approved, PR: target-patch

#8742 refactor(module:card): migrate demo to standalone mode
  components/card/card.spec.ts
  components/card/demo/basic.ts
  components/card/demo/border-less.ts
  components/card/demo/flexible-content.ts
  components/card/demo/grid-card.ts
  components/card/demo/in-column.ts
  components/card/demo/inner.ts
  components/card/demo/loading.ts
  components/card/demo/meta.ts
  components/card/demo/module
  components/card/demo/simple.ts
  components/card/demo/tabs.ts
Labels: :scroll: Doc, Component: Card, PR: reviewed-approved, PR: target-patch

#8745 refactor(module:image): migrate demo to standalone mode
  components/image/demo/basic.ts
  components/image/demo/controlled-preview.ts
  components/image/demo/fallback.ts
  components/image/demo/module
  components/image/demo/placeholder.ts
  components/image/demo/preview-group.ts
  components/image/demo/service.ts
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-patch, Component: Image

#8746 refactor(module:calendar): migrate demo to standalone mode
  components/calendar/calendar.spec.ts
  components/calendar/demo/basic.ts
  components/calendar/demo/card.ts
  components/calendar/demo/customize-header.ts
  components/calendar/demo/module
  components/calendar/demo/notice-calendar.ts
  components/calendar/demo/select.ts
Labels: :scroll: Doc, Component: Calendar, PR: reviewed-approved, PR: target-patch

#8747 refactor(module:carousel): migrate demo to standalone mode
  components/carousel/carousel.spec.ts
  components/carousel/demo/autoplay.ts
  components/carousel/demo/basic.ts
  components/carousel/demo/custom.ts
  components/carousel/demo/fade.ts
  components/carousel/demo/loop.ts
  components/carousel/demo/module
  components/carousel/demo/position.ts
Labels: :scroll: Doc, Component: Carousel, PR: reviewed-approved, PR: target-patch

#8751 refactor(module:color-picker): migrate demo to standalone mode
  components/color-picker/demo/basic.ts
  components/color-picker/demo/block.ts
  components/color-picker/demo/clear.ts
  components/color-picker/demo/disable-alpha.ts
  components/color-picker/demo/disable.ts
  components/color-picker/demo/flip-flop.ts
  components/color-picker/demo/format.ts
  components/color-picker/demo/module
  components/color-picker/demo/show-text.ts
  components/color-picker/demo/size.ts
  components/color-picker/demo/trigger.ts
  components/color-picker/demo/use.ts
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-patch, Component: ColorPicker

#8748 refactor(module:checkbox): migrate demo to standalone mode
  components/checkbox/checkbox.spec.ts
  components/checkbox/demo/basic.ts
  components/checkbox/demo/check-all.ts
  components/checkbox/demo/controller.ts
  components/checkbox/demo/disabled.ts
  components/checkbox/demo/group.ts
  components/checkbox/demo/layout.ts
  components/checkbox/demo/module
Labels: :scroll: Doc, Component: Checkbox, PR: reviewed-approved, PR: target-patch

#8765 refactor(module:empty): migrate demo to standalone mode
  components/empty/demo/basic.ts
  components/empty/demo/config.ts
  components/empty/demo/customize.ts
  components/empty/demo/description.ts
  components/empty/demo/module
  components/empty/demo/simple.ts
  components/empty/empty.spec.ts
Labels: :scroll: Doc, Component: Empty, PR: reviewed-approved, PR: target-patch

#8762 refactor(module:drawer): migrate demo to standalone mode
  components/drawer/demo/basic-right.ts
  components/drawer/demo/from-drawer.ts
  components/drawer/demo/module
  components/drawer/demo/multi-level-drawer.ts
  components/drawer/demo/placement.ts
  components/drawer/demo/service.ts
  components/drawer/demo/size.ts
  components/drawer/demo/user-profile.ts
  components/drawer/drawer.spec.ts
Labels: :scroll: Doc, Component: Drawer, PR: reviewed-approved, PR: target-patch

#8760 refactor(module:date-picker): migrate demo to standalone mode
  components/comment/comment.spec.ts
  components/date-picker/date-picker.component.spec.ts
  components/date-picker/date-picker.component.ts
  components/date-picker/demo/basic.ts
  components/date-picker/demo/bordered.ts
  components/date-picker/demo/date-render.ts
  components/date-picker/demo/disabled-date.ts
  components/date-picker/demo/disabled.ts
  components/date-picker/demo/extra-footer.ts
  components/date-picker/demo/format.ts
  components/date-picker/demo/inline.ts
  components/date-picker/demo/module
  components/date-picker/demo/placement.ts
  components/date-picker/demo/presetted-ranges.ts
  components/date-picker/demo/range-picker.ts
  components/date-picker/demo/size.ts
  components/date-picker/demo/start-end.ts
  components/date-picker/demo/status.ts
  components/date-picker/demo/switch.ts
  components/date-picker/demo/time.ts
  components/date-picker/demo/week-number.ts
  components/date-picker/month-picker.component.spec.ts
  components/date-picker/quarter-picker.component.spec.ts
  components/date-picker/range-picker.component.spec.ts
  components/date-picker/week-picker.component.spec.ts
  components/date-picker/year-picker.component.spec.ts
  components/icon/testing/nz-icon-test.module.ts
Labels: :scroll: Doc, Component: DatePicker, PR: reviewed-approved, PR: target-patch

#8769 fix(i18n): update hu_HU language
  components/i18n/languages/hu_HU.ts
Labels: PR: reviewed-approved, PR: target-patch, Component: I18n

#8767 fix(module:modal): modal service demo not working when using template
  components/modal/demo/service.ts
Labels: :scroll: Doc, Component: Modal, PR: reviewed-approved

#8768 fix(module:input): password icon's class name not applied
  components/input/demo/password-input.ts
Labels: :scroll: Doc, Component: Input, PR: reviewed-approved, PR: target-patch

#8773 refactor(module:form): migrate demo to standalone mode
  components/form/demo/advanced-search.ts
  components/form/demo/auto-tips.ts
  components/form/demo/coordinated.ts
  components/form/demo/dynamic-form-item.ts
  components/form/demo/dynamic-rule.ts
  components/form/demo/horizontal-login.ts
  components/form/demo/label-align.ts
  components/form/demo/label-wrap.ts
  components/form/demo/layout.ts
  components/form/demo/module
  components/form/demo/normal-login.ts
  components/form/demo/register.ts
  components/form/demo/time-related-controls.ts
  components/form/demo/validate-reactive.ts
  components/form/demo/validate-static.ts
  components/form/demo/validate-template.ts
  components/form/form-control.spec.ts
  components/form/form-item.spec.ts
  components/form/form-label.spec.ts
  components/form/form-split.spec.ts
  components/form/form-text.spec.ts
  components/form/form.spec.ts
Labels: :scroll: Doc, Component: Form, PR: reviewed-approved, PR: target-patch

#8758 test(module:anchor): added missing tests
  components/anchor/anchor.spec.ts
  components/image/image.spec.ts
Labels: Component: Anchor, PR: reviewed-approved, PR: target-patch, 🧪 Test Case

#8764 refactor(module:dropdown): migrate demo to standalone mode
  components/dropdown/context-menu.service.spec.ts
  components/dropdown/demo/basic.ts
  components/dropdown/demo/context-menu.ts
  components/dropdown/demo/dropdown-button.ts
  components/dropdown/demo/event.ts
  components/dropdown/demo/item.ts
  components/dropdown/demo/module
  components/dropdown/demo/overlay-visible.ts
  components/dropdown/demo/placement.ts
  components/dropdown/demo/sub-menu.ts
  components/dropdown/demo/trigger.ts
  components/dropdown/dropdown.directive.spec.ts
Labels: :scroll: Doc, Component: Dropdown, PR: reviewed-approved, PR: target-patch

#8763 refactor(module:descriptions): migrate demo to standalone mode
  components/descriptions/demo/basic.ts
  components/descriptions/demo/border.ts
  components/descriptions/demo/custom-size.ts
  components/descriptions/demo/module
  components/descriptions/demo/responsive.ts
  components/descriptions/demo/vertical-border.ts
  components/descriptions/demo/vertical.ts
  components/descriptions/descriptions.spec.ts
Labels: :scroll: Doc, PR: reviewed-approved, Component: Descriptions, PR: target-patch

#8761 refactor(module:cron-expression): migrate demo to standalone mode
  components/cron-expression/cron-expression.spec.ts
  components/cron-expression/demo/basic.ts
  components/cron-expression/demo/borderless.ts
  components/cron-expression/demo/collapse.ts
  components/cron-expression/demo/module
  components/cron-expression/demo/semantic.ts
  components/cron-expression/demo/shortcuts.ts
  components/cron-expression/demo/size.ts
  components/cron-expression/demo/type.ts
  components/cron-expression/demo/use.ts
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-patch, Component: CronExpression

#8737 refactor(module:breadcrumb): migrate demo to standalone mode
  components/breadcrumb/breadcrumb.spec.ts
  components/breadcrumb/demo/auto.ts
  components/breadcrumb/demo/basic.ts
  components/breadcrumb/demo/dropdown.ts
  components/breadcrumb/demo/module
  components/breadcrumb/demo/router.ts
  components/breadcrumb/demo/separator-independent.ts
  components/breadcrumb/demo/separator.ts
  components/breadcrumb/demo/with-icon.ts
Labels: :scroll: Doc, Component: BreadCrumb, PR: unreviewed

#8759 refactor(module:layout): migrate demo to standalone mode
  components/divider/demo/horizontal.ts
  components/divider/demo/module
  components/divider/demo/orientation.ts
  components/divider/demo/plain.ts
  components/divider/demo/vertical.ts
  components/divider/divider.spec.ts
  components/flex/demo/align.ts
  components/flex/demo/basic.ts
  components/flex/demo/combination.ts
  components/flex/demo/gap.ts
  components/flex/demo/module
  components/flex/demo/wrap.ts
  components/grid/demo/basic.ts
  components/grid/demo/flex-align.ts
  components/grid/demo/flex-order.ts
  components/grid/demo/flex-stretch.ts
  components/grid/demo/flex.ts
  components/grid/demo/gutter.ts
  components/grid/demo/module
  components/grid/demo/offset.ts
  components/grid/demo/playground.ts
  components/grid/demo/responsive-more.ts
  components/grid/demo/responsive.ts
  components/grid/demo/sort.ts
  components/grid/grid.spec.ts
  components/layout/demo/basic.ts
  components/layout/demo/custom-trigger.ts
  components/layout/demo/fixed-sider.ts
  components/layout/demo/fixed.ts
  components/layout/demo/module
  components/layout/demo/responsive.ts
  components/layout/demo/side.ts
  components/layout/demo/top-side-2.ts
  components/layout/demo/top-side.ts
  components/layout/demo/top.ts
  components/layout/layout.spec.ts
  components/page-header/demo/actions.ts
  components/page-header/demo/basic.ts
  components/page-header/demo/breadcrumb.ts
  components/page-header/demo/content.ts
  components/page-header/demo/ghost.ts
  components/page-header/demo/module
  components/page-header/demo/responsive.ts
  components/page-header/page-header.spec.ts
  components/space/demo/align.ts
  components/space/demo/basic.ts
  components/space/demo/customize.ts
  components/space/demo/module
  components/space/demo/size.ts
  components/space/demo/split.ts
  components/space/demo/vertical.ts
  components/space/space.component.spec.ts
Labels: :scroll: Doc, Component: Layout, Component: Grid, Component: PageHeader, PR: reviewed-approved, PR: target-patch, Component: Divider, Component: Space, Component: Flex

#8774 refactor(module:input,input-number): migrate demo to standalone mode
  components/input-number/demo/addon.ts
  components/input-number/demo/basic.ts
  components/input-number/demo/borderless.ts
  components/input-number/demo/digit.ts
  components/input-number/demo/disabled.ts
  components/input-number/demo/formatter.ts
  components/input-number/demo/group.ts
  components/input-number/demo/module
  components/input-number/demo/precision.ts
  components/input-number/demo/prefix.ts
  components/input-number/demo/size.ts
  components/input-number/demo/status.ts
  components/input-number/input-number-group.spec.ts
  components/input-number/input-number.spec.ts
  components/input/autosize.spec.ts
  components/input/demo/addon.ts
  components/input/demo/allow-clear.ts
  components/input/demo/autosize-textarea.ts
  components/input/demo/basic.ts
  components/input/demo/borderless.ts
  components/input/demo/group.ts
  components/input/demo/module
  components/input/demo/password-input.ts
  components/input/demo/presuffix.ts
  components/input/demo/search-input.ts
  components/input/demo/size.ts
  components/input/demo/status.ts
  components/input/demo/textarea-with-character-count.ts
  components/input/demo/textarea.ts
  components/input/demo/tooltip.ts
  components/input/input-group.spec.ts
  components/input/input.spec.ts
  components/input/textarea-count.spec.ts
Labels: :scroll: Doc, Component: InputNumber, Component: Input, PR: reviewed-approved, PR: target-patch

#8749 refactor(module:code-editor): migrate demo to standalone mode
  components/code-editor/code-editor.spec.ts
  components/code-editor/demo/basic.ts
  components/code-editor/demo/complex.ts
  components/code-editor/demo/config.ts
  components/code-editor/demo/diff.ts
  components/code-editor/demo/full-control.ts
  components/code-editor/demo/module
Labels: :scroll: Doc, PR: reviewed-approved, Component: CodeEditor, PR: target-patch

#8783 refactor(module:list): migrate demo to standalone mode
  components/list/demo/basic.ts
  components/list/demo/grid.ts
  components/list/demo/infinite-load.ts
  components/list/demo/loadmore.ts
  components/list/demo/module
  components/list/demo/responsive.md
  components/list/demo/responsive.ts
  components/list/demo/simple.ts
  components/list/demo/vertical.ts
  components/list/list.spec.ts
Labels: :scroll: Doc, Component: List, PR: reviewed-approved, PR: target-patch

#8790 test(module:carousel): added missing tests
  components/carousel/carousel.spec.ts
Labels: Component: Carousel, PR: reviewed-approved, PR: target-patch, 🧪 Test Case

#8787 refactor(module:mention): migrate demo to standalone mode
  components/mention/demo/async.ts
  components/mention/demo/avatar.ts
  components/mention/demo/basic.ts
  components/mention/demo/custom-tag.ts
  components/mention/demo/form.ts
  components/mention/demo/module
  components/mention/demo/multilines.ts
  components/mention/demo/placement.ts
  components/mention/demo/prefix.ts
  components/mention/demo/preview.ts
  components/mention/demo/readonly.ts
  components/mention/demo/status.ts
  components/mention/mention.spec.ts
Labels: :scroll: Doc, Component: Mention, PR: reviewed-approved, PR: target-patch

#8796 refactor(module:modal): migrate demo to standalone mode
  components/modal/demo/async.ts
  components/modal/demo/basic.ts
  components/modal/demo/confirm-promise.ts
  components/modal/demo/confirm.ts
  components/modal/demo/draggable.ts
  components/modal/demo/footer.ts
  components/modal/demo/footer2.ts
  components/modal/demo/info.ts
  components/modal/demo/locale.ts
  components/modal/demo/manual.ts
  components/modal/demo/module
  components/modal/demo/position.ts
  components/modal/demo/service.ts
  components/modal/modal.spec.ts
Labels: :scroll: Doc, Component: Modal, PR: unreviewed, PR: target-patch

#8794 refactor(module:steps): migrate demo to standalone mode
  components/steps/demo/clickable.ts
  components/steps/demo/customized-progress-dot.ts
  components/steps/demo/error.ts
  components/steps/demo/icon.ts
  components/steps/demo/module
  components/steps/demo/nav.ts
  components/steps/demo/progress-dot.ts
  components/steps/demo/progress.ts
  components/steps/demo/simple.ts
  components/steps/demo/small-size.ts
  components/steps/demo/start-index.ts
  components/steps/demo/step-next.ts
  components/steps/demo/vertical-small.ts
  components/steps/demo/vertical.ts
  components/steps/steps.spec.ts
Labels: :scroll: Doc, Component: Steps, PR: reviewed-approved, PR: target-patch

#8750 refactor(module:collapse): migrate demo to standalone mode
  components/collapse/collapse.spec.ts
  components/collapse/demo/accordion.ts
  components/collapse/demo/basic.ts
  components/collapse/demo/borderless.ts
  components/collapse/demo/custom.ts
  components/collapse/demo/extra.ts
  components/collapse/demo/ghost.ts
  components/collapse/demo/mix.ts
  components/collapse/demo/module
  components/collapse/demo/noarrow.ts
Labels: :scroll: Doc, Component: Collapse, PR: reviewed-approved, PR: target-patch

#8795 refactor(module:message,notification): migrate demo to standalone mode
  components/message/demo/close.ts
  components/message/demo/duration.ts
  components/message/demo/info.ts
  components/message/demo/loading.ts
  components/message/demo/module
  components/message/demo/other.ts
  components/message/message.spec.ts
  components/notification/demo/basic.ts
  components/notification/demo/custom-icon.ts
  components/notification/demo/custom-style.ts
  components/notification/demo/duration.ts
  components/notification/demo/module
  components/notification/demo/placement.ts
  components/notification/demo/template.ts
  components/notification/demo/update.ts
  components/notification/demo/with-btn.ts
  components/notification/demo/with-icon.ts
  components/notification/notification.spec.ts
Labels: :scroll: Doc, Component: Notification, Component: Message, PR: reviewed-approved, PR: target-patch

#8801 refactor(module:radio,switch): migrate demo to standalone mode
  components/radio/demo/basic.ts
  components/radio/demo/disable.ts
  components/radio/demo/module
  components/radio/demo/radiobutton.ts
  components/radio/demo/radiogroup-more.ts
  components/radio/demo/radiogroup-options.ts
  components/radio/demo/radiogroup-with-name.ts
  components/radio/demo/radiogroup.ts
  components/radio/demo/size.ts
  components/radio/demo/solid.ts
  components/radio/radio.spec.ts
  components/switch/demo/basic.ts
  components/switch/demo/control.ts
  components/switch/demo/disabled.ts
  components/switch/demo/loading.ts
  components/switch/demo/module
  components/switch/demo/size.ts
  components/switch/demo/text.ts
  components/switch/switch.spec.ts
Labels: :scroll: Doc, Component: Switch, Component: Radio, PR: reviewed-approved, PR: target-patch

#8782 test(module:back-top): added missing tests
  components/back-top/back-top.spec.ts
Labels: PR: reviewed-approved, Component: BackTop, 🧪 Test Case

#8789 test(module:card): added missing tests
  components/card/card.spec.ts
Labels: Component: Card, PR: unreviewed, PR: reviewed-approved, PR: target-patch, 🧪 Test Case

#8784 test(module:badge): added missing tests
  components/badge/badge.spec.ts
Labels: Component: Badge, PR: reviewed-approved, PR: target-patch, 🧪 Test Case
