Repository NG-ZORRO/ng-zorro-antd, pull requests merged in 2024-07, with the labels that each got.

#8617 chore: update codeowners
  .github/CODEOWNERS
  .github/auto_assign.yml
  .github/nz-boot.yml
  components/carousel/strategies/transform-strategy.ts
  components/core/types/size.ts
  components/tooltip/tooltip.spec.ts
Labels: PR: unreviewed

#8621 fix(module:schematics): import RouterLink
  schematics/ng-generate/side-menu/standalone/src/app/app.component.ts.template
Labels: PR: reviewed-approved, ⚙️ Schematics, PR: target-patch

#8622 chore(docs): update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: PR: reviewed-approved

#8635 docs(module:icon): fix some icons are not display correctly
  components/icon/page/index.ts
Labels: :scroll: Doc, Component: Icon, PR: unreviewed

#8615 docs: deprecate codesandbox
  angular.json
  package-lock.json
  package.json
  scripts/site/_site/doc/app/online-ide/online-ide.service.ts
  scripts/site/_site/doc/app/share/codebox/codebox.component.html
  scripts/site/_site/doc/app/share/codebox/codebox.component.ts
  scripts/site/_site/doc/style/demo.less
Labels: :scroll: Doc, PR: partially-approved

#7989 feat(module:popconfirm): support popconfirm template context
  components/popconfirm/doc/index.en-US.md
  components/popconfirm/doc/index.zh-CN.md
  components/popconfirm/popconfirm.ts
Labels: Component: Popconfirm, PR: reviewed-approved, PR: target-minor

#6313 feat(module:breadcrumb): add nzRouteFn
  components/breadcrumb/breadcrumb.component.ts
  components/breadcrumb/breadcrumb.spec.ts
  components/breadcrumb/doc/index.en-US.md
  components/breadcrumb/doc/index.zh-CN.md
Labels: Component: BreadCrumb, PR: reviewed-approved, PR: target-minor

#8638 feat(module:tree-select): nzNotFoundContent supports TemplateRef type
  components/tree-select/demo/module
  components/tree-select/demo/no-data.md
  components/tree-select/demo/no-data.ts
  components/tree-select/demo/placement.md
  components/tree-select/demo/status.md
  components/tree-select/doc/index.en-US.md
  components/tree-select/doc/index.zh-CN.md
  components/tree-select/tree-select.component.ts
Labels: Component: TreeSelect, PR: reviewed-approved, PR: target-minor

#8639 feat(module: table): add summary
  components/table/demo/module
  components/table/demo/summary.md
  components/table/demo/summary.ts
  components/table/doc/index.en-US.md
  components/table/doc/index.zh-CN.md
  components/table/public-api.ts
  components/table/src/table.module.ts
  components/table/src/table/tfoot-summary.directive.ts
  components/table/src/table/tr.directive.ts
  components/table/src/testing/tfoot.spec.ts
  scripts/site/_site/doc/app/online-ide/online-ide.service.ts
Labels: Component: Table, PR: reviewed-approved, PR: target-minor

#8644 docs(module:transfer): supplementary API
  components/transfer/doc/index.en-US.md
  components/transfer/doc/index.zh-CN.md
Labels: :scroll: Doc

#8641 fix(module:cascader): hide placeholder when trigger compositionstart
  components/cascader/cascader.component.ts
  components/cascader/cascader.spec.ts
Labels: Component: Cascader, PR: reviewed-approved, PR: target-patch

#8647 refactor(module:docs): refactor docs to standalone mode
  schematics/ng-generate/side-menu/standalone.spec.ts
  scripts/site/_site/doc/app/_demo/demo.component.ts
  scripts/site/_site/doc/app/app.component.ts
  scripts/site/_site/doc/app/app.config.server.ts
  scripts/site/_site/doc/app/app.config.ts
  scripts/site/_site/doc/app/app.module.ts
  scripts/site/_site/doc/app/app.routes.ts
  scripts/site/_site/doc/app/app.server.module.ts
  scripts/site/_site/doc/app/codebox/codebox.component.html
  scripts/site/_site/doc/app/codebox/codebox.component.less
  scripts/site/_site/doc/app/codebox/codebox.component.ts
  scripts/site/_site/doc/app/codebox/highlight.component.ts
  scripts/site/_site/doc/app/components-overview/components-overview.component.html
  scripts/site/_site/doc/app/components-overview/components-overview.component.ts
  scripts/site/_site/doc/app/components-overview/components-overview.module.ts
  scripts/site/_site/doc/app/components-overview/routes.ts
  scripts/site/_site/doc/app/contributors-list/contributors-list.component.less
  scripts/site/_site/doc/app/contributors-list/contributors-list.component.ts
  scripts/site/_site/doc/app/fixed-widgets/fixed-widgets.component.ts
  scripts/site/_site/doc/app/fixed-widgets/theming-icon.ts
  scripts/site/_site/doc/app/footer/footer-col.component.ts
  scripts/site/_site/doc/app/footer/footer-item.component.ts
  scripts/site/_site/doc/app/footer/footer.component.ts
  scripts/site/_site/doc/app/footer/footer.module.ts
  scripts/site/_site/doc/app/header/github-button.component.ts
  scripts/site/_site/doc/app/header/header.component.html
  scripts/site/_site/doc/app/header/header.component.ts
  scripts/site/_site/doc/app/header/header.module.ts
  scripts/site/_site/doc/app/header/logo.component.ts
  scripts/site/_site/doc/app/header/navigation.component.ts
  scripts/site/_site/doc/app/header/searchbar.component.ts
  scripts/site/_site/doc/app/nav-bottom/nav-bottom.component.ts
  scripts/site/_site/doc/app/share/codebox/codebox.component.html
  scripts/site/_site/doc/app/share/codebox/codebox.module.ts
  scripts/site/_site/doc/app/share/codebox/index.ts
  scripts/site/_site/doc/app/share/contributors-list/contributors-list.module.ts
  scripts/site/_site/doc/app/share/fixed-widgets/fixed-widgets.module.ts
  scripts/site/_site/doc/app/share/github-btn/github-btn.component.html
  scripts/site/_site/doc/app/share/github-btn/github-btn.component.less
  scripts/site/_site/doc/app/share/github-btn/github-btn.component.ts
  scripts/site/_site/doc/app/share/github-btn/github-btn.module.ts
  scripts/site/_site/doc/app/share/github-btn/index.ts
  scripts/site/_site/doc/app/share/highlight/highlight.module.ts
  scripts/site/_site/doc/app/share/highlight/index.ts
  scripts/site/_site/doc/app/share/nav-bottom/nav-bottom.module.ts
  scripts/site/_site/doc/app/share/share.module.ts
  scripts/site/_site/doc/app/side/side.component.html
  scripts/site/_site/doc/app/side/side.component.ts
  scripts/site/_site/doc/main.server.ts
  scripts/site/_site/doc/main.ts
  scripts/site/_site/doc/server.ts
  scripts/site/_site/doc/style/index.less
  scripts/site/template/demo-component.template.ts
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-minor

#8633 fix(module:transfer): disabling selection does not affect selecting all
  components/transfer/demo/basic.ts
  components/transfer/transfer.component.ts
Labels: Component: Transfer, PR: reviewed-approved, PR: target-patch

#7790 fix(module:i18n): add missing translations to `pt_BR`
  components/i18n/languages/pt_BR.ts
Labels: :earth_africa: i18n, PR: reviewed-approved, PR: target-patch

#8642 feat(module:table): support nzFixed for nzSummary
  components/table/demo/summary.md
  components/table/demo/summary.ts
  components/table/doc/index.en-US.md
  components/table/doc/index.zh-CN.md
  components/table/public-api.ts
  components/table/src/table-style.service.ts
  components/table/src/table.module.ts
  components/table/src/table.types.ts
  components/table/src/table/table-content.component.ts
  components/table/src/table/table-fixed-row.component.ts
  components/table/src/table/table-inner-default.component.ts
  components/table/src/table/table-inner-scroll.component.ts
  components/table/src/table/table.component.ts
  components/table/src/table/tfoot-summary.component.ts
  components/table/src/table/tfoot-summary.directive.ts
  components/table/src/table/tr-expand.directive.ts
  components/table/src/table/tr-measure.component.ts
  components/table/src/table/tr.directive.ts
  components/table/src/testing/tfoot.spec.ts
Labels: :ant: Ant Design, Component: Table, PR: reviewed-approved, PR: target-minor

#8650 feat(module:icon): add `provideNzIcon` and `provideNzIconPatch` API
  components/icon/doc/index.en-US.md
  components/icon/doc/index.zh-CN.md
  components/icon/icon.module.ts
  components/icon/icon.spec.ts
  components/icon/provide-icons.ts
  components/icon/public-api.ts
  schematics/ng-add/setup-project/register-locale.ts
  schematics/ng-generate/side-menu/index.ts
  schematics/ng-generate/side-menu/standalone/src/app/icons-provider.ts.template
  schematics/utils/apply-changes.ts
  scripts/site/_site/doc/app/app.config.server.ts
  scripts/site/_site/doc/app/app.config.ts
Labels: Component: Icon, PR: reviewed-approved, ⚙️ Schematics, PR: target-minor

#8656 docs(module:flex): add missing flex module
  scripts/site/_site/doc/app/online-ide/files/ng-zorro-antd.module.ts
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-patch, Component: Flex

#8658 fix(module:datepicker): ng0956 recreation entire collection
  components/date-picker/lib/abstract-panel-header.html
  components/date-picker/lib/abstract-panel-header.ts
  components/date-picker/lib/abstract-table.html
Labels: Component: DatePicker, PR: reviewed-approved, PR: target-patch
