Repository NG-ZORRO/ng-zorro-antd, pull requests merged in 2024-01, with the labels that each got.

#8315 refactor(module:comment): refactor control flow
  components/comment/comment-cells.ts
  components/comment/comment.component.ts
  components/comment/demo/editor.ts
  components/comment/demo/nested.ts
Labels: PR: reviewed-approved, PR: target-minor

#8317 refactor(module:cron-expression): refactor control flow
  components/cron-expression/cron-expression-preview.component.ts
  components/cron-expression/cron-expression.component.ts
  components/cron-expression/demo/shortcuts.ts
Labels: PR: reviewed-approved, PR: target-minor, Component: CronExpression

#8322 refactor(module:date-picker): refactor control flow
  components/date-picker/calendar-footer.component.ts
  components/date-picker/date-picker.component.spec.ts
  components/date-picker/date-picker.component.ts
  components/date-picker/date-range-popup.component.ts
  components/date-picker/inner-popup.component.ts
  components/date-picker/lib/abstract-panel-header.html
  components/date-picker/lib/abstract-table.html
  components/date-picker/lib/abstract-table.ts
  components/date-picker/lib/date-table.component.ts
  components/date-picker/lib/interface.ts
  components/date-picker/month-picker.component.spec.ts
  components/date-picker/range-picker.component.spec.ts
  components/date-picker/week-picker.component.spec.ts
  components/date-picker/year-picker.component.spec.ts
Labels: Component: DatePicker, PR: reviewed-approved, PR: target-minor

#8323 refactor(module:description): refactor control flow
  components/descriptions/descriptions.component.ts
  components/descriptions/descriptions.spec.ts
  components/descriptions/doc/index.en-US.md
Labels: PR: reviewed-approved, PR: target-minor

#8327 refactor(module:dropdown): refactor control flow
  components/dropdown/demo/placement.ts
Labels: Component: Dropdown, PR: reviewed-approved, PR: target-minor

#8334 docs(module:modal): api table not showing correctly
  components/modal/doc/index.en-US.md
Labels: PR: reviewed-approved, PR: target-patch

#8337 refactor(module:flex): refactor control flow
  components/flex/demo/gap.ts
  components/flex/demo/wrap.ts
Labels: PR: reviewed-approved, PR: target-minor

#8331 refactor(module:empty): refactor control flow component
  components/empty/config.ts
  components/empty/embed-empty.component.ts
  components/empty/empty.component.ts
Labels: Component: Empty, PR: reviewed-approved, PR: target-minor

#8326 refactor(module:drawer): refactor control flow component
  components/drawer/drawer.component.ts
Labels: Component: Drawer, PR: reviewed-approved, PR: target-minor

#8325 refactor(module:divider): refactor control flow component
  components/divider/divider.component.ts
Labels: PR: reviewed-approved, PR: target-minor, Component: Divider

#8344 refactor(module:grid): refactor control flow component
  components/grid/demo/playground.ts
Labels: Component: Grid, PR: reviewed-approved, PR: target-minor

#8343 refactor(module:graph): refactor control flow component
  components/graph/graph-edge.component.ts
  components/graph/graph-node.component.ts
  components/graph/graph.component.ts
Labels: PR: reviewed-approved, PR: target-minor

#8340 refactor(module:form): refactor control flow component
  components/form/demo/advanced-search.ts
  components/form/demo/auto-tips.ts
  components/form/demo/dynamic-form-item.ts
  components/form/demo/register.ts
  components/form/demo/validate-reactive.ts
  components/form/demo/validate-template.ts
  components/form/form-control.component.ts
  components/form/form-control.spec.ts
  components/form/form-label.component.ts
  components/form/form.spec.ts
Labels: Component: Form, PR: reviewed-approved, PR: target-minor

#8349 docs(module:grid): fix doc demo grid
  components/grid/demo/playground.ts
Labels: Component: Grid, PR: reviewed-approved, PR: target-minor

#8348 refactor(module:icon): refactor control flow component
  components/icon/page/index.ts
Labels: Component: Icon, PR: reviewed-approved, PR: target-minor

#8345 refactor(module:hashcode): refactor control flow component
  components/hash-code/hash-code.component.ts
Labels: PR: reviewed-approved, PR: target-minor

#8341 docs(module:icon): typo in icon document
  components/icon/doc/index.en-US.md
Labels: PR: reviewed-approved, PR: target-patch

#8356 refactor(module:input): refactor control flow component
  components/input/demo/allow-clear.ts
  components/input/input-group-slot.component.ts
  components/input/input-group.component.ts
  components/input/input-group.spec.ts
Labels: Component: Input, PR: reviewed-approved, PR: target-minor

#8350 refactor(module:image): refactor control flow component
  components/image/image-preview.component.ts
Labels: PR: reviewed-approved, PR: target-minor, Component: Image

#8316 feat(module:color-picker): make color picker standalone
  components/color-picker/color-block.component.ts
  components/color-picker/color-format.component.ts
  components/color-picker/color-picker.component.ts
  components/color-picker/color-picker.module.ts
  components/color-picker/doc/index.en-US.md
  components/color-picker/doc/index.zh-CN.md
Labels: PR: target-minor, PR: partially-approved

#8320 feat(module:tag): borderless mode
  components/tag/demo/borderless.md
  components/tag/demo/borderless.ts
  components/tag/doc/index.en-US.md
  components/tag/doc/index.zh-CN.md
  components/tag/style/index.less
  components/tag/tag.component.ts
  components/tag/tag.spec.ts
Labels: Component: Tag, PR: reviewed-approved, PR: target-minor

#8328 fix(module:table): styles/behavior not applied to virtual scroll
  components/table/src/table/table-inner-scroll.component.ts
Labels: Component: Table, PR: reviewed-approved, PR: target-patch

#8324 fix(module:tree-select): fix search box exception when Chinese search
  components/tree-select/tree-select.component.ts
  components/tree-select/tree-select.spec.ts
Labels: Component: TreeSelect, PR: target-patch, PR: partially-approved

#8367 fix: pipeline job failed
  package.json
Labels: PR: reviewed-approved, PR: target-patch

#8370 fix(module:transfer): use fill theme for icon instead of outline
  components/transfer/transfer-search.component.ts
Labels: PR: target-patch

#8379 fix(module:form docs): fix form docs garbled characters
  components/form/doc/index.en-US.md
  components/form/doc/index.zh-CN.md
Labels: :scroll: Doc, Component: Form, PR: target-minor, PR: partially-approved
