Repository NG-ZORRO/ng-zorro-antd, pull requests merged in 2024-05, with the labels that each got.

#8530 fix(module:color-picker): avoid emitted twice nzOnChange event
  components/color-picker/color-format.component.ts
  components/color-picker/typings.ts
Labels: PR: reviewed-approved, PR: target-patch, Component: ColorPicker

#8538 perf(module:back-top): remove the redundant changeDetectorRef
  components/back-top/back-top.component.ts
Labels: PR: reviewed-approved, PR: target-patch, Component: BackTop

#8527 fix(module:list): static query list-item-action template
  components/list/list-item-cell.ts
Labels: Component: List, PR: reviewed-approved, PR: target-patch

#8528 fix(module:card): use skeleton instead to card-loading-content
  components/card/card-loading.component.ts
  components/card/card.component.ts
  components/card/card.module.ts
  components/card/card.spec.ts
  components/card/public-api.ts
Labels: Component: Card, PR: reviewed-approved, PR: target-patch

#8465 refactor: removed all usages of <color-sketch>
  components/water-mark/demo/custom.ts
  components/water-mark/demo/module
  package-lock.json
  package.json
  scripts/site/_site/doc/app/app.component.ts
  scripts/site/_site/doc/app/app.module.ts
  scripts/site/_site/doc/app/footer/footer.component.less
  scripts/site/_site/doc/app/footer/footer.component.ts
  scripts/site/_site/doc/app/footer/footer.module.ts
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-patch

#8543 perf(module:qr-code): improved background drawing efficiency
  components/qr-code/qrcode.ts
Labels: PR: reviewed-approved, PR: target-patch, Component: QRCode

#8542 feat(module:popconfirm): popconfirm support for nzOkDisabled
  components/popconfirm/doc/index.en-US.md
  components/popconfirm/doc/index.zh-CN.md
  components/popconfirm/popconfirm.spec.ts
  components/popconfirm/popconfirm.ts
Labels: Component: Popconfirm, PR: reviewed-approved, PR: target-major

#8545 refactor: switch to a dynamic theme based on css variables
  package-lock.json
  package.json
  scripts/gulp/tasks/site.ts
  scripts/site/_site/doc/app/app.component.ts
  scripts/site/_site/doc/app/footer/footer.component.ts
  scripts/site/generate-theme.js
  scripts/site/generateColorLess.js
Labels: :scroll: Doc, PR: unreviewed, PR: target-major

#8516 feat(i18n): update lv_LV lang
  components/i18n/languages/lv_LV.ts
Labels: :earth_africa: i18n, PR: reviewed-approved, PR: target-major

#8552 refactor(style): migrate from @functions to @plugin usage
  .stylelintrc.json
  components/button/style/mixin.less
  components/style/color/bezierEasing.js
  components/style/color/bezierEasing.less
  components/style/color/colorPalette.js
  components/style/color/colorPalette.less
  components/style/color/colors.less
  components/style/color/tinyColor.js
  components/style/color/tinyColor.less
  components/style/color/tinycolor2.js
  components/style/themes/dark.less
  components/style/themes/default.less
  components/style/themes/variable.less
  custom-webpack-spec.config.js
  scripts/build/compile-styles.ts
  scripts/site/generate-theme.js
Labels: 💔 Breaking Change, ✏️ Style, PR: reviewed-approved, PR: target-major

#8550 docs: support for components search box anchoring position after scroll down
  scripts/site/_site/doc/app/components-overview/components-overview.component.html
  scripts/site/_site/doc/app/components-overview/components-overview.component.less
  scripts/site/_site/doc/app/components-overview/components-overview.component.ts
  scripts/site/_site/doc/app/components-overview/components-overview.module.ts
Labels: :scroll: Doc, PR: reviewed-approved

#8447 feat(module:qrcode): qrcode supports scanned state
  components/i18n/languages/en_US.ts
  components/i18n/languages/zh_CN.ts
  components/i18n/nz-i18n.interface.ts
  components/qr-code/demo/status.md
  components/qr-code/demo/status.ts
  components/qr-code/qrcode.component.spec.ts
  components/qr-code/qrcode.component.ts
Labels: PR: reviewed-approved, PR: target-major

#8555 fix(module:tooltip): fix arrow color when custom color
  components/tooltip/tooltip.ts
Labels: Component: Tooltip, PR: reviewed-approved, PR: target-patch

#8537 feat(module:statistic): support for loading state
  components/statistic/demo/basic.ts
  components/statistic/demo/module
  components/statistic/doc/index.en-US.md
  components/statistic/doc/index.zh-CN.md
  components/statistic/statistic.component.ts
  components/statistic/statistic.spec.ts
Labels: PR: reviewed-approved, Component: Statistic, PR: target-major

#8551 fix(module:upload): prevent drop event for firefox only
  components/upload/upload.component.ts
Labels: Component: Upload, PR: reviewed-approved, PR: target-patch

#8553 build: remove custom webpack
  angular.json
  components/anchor/anchor.spec.ts
  components/avatar/avatar.spec.ts
  components/style/testing.less
  components/table/src/testing/table.spec.ts
  components/tabs/tabset.component.spec.ts
  components/time-picker/time-picker-panel.component.spec.ts
  components/transfer/transfer.spec.ts
  custom-webpack-spec.config.js
  package-lock.json
  package.json
Labels: 🖨 Build, PR: reviewed-approved, PR: target-major
