Repository NG-ZORRO/ng-zorro-antd, pull requests merged in 2024-08, with the labels that each got.

#8674 refactor(module:switch): migrate to new control flow
  components/switch/switch.component.ts
Labels: Component: Switch, PR: reviewed-approved, PR: target-patch

#8672 refactor(module:statistic): migrate to new control flow
  components/statistic/statistic-number.component.ts
Labels: PR: unreviewed, Component: Statistic, PR: target-patch

#8666 refactor(module:pipes): migrate to new control flow
  components/pipes/demo/safe-null.ts
Labels: PR: reviewed-approved, PR: target-patch

#8663 refactor(module:color-picker): migrate to new control flow
  components/color-picker/src/ng-antd-color-picker.component.ts
Labels: PR: reviewed-approved, PR: target-patch, Component: ColorPicker

#8669 refactor(module:slider): migrate to new control flow
  components/slider/marks.component.ts
  components/slider/slider.component.ts
  components/slider/step.component.ts
Labels: Component: Slider, PR: reviewed-approved, PR: target-patch

#8664 refactor(module:core): migrate to new control flow
  components/core/form/nz-form-item-feedback-icon.component.ts
  components/core/form/nz-form-patch.module.ts
  components/core/wave/nz-wave.spec.ts
Labels: PR: reviewed-approved, PR: target-patch

#8665 refactor(module:message): migrate to new control flow
  components/message/message-container.component.ts
  components/message/message.component.ts
Labels: Component: Message, PR: reviewed-approved, PR: target-patch

#8671 refactor(module:spin): migrate to new control flow
  components/spin/spin.component.ts
Labels: Component: Spin, PR: reviewed-approved, PR: target-patch

#8673 refactor(module:steps): migrate to new control flow
  components/steps/demo/progress.ts
  components/steps/demo/step-next.ts
  components/steps/step.component.ts
  components/steps/steps.spec.ts
Labels: Component: Steps, PR: reviewed-approved, PR: target-patch

#8662 refactor(module:auto-complete): migrate to new control flow
  components/auto-complete/autocomplete.component.ts
Labels: Component: AutoComplete, PR: reviewed-approved, PR: target-patch

#8668 refactor(module:skeleton): migrate to new control flow
  components/skeleton/skeleton.component.ts
  components/skeleton/skeleton.spec.ts
Labels: Component: Skeleton, PR: reviewed-approved, PR: target-patch

#8670 refactor(module:space): migrate to new control flow
  components/space/space.component.spec.ts
  components/space/space.component.ts
Labels: PR: reviewed-approved, PR: target-patch, Component: Space

#8678 refactor(module:tag): migrate tag component to new control flow
  components/tag/demo/borderless.ts
  components/tag/demo/control.ts
  components/tag/demo/hot-tags.ts
  components/tag/tag.component.ts
Labels: Component: Tag, PR: reviewed-approved, PR: target-patch

#8667 refactor(module:select): migrate to new control flow
  components/select/demo/automatic-tokenization.ts
  components/select/demo/coordinate.ts
  components/select/demo/custom-dropdown-menu.ts
  components/select/demo/default-value.ts
  components/select/demo/hide-selected.ts
  components/select/demo/label-in-value.ts
  components/select/demo/max-count.ts
  components/select/demo/multiple.ts
  components/select/demo/scroll-load.ts
  components/select/demo/search-box.ts
  components/select/demo/select-users.ts
  components/select/demo/size.ts
  components/select/demo/tags.ts
  components/select/option-container.component.ts
  components/select/option-item.component.ts
  components/select/select-arrow.component.ts
  components/select/select-clear.component.ts
  components/select/select-item.component.ts
  components/select/select-search.component.ts
  components/select/select-top-control.component.ts
  components/select/select.component.ts
  components/select/select.spec.ts
Labels: Component: Select, PR: reviewed-approved, PR: target-patch

#8680 refactor(module:tabs): migrate to new control flow
  components/tabs/demo/card-top.ts
  components/tabs/demo/card.ts
  components/tabs/demo/custom-add-trigger.ts
  components/tabs/demo/disabled.ts
  components/tabs/demo/editable-card.ts
  components/tabs/demo/extra.ts
  components/tabs/demo/guard.ts
  components/tabs/demo/icon.ts
  components/tabs/demo/position.ts
  components/tabs/demo/size.ts
  components/tabs/demo/slide.ts
  components/tabs/tab-body.component.ts
  components/tabs/tab-nav-bar.component.ts
  components/tabs/tab-nav-operation.component.ts
  components/tabs/tabset.component.spec.ts
  components/tabs/tabset.component.ts
Labels: Component: Tabs, PR: reviewed-approved, PR: target-patch

#8683 refactor(module:tooltip): migrate to new control flow
  components/tooltip/demo/color.ts
Labels: Component: Tooltip, PR: reviewed-approved, PR: target-patch

#8681 refactor(module:time-picker): migrate to new control flow
  components/time-picker/time-picker-panel.component.ts
  components/time-picker/time-picker.component.ts
Labels: Component: TimePicker, PR: reviewed-approved, PR: target-patch

#8684 refactor(module:transfer): migrate to new control flow
  components/transfer/demo/table-transfer.ts
  components/transfer/transfer-list.component.ts
  components/transfer/transfer-search.component.ts
  components/transfer/transfer.component.ts
Labels: Component: Transfer, PR: unreviewed, PR: target-patch

#8682 refactor(module:timeline): migrate to new control flow
  components/timeline/timeline-item.component.ts
  components/timeline/timeline.component.ts
  components/timeline/timeline.spec.ts
Labels: Component: TimeLine, PR: reviewed-approved, PR: target-patch

#8679 fix(module:grid): fix the NG0955 warning
  components/grid/demo/playground.ts
Labels: :scroll: Doc, Component: Grid, PR: reviewed-approved, PR: target-patch

#8690 refactor(module:upload): migrate to new control flow
  components/upload/demo/avatar.ts
  components/upload/upload-list.component.html
  components/upload/upload-list.component.ts
  components/upload/upload.component.html
  components/upload/upload.component.ts
  components/upload/upload.spec.ts
Labels: Component: Upload, PR: reviewed-approved, PR: target-patch

#8686 docs(module:experimental-image): migrate to new control flow
  components/experimental-image/demo/preloading.md
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-patch, Component: Image

#8687 refactor(module:tabs): migrate to new control flow
  components/tabs/tabset.component.spec.ts
Labels: Component: Tabs, PR: reviewed-approved, PR: target-patch

#8689 refactor(module:typography): migrate to new control flow
  components/typography/text-edit.component.ts
  components/typography/typography.component.ts
Labels: PR: reviewed-approved, PR: target-patch, Component: Typography

#8688 refactor(module:tree,tree-select,tree-view): migrate to new control flow
  components/tree-select/demo/placement.ts
  components/tree-select/tree-select.component.ts
  components/tree-view/demo/dynamic.ts
  components/tree-view/demo/line.ts
  components/tree-view/indent.ts
  components/tree-view/node.ts
  components/tree/demo/customized-icon.ts
  components/tree/demo/directory.ts
  components/tree/tree-indent.component.ts
  components/tree/tree-node-switcher.component.ts
  components/tree/tree-node-title.component.ts
  components/tree/tree-node.component.ts
  components/tree/tree.component.ts
Labels: Component: Tree, Component: TreeSelect, PR: reviewed-approved, PR: target-patch, Component: TreeView

#8691 refactor(module:table): migrate to new control flow
  components/table/demo/ajax.ts
  components/table/demo/basic.ts
  components/table/demo/bordered.ts
  components/table/demo/break-word.ts
  components/table/demo/colspan-rowspan.ts
  components/table/demo/custom-column.ts
  components/table/demo/custom-filter-panel.ts
  components/table/demo/drag-sorting.ts
  components/table/demo/dynamic-settings.ts
  components/table/demo/edit-cell.ts
  components/table/demo/edit-row.ts
  components/table/demo/ellipsis.ts
  components/table/demo/expand-children.ts
  components/table/demo/expand-icon.ts
  components/table/demo/expand.ts
  components/table/demo/fixed-columns-header.ts
  components/table/demo/fixed-columns.ts
  components/table/demo/fixed-header.ts
  components/table/demo/grouping-columns.ts
  components/table/demo/multiple-sorter.ts
  components/table/demo/nested-table.ts
  components/table/demo/reset-filter.ts
  components/table/demo/row-selection-and-operation.ts
  components/table/demo/row-selection-custom.ts
  components/table/demo/size.ts
  components/table/demo/sort-filter.ts
  components/table/src/testing/custom-column.spec.ts
  components/table/src/testing/table.spec.ts
  components/table/src/testing/th.spec.ts
  components/table/src/testing/thead.spec.ts
Labels: Component: Table, PR: reviewed-approved, PR: target-patch

#8693 fix(module:tree-select): clear selected nodes when user set value
  components/tree-select/tree-select.component.ts
Labels: Component: TreeSelect, PR: reviewed-approved, PR: target-patch

#8695 docs: migrate to new control flow
  scripts/site/_site/doc/app/app.component.html
  scripts/site/_site/doc/app/header/header.component.html
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-patch

#8699 fix(packaging): bump compiler-cli to 18.1.2 to fix ngtypecheck issue
  package-lock.json
  package.json
Labels: PR: unreviewed, PR: target-patch, dependencies

#8685 feat(module:datepicker): send event emitter when panel mode change
  components/date-picker/date-picker.component.spec.ts
  components/date-picker/date-picker.component.ts
  components/date-picker/date-range-popup.component.ts
  components/date-picker/doc/index.en-US.md
  components/date-picker/inner-popup.component.ts
  components/date-picker/lib/abstract-panel-header.ts
  components/date-picker/lib/date-header.component.ts
  components/date-picker/lib/decade-header.component.ts
  components/date-picker/lib/month-header.component.ts
  components/date-picker/lib/quarter-header.component.ts
  components/date-picker/lib/year-header.component.ts
  components/date-picker/range-picker.component.spec.ts
  components/date-picker/standard-types.ts
Labels: Component: DatePicker, PR: reviewed-approved, PR: target-minor

#8709 chore: bump angular to 18.2
  components/tree-view/tree-view.ts
  components/tree-view/tree.ts
  package-lock.json
  package.json
Labels: PR: reviewed-approved, PR: target-minor

#8712 fix(module:i18n): add missing translations to `nb_NO`
  components/i18n/languages/nb_NO.ts
Labels: :earth_africa: i18n, PR: reviewed-approved

#8711 refactor(module:icon): migrate demo to standalone mode
  components/icon/demo/basic.ts
  components/icon/demo/custom.ts
  components/icon/demo/iconfont.ts
  components/icon/demo/module
  components/icon/demo/namespace.ts
  components/icon/demo/twotone.ts
  components/icon/page/index.ts
Labels: Component: Icon, PR: reviewed-approved, PR: target-patch

#8716 feat(module:i18n) update nb_NO language
  components/i18n/languages/nb_NO.ts
Labels: PR: reviewed-approved, PR: target-patch, Component: I18n

#8710 refactor(module:comment): migrate demo to standalone mode
  components/comment/comment.spec.ts
  components/comment/demo/basic.ts
  components/comment/demo/editor.ts
  components/comment/demo/list.ts
  components/comment/demo/module
  components/comment/demo/nested.ts
Labels: PR: reviewed-approved, PR: target-patch, Component: Comment
