Repository NG-ZORRO/ng-zorro-antd, pull requests merged in 2024-02, with the labels that each got.

#8382 refactor(module:mention): refactor control flow component
  components/mention/mention.component.ts
  components/mention/nz-mention.spec.ts
Labels: Component: Mention, PR: reviewed-approved, PR: target-minor

#8366 refactor(module:layout): refactor control flow component
  components/layout/sider-trigger.component.ts
  components/layout/sider.component.ts
Labels: Component: Layout, PR: reviewed-approved, PR: target-minor

#8360 refactor(module:input-number): refactor control flow component
  components/input-number/input-number-group-slot.component.ts
  components/input-number/input-number-group.component.ts
  components/input-number/input-number-group.spec.ts
  components/input-number/input-number.component.ts
Labels: Component: InputNumber, PR: reviewed-approved, PR: target-minor

#8339 feat(module:drawer): return componentRef when nzContent is a component
  components/drawer/doc/index.en-US.md
  components/drawer/drawer-ref.ts
  components/drawer/drawer.component.ts
  components/drawer/drawer.spec.ts
Labels: Component: Drawer, PR: reviewed-approved, PR: target-minor

#8386 fix(module:tabs): wrong cursor
  components/tabs/style/patch.less
Labels: Component: Tabs, PR: reviewed-approved, PR: target-patch

#8388 feat(module: flex docs): add Chinese translation
  components/flex/doc/index.zh-CN.md
Labels: :scroll: Doc, PR: target-minor, PR: partially-approved

#8392 chore: add package lock file
  .gitignore
  .npmrc
  azure-pipelines.yml
  package-lock.json
  package.json
Labels: :zap: Performance, PR: reviewed-approved, 🏗 Engineering

#8395 fixed typo
  components/layout/style/index.less
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-minor

#8299 refactor(module:radio): refactor way to manage radio button style
  components/radio/public-api.ts
  components/radio/radio-button.directive.ts
  components/radio/radio.component.ts
  components/radio/radio.module.ts
Labels: Component: Radio, PR: target-minor, PR: partially-approved

#8389 feat(module:modal): expose componentRef nzContent
  components/modal/doc/index.en-US.md
  components/modal/modal-ref.ts
  components/modal/modal.service.ts
  components/modal/modal.spec.ts
Labels: Component: Modal, PR: reviewed-approved, PR: target-minor

#8390 refactor(module:menu): refactor control flow component
  components/menu/demo/recursive.ts
  components/menu/menu-group.component.ts
  components/menu/menu.spec.ts
  components/menu/submenu-title.component.ts
  components/menu/submenu.component.ts
Labels: Component: Menu, PR: reviewed-approved, PR: target-minor

#8168 feat(module:image): now supports horizontal and vertical flip
  components/image/doc/index.en-US.md
  components/image/doc/index.zh-CN.md
  components/image/image-preview-options.ts
  components/image/image-preview.component.ts
  components/image/image.spec.ts
Labels: PR: reviewed-approved, PR: target-minor

#8180 feat(module:image): zoom using mouse wheel
  components/image/image-preview.component.ts
  components/image/image.spec.ts
Labels: PR: reviewed-approved, PR: target-minor, Component: Image

#8401 refactor(module:notification): refactor control flow component
  components/notification/notification-container.component.ts
  components/notification/notification.component.ts
Labels: Component: Notification, PR: unreviewed, PR: reviewed-changes-requested, PR: target-minor

#8398 refactor(module:modal): refactor control flow component
  components/modal/modal-confirm-container.component.ts
  components/modal/modal-container.component.ts
  components/modal/modal-footer.component.ts
Labels: Component: Modal, PR: unreviewed, PR: reviewed-changes-requested, PR: target-minor

#8410 chore: bump angular 17.2
  package-lock.json
  package.json
  schematics/ng-add/setup-project/add-animations-module.ts
Labels: PR: unreviewed, PR: target-minor

#8413 refactor(module:page-header): refactor control flow component
  components/page-header/page-header.component.ts
Labels: Component: PageHeader, PR: reviewed-approved, PR: target-minor

#8393 fix(doc): replaced link for monaco editor options
  components/code-editor/doc/index.en-US.md
  components/code-editor/doc/index.zh-CN.md
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-minor

#8416 refactor(module:pagination): refactor control flow component
  components/pagination/demo/item-render.ts
  components/pagination/pagination-default.component.ts
  components/pagination/pagination-item.component.ts
  components/pagination/pagination-options.component.ts
  components/pagination/pagination.component.ts
  components/pagination/pagination.spec.ts
Labels: Component: Pagination, PR: reviewed-approved, PR: target-minor
