Repository NG-ZORRO/ng-zorro-antd, pull requests merged in 2024-06, with the labels that each got.

#8557 refactor(module:table): use the new control flow
  components/table/src/addon/filter.component.ts
  components/table/src/addon/selection.component.ts
  components/table/src/addon/sorters.component.ts
  components/table/src/cell/td-addon.component.ts
  components/table/src/cell/th-addon.component.ts
  components/table/src/table/table-content.component.ts
  components/table/src/table/table-fixed-row.component.ts
  components/table/src/table/table-inner-scroll.component.ts
  components/table/src/table/table.component.ts
  components/table/src/table/tbody.component.ts
  components/table/src/table/thead.component.ts
  components/table/src/table/tr-measure.component.ts
Labels: Component: Table, PR: reviewed-approved, PR: target-patch

#7853 fix(module:cascader,select,time-picker,tooltip,tree-select): take in account shadow dom when getting the target of an event
  components/cascader/cascader.component.ts
  components/select/select.component.ts
  components/time-picker/time-picker.component.ts
  components/tooltip/base.ts
  components/tree-select/tree-select.component.ts
Labels: PR: reviewed-approved, PR: target-patch, Shadow DOM

#8556 chore: support for running npm scripts in windows
  package-lock.json
  package.json
  scripts/gulp/util/task-helpers.ts
Labels: PR: reviewed-approved, PR: target-patch, Windows

#8478 feat(module:date-picker): quarter selection of date picker
  components/core/time/candy-date.ts
  components/date-picker/date-picker.component.ts
  components/date-picker/date-picker.module.ts
  components/date-picker/date-picker.service.ts
  components/date-picker/demo/basic.ts
  components/date-picker/demo/date-render.ts
  components/date-picker/demo/disabled-date.ts
  components/date-picker/demo/format.ts
  components/date-picker/demo/inline.ts
  components/date-picker/demo/range-picker.ts
  components/date-picker/demo/size.ts
  components/date-picker/demo/switch.ts
  components/date-picker/doc/index.en-US.md
  components/date-picker/doc/index.zh-CN.md
  components/date-picker/inner-popup.component.ts
  components/date-picker/lib/lib-packer.module.ts
  components/date-picker/lib/public-api.ts
  components/date-picker/lib/quarter-header.component.ts
  components/date-picker/lib/quarter-table.component.ts
  components/date-picker/public-api.ts
  components/date-picker/quarter-picker.component.spec.ts
  components/date-picker/quarter-picker.component.ts
  components/date-picker/standard-types.ts
  components/i18n/date-helper.service.spec.ts
  components/i18n/date-helper.service.ts
  components/i18n/languages/default.ts
  components/i18n/languages/en_US.ts
  components/i18n/languages/zh_CN.ts
  components/i18n/languages/zh_HK.ts
  components/i18n/languages/zh_TW.ts
  components/i18n/nz-i18n.interface.ts
Labels: Component: DatePicker, PR: reviewed-approved, PR: target-major

#8559 chore: set default server configuration to development
  angular.json
Labels: 🖨 Build, PR: reviewed-approved

#8560 docs: fix issues in components overview page
  components/hash-code/doc/index.en-US.md
  components/hash-code/doc/index.zh-CN.md
  components/water-mark/doc/index.en-US.md
  components/water-mark/doc/index.zh-CN.md
  scripts/site/_site/doc/app/components-overview/components-overview.component.html
  scripts/site/_site/doc/app/components-overview/components-overview.component.less
Labels: :scroll: Doc, PR: partially-approved

#8562 chore: fix lint-staged
  .lintstagedrc
Labels: PR: reviewed-approved

#8561 feat(module:collapse): change nzExpandIconPosition type from `left` | `right` to `start` | `end`
  components/collapse/collapse.component.ts
  components/collapse/demo/extra.ts
  components/collapse/doc/index.en-US.md
  components/collapse/doc/index.zh-CN.md
Labels: Component: Collapse, 💔 Breaking Change, PR: reviewed-approved, PR: target-major

#8563 docs: update angular documentation website links
  README-zh_CN.md
  README.md
  components/auto-complete/demo/object-value.md
  components/auto-complete/doc/index.en-US.md
  components/auto-complete/doc/index.zh-CN.md
  components/breadcrumb/demo/router.md
  components/calendar/doc/index.en-US.md
  components/date-picker/doc/index.en-US.md
  components/date-picker/doc/index.zh-CN.md
  components/form/demo/validate-reactive.md
  components/form/demo/validate-template.md
  components/form/doc/index.en-US.md
  components/form/doc/index.zh-CN.md
  components/menu/demo/router.md
  components/menu/doc/index.en-US.md
  components/menu/doc/index.zh-CN.md
  components/page-header/doc/index.en-US.md
  components/page-header/doc/index.zh-CN.md
  components/select/demo/label-in-value.md
  components/select/doc/index.en-US.md
  components/select/doc/index.zh-CN.md
  components/table/demo/edit-cell.md
  components/table/demo/edit-row.md
  components/table/doc/index.en-US.md
  components/table/doc/index.zh-CN.md
  components/time-picker/doc/index.en-US.md
  components/time-picker/doc/index.zh-CN.md
  docs/faq.en-US.md
  docs/faq.zh-CN.md
  docs/getting-started.en-US.md
  docs/getting-started.zh-CN.md
  docs/i18n.en-US.md
  docs/i18n.zh-CN.md
  docs/introduce.en-US.md
  docs/introduce.zh-CN.md
  docs/recommendation.en-US.md
  docs/recommendation.zh-CN.md
  docs/schematics.en-US.md
  docs/schematics.zh-CN.md
  scripts/site/_site/doc/app/footer/footer.component.ts
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-major

#8457 feat(module:table): support setting virtual height when having no data
  components/table/doc/index.en-US.md
  components/table/doc/index.zh-CN.md
  components/table/src/table/table-inner-scroll.component.ts
  components/table/src/table/table.component.ts
Labels: Component: Table, PR: reviewed-approved, PR: target-minor

#8448 feat(module:rate): emit hover change when leave
  components/rate/doc/index.en-US.md
  components/rate/rate.component.ts
  components/rate/rate.spec.ts
Labels: Component: Rate, PR: reviewed-approved, PR: target-minor

#8566 build: maintaining dependencies
  components/code-editor/code-editor.spec.ts
  components/radio/radio.spec.ts
  components/typography/typography.spec.ts
  package-lock.json
  package.json
  scripts/site/_site/doc/polyfills.ts
Labels: PR: reviewed-approved, dependencies

#8568 chore(release): release 18.0.0
  CHANGELOG.md
  README-zh_CN.md
  README.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
  docs/introduce.en-US.md
  docs/introduce.zh-CN.md
  docs/migration-v18.en-US.md
  docs/migration-v18.zh-CN.md
  package-lock.json
  package.json
  scripts/prerender/route-paths.txt
  scripts/site/_site/doc/app/header/header.component.ts
  scripts/site/_site/doc/app/online-ide/online-ide.service.ts
Labels: PR: target-major, PR: partially-approved

#8577 feat(module:schematics): improve migration and component schematics
  docs/animations.en-US.md
  docs/animations.zh-CN.md
  schematics/ng-component/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.component.__style__.template
  schematics/ng-component/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.component.html.template
  schematics/ng-component/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.component.spec.ts.template
  schematics/ng-component/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.component.ts.template
  schematics/ng-component/index.spec.ts
  schematics/ng-component/schema.json
  schematics/ng-update/data/css-selectors.ts
  schematics/ng-update/data/element-selectors.ts
  schematics/ng-update/data/input-names.ts
  schematics/ng-update/data/output-names.ts
  schematics/ng-update/upgrade-rules/checks/dropdown-template-rule.ts
  schematics/ng-update/upgrade-rules/checks/form-template-rule.ts
  schematics/ng-update/upgrade-rules/checks/secondary-entry-points-rule.ts
  schematics/ng-update/upgrade-rules/checks/space-template-rule.ts
  schematics/ng-update/upgrade-rules/checks/tooltip-like-template-rule.ts
  schematics/ng-update/upgrade-rules/utils/deprecated-component.ts
  schematics/utils/build-component.ts
  scripts/release/parse-version.ts
  scripts/release/release.ts
  scripts/schematics/demo2schematics.ts
Labels: PR: reviewed-approved, ⚙️ Schematics, PR: target-major

#8586 fix(module:pagination): page item 'track' mistake
  components/pagination/pagination-default.component.ts
Labels: Component: Pagination, PR: reviewed-approved, PR: target-patch

#8593 fix(module:table): fix @for track function
  components/table/src/table/table-content.component.ts
  components/table/src/table/tr-measure.component.ts
Labels: Component: Table, PR: reviewed-approved, PR: target-patch

#8587 fix(module:graph): fix @for track function
  components/graph/graph.component.ts
Labels: PR: reviewed-approved, PR: target-patch, Component: Graph

#8588 fix(module:icon): fix @for track function
  components/icon/page/index.ts
Labels: Component: Icon, PR: reviewed-approved, PR: target-patch

#8597 fix(module:i18n): add scanned field to QRCode fa_IR
  components/i18n/languages/fa_IR.ts
Labels: :earth_africa: i18n, PR: unreviewed, PR: target-patch, Component: QRCode

#8602 docs: fix dictation mistake of drawer documentation
  components/drawer/doc/index.en-US.md
Labels: :scroll: Doc

#8574 fix(module:table): missing no-result in fixed header table
  components/table/src/table/table-fixed-row.component.ts
Labels: Component: Table, PR: reviewed-approved, PR: target-patch

#8604 docs: update angular doc links with angular.cn in zh_cn page
  README-zh_CN.md
  components/auto-complete/demo/object-value.md
  components/auto-complete/doc/index.zh-CN.md
  components/breadcrumb/demo/router.md
  components/date-picker/doc/index.zh-CN.md
  components/form/demo/validate-reactive.md
  components/form/demo/validate-template.md
  components/form/doc/index.zh-CN.md
  components/menu/demo/router.md
  components/menu/doc/index.zh-CN.md
  components/page-header/doc/index.zh-CN.md
  components/select/demo/label-in-value.md
  components/select/doc/index.zh-CN.md
  components/table/demo/edit-cell.md
  components/table/demo/edit-row.md
  components/table/doc/index.zh-CN.md
  components/time-picker/doc/index.zh-CN.md
  docs/faq.zh-CN.md
  docs/getting-started.zh-CN.md
  docs/i18n.zh-CN.md
  docs/introduce.zh-CN.md
  docs/migration-v18.zh-CN.md
  docs/recommendation.zh-CN.md
  scripts/site/_site/doc/app/footer/footer.component.ts
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-patch

#8605 fix(module:i18n) add missing german translations
  components/i18n/languages/de_DE.ts
Labels: :earth_africa: i18n

#8606 chore: bump dev deps tree-dump 1.0.1 t0 1.0.2
  package-lock.json
Labels: dependencies

#8610 chore(release): release 18.0.1
  .github/auto_assign.yml
  .husky/commit-msg
  .husky/pre-commit
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
  package.json
Labels: PR: reviewed-approved

#8611 fix: typescript type config definition
  components/tsconfig.lib.json
Labels: PR: reviewed-approved, Tools, 🏗 Engineering

#6625 docs(module: table): fix API docs add thead event
  components/table/doc/index.en-US.md
  components/table/doc/index.zh-CN.md
Labels: :scroll: Doc, Component: Table, PR: reviewed-approved, PR: target-patch

#8616 docs(module:icon): update icon usage document
  components/icon/doc/index.en-US.md
  components/icon/doc/index.zh-CN.md
Labels: :scroll: Doc, Component: Icon, PR: reviewed-approved
