Repository NG-ZORRO/ng-zorro-antd, pull requests merged in 2025-07, with the labels that each got.

#9259 feat(module:tree-select): render title of selected node in innerHTML
  components/cascader/cascader.component.ts
  components/select/select-item.component.ts
  components/select/select-top-control.component.ts
  components/tree-select/tree-select.component.ts
Labels: Component: TreeSelect, PR: reviewed-approved, PR: target-minor

#9272 docs(module:tabs): draggable showcase: hide content after switching tabs
  components/tabs/demo/draggable.ts
Labels: :scroll: Doc, Component: Tabs, PR: reviewed-approved, PR: target-patch

#9283 docs: fix component meta and typos
  components/hash-code/doc/index.en-US.md
  components/hash-code/doc/index.zh-CN.md
  components/layout/doc/index.en-US.md
  components/layout/doc/index.zh-CN.md
  components/select/doc/index.en-US.md
  components/select/doc/index.zh-CN.md
  components/tree/doc/index.en-US.md
  components/tree/doc/index.zh-CN.md
  components/upload/doc/index.en-US.md
  docs/customize-theme.en-US.md
  scripts/site/_site/doc/app/component-meta/component-meta.component.ts
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-patch

#9288 refactor(schematics): use `@schematics/angular/utility` for workspace helpers
  schematics/ng-add/index.spec.ts
  schematics/ng-add/index.ts
  schematics/ng-add/schema.ts
  schematics/ng-add/setup-project/add-required-providers.ts
  schematics/ng-add/setup-project/hammerjs-import.ts
  schematics/ng-add/setup-project/index.ts
  schematics/ng-add/setup-project/register-locale.ts
  schematics/ng-add/setup-project/theming.ts
  schematics/ng-add/standalone.spec.ts
  schematics/ng-component/index.spec.ts
  schematics/ng-component/index.ts
  schematics/ng-generate/blank/index.ts
  schematics/ng-generate/side-menu/files/src/app/app-routing.module.ts.template
  schematics/ng-generate/side-menu/files/src/app/pages/welcome/welcome-routing.module.ts.template
  schematics/ng-generate/side-menu/files/src/app/pages/welcome/welcome.component.ts.template
  schematics/ng-generate/side-menu/files/src/app/pages/welcome/welcome.module.ts.template
  schematics/ng-generate/side-menu/index.ts
  schematics/ng-generate/side-menu/schema.ts
  schematics/ng-generate/side-menu/standalone/src/app/pages/welcome/welcome.component.ts.template
  schematics/ng-generate/topnav/files/src/app/app-routing.module.ts.template
  schematics/ng-generate/topnav/files/src/app/pages/welcome/welcome-routing.module.ts.template
  schematics/ng-generate/topnav/files/src/app/pages/welcome/welcome.component.ts.template
  schematics/ng-generate/topnav/files/src/app/pages/welcome/welcome.module.ts.template
  schematics/ng-generate/topnav/index.ts
  schematics/ng-generate/topnav/standalone.spec.ts
  schematics/ng-generate/topnav/standalone/src/app/pages/welcome/welcome.component.ts.template
  schematics/utils/build-component.ts
  schematics/utils/create-custom-theme.ts
  schematics/utils/ng-update/module-specifiers.ts
  schematics/utils/project-style.ts
  schematics/utils/root-module.ts
Labels: PR: reviewed-approved, ⚙️ Schematics, PR: target-patch

#9287 refactor(module:modal): replace string with enum value
  components/modal/modal-ref.ts
Labels: Component: Modal, PR: reviewed-approved, PR: target-patch

#9267 feat(module:float-button): support nzPlacement
  components/float-button/demo/group-menu.ts
  components/float-button/demo/group-placement.md
  components/float-button/demo/group-placement.ts
  components/float-button/demo/group.ts
  components/float-button/demo/top.md
  components/float-button/doc/index.en-US.md
  components/float-button/doc/index.zh-CN.md
  components/float-button/float-button-group.component.spec.ts
  components/float-button/float-button-group.component.ts
  components/float-button/style/index.less
Labels: PR: reviewed-approved, PR: target-minor, Component: FloatButton

#9285 fix(module:tooltip): rename ToolTip to Tooltip
  components/avatar/demo/group.ts
  components/code-editor/demo/complex.ts
  components/comment/demo/basic.ts
  components/icon/page/index.ts
  components/input/demo/presuffix.ts
  components/input/demo/tooltip.ts
  components/menu/demo/inline-collapsed.ts
  components/popconfirm/popconfirm.ts
  components/popover/popover.ts
  components/progress/demo/segment.ts
  components/rate/rate.component.ts
  components/slider/demo/tooltip.md
  components/slider/handle.component.ts
  components/space/demo/compact-buttons.ts
  components/space/demo/compact.ts
  components/tooltip/demo/arrow-point-at-center.ts
  components/tooltip/demo/basic.ts
  components/tooltip/demo/color.ts
  components/tooltip/demo/origin.ts
  components/tooltip/demo/placement.md
  components/tooltip/demo/placement.ts
  components/tooltip/demo/template.ts
  components/tooltip/tooltip.module.ts
  components/tooltip/tooltip.spec.ts
  components/tooltip/tooltip.ts
  components/typography/text-copy.component.ts
  components/typography/text-edit.component.ts
  components/upload/upload-list.component.ts
  scripts/site/_site/doc/app/codebox/codebox.component.ts
  scripts/site/_site/doc/app/component-meta/component-meta.component.ts
  scripts/site/_site/doc/app/contributors-list/contributors-list.component.ts
  scripts/site/_site/doc/app/share/share.module.ts
Labels: Component: Tooltip, PR: reviewed-approved, PR: target-minor

#9270 feat(module:popconfirm): add nzDanger support to cancel button
  components/popconfirm/popconfirm.spec.ts
  components/popconfirm/popconfirm.ts
Labels: Component: Popconfirm, PR: reviewed-approved, PR: target-minor

#9292 fix(module:core): avoid using `setAttribute` to set `style`
  components/core/util/text-measure.ts
Labels: PR: reviewed-approved, PR: target-minor

#9256 feat(module:input-number): accepted numbers with commas
  components/input-number/input-number.component.spec.ts
  components/input-number/input-number.component.ts
Labels: Component: InputNumber, PR: reviewed-approved, PR: target-minor

#9281 docs: add script to generate llm.txt
  angular.json
  package-lock.json
  package.json
  scripts/generate-llms.ts
  scripts/gulp/tasks/site.ts
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-minor
