Repository NG-ZORRO/ng-zorro-antd, pull requests merged in 2025-09, with the labels that each got.

#9373 feat(module:segmented): support `nzName` and keyboard interactions
  components/segmented/demo/block.md
  components/segmented/demo/block.ts
  components/segmented/demo/custom.md
  components/segmented/demo/custom.ts
  components/segmented/demo/disabled.md
  components/segmented/demo/disabled.ts
  components/segmented/demo/dynamic.md
  components/segmented/demo/dynamic.ts
  components/segmented/demo/icon.md
  components/segmented/demo/icon.ts
  components/segmented/demo/size.md
  components/segmented/demo/size.ts
  components/segmented/demo/value.md
  components/segmented/demo/value.ts
  components/segmented/demo/vertical.md
  components/segmented/demo/vertical.ts
  components/segmented/demo/with-icon-only.md
  components/segmented/demo/with-icon-only.ts
  components/segmented/demo/with-name.md
  components/segmented/demo/with-name.ts
  components/segmented/doc/index.en-US.md
  components/segmented/doc/index.zh-CN.md
  components/segmented/segmented-item.component.ts
  components/segmented/segmented.component.ts
  components/segmented/segmented.service.ts
  components/segmented/segmented.spec.ts
Labels: 💪 Enhancement, PR: reviewed-approved, PR: target-minor, Component: Segmented

#9368 feat(module:segmented): support nzShape
  components/segmented/demo/shape.md
  components/segmented/demo/shape.ts
  components/segmented/doc/index.en-US.md
  components/segmented/doc/index.zh-CN.md
  components/segmented/segmented.component.ts
  components/segmented/segmented.spec.ts
  components/segmented/style/index.less
Labels: 💪 Enhancement, PR: reviewed-approved, PR: target-minor, Component: Segmented

#9374 feat(module:core): support `withConfigFactory` for `input` properties
  components/core/config/config.service.ts
  components/core/config/config.spec.ts
Labels: PR: reviewed-approved, PR: target-minor, Tools

#9386 fix(module:segmented): fix NG0950 error
  components/segmented/segmented.component.ts
Labels: PR: reviewed-approved, PR: target-patch, Component: Segmented

#9384 docs(module:mention): add autoSize showcase
  components/mention/demo/auto-size.md
  components/mention/demo/auto-size.ts
  components/mention/demo/multilines.md
  components/mention/demo/multilines.ts
Labels: :scroll: Doc, Component: Mention, PR: reviewed-approved, PR: target-minor

#9355 feat(module:carousel): support nzArrows
  components/carousel/carousel.component.ts
  components/carousel/carousel.spec.ts
  components/carousel/demo/arrow.md
  components/carousel/demo/arrow.ts
  components/carousel/doc/index.en-US.md
  components/carousel/doc/index.zh-CN.md
  components/carousel/style/index.less
  components/carousel/style/rtl.less
Labels: 💪 Enhancement, Component: Collapse, PR: reviewed-approved, PR: target-minor

#9385 refactor(module:*): replace overlay service with standalone functions
  components/auto-complete/autocomplete-trigger.directive.ts
  components/drawer/drawer.component.ts
  components/drawer/drawer.service.ts
  components/dropdown/context-menu.service.ts
  components/dropdown/dropdown.directive.ts
  components/image/image.service.ts
  components/mention/mention.component.ts
  components/message/base.ts
  components/modal/modal.service.ts
Labels: 💪 Enhancement, :zap: Performance, Component: Modal, Component: Drawer, Component: AutoComplete, Component: Dropdown, Component: Message, Component: Mention, PR: reviewed-approved, PR: target-minor, Component: Image, ☁️ Overlay

#9393 feat(module:i18n): enhance provideNzI18n to support factory function
  components/i18n/nz-i18n.service.spec.ts
  components/i18n/nz-i18n.token.ts
Labels: 💪 Enhancement, PR: reviewed-approved, PR: target-minor, Component: I18n

#9392 refactor(module:core): add default value arg to `withConfig` function
  components/core/config/config.service.ts
  components/core/config/config.spec.ts
Labels: PR: partially-approved

#9412 fix(module:schematics): add `less` as devDependencies if choosing custom theme in non-less project
  schematics/ng-add/index.spec.ts
  schematics/ng-add/index.ts
  schematics/utils/package-config.ts
Labels: PR: reviewed-approved, ⚙️ Schematics, PR: target-minor

#9414 build: bump gulp to v5 and upgrade dev tools
  .claude/NG-ZORRO.md
  package-lock.json
  package.json
  scripts/build/compile-styles.ts
  scripts/code-check/export-as-fix.js
  scripts/gulp/gulpfile.ts
  scripts/gulp/tasks/library.ts
  scripts/gulp/tasks/schematic.ts
  scripts/gulp/tasks/site.ts
  scripts/gulp/tasks/unit-test.ts
  scripts/gulp/tsconfig.json
  scripts/gulp/util/task-helpers.ts
  scripts/release/release.ts
Labels: 🖨 Build, PR: reviewed-approved, PR: target-minor, 🏗 Engineering

#9419 docs: fixed version select width
  scripts/site/_site/doc/app/header/header.component.html
Labels: :scroll: Doc, PR: reviewed-approved

#9423 chore: add mcp configuration
  .claude/.mcp.json
  .cursor/mcp.json
  .gemini/settings.json
  .gitignore
  .junie/mcp.json
  .vscode/mcp.json
Labels: PR: reviewed-approved, PR: target-minor, ✨AI

#9426 docs(module:auto-complete): add demo for nzVariant
  components/auto-complete/demo/variant.md
  components/auto-complete/demo/variant.ts
Labels: Component: AutoComplete, PR: reviewed-approved, PR: target-patch

#9433 feat(module:pagination): support nzAlign
  components/pagination/demo/align.md
  components/pagination/demo/align.ts
  components/pagination/doc/index.en-US.md
  components/pagination/doc/index.zh-CN.md
  components/pagination/pagination.component.ts
  components/pagination/pagination.spec.ts
  components/pagination/pagination.types.ts
  components/pagination/style/index.less
Labels: Component: Pagination, PR: reviewed-approved, PR: target-minor
