Repository NG-ZORRO/ng-zorro-antd, pull requests merged in 2025-03, with the labels that each got.

#9032 fix(module:transfer): fixed tree transfer demo
  components/transfer/demo/tree-transfer.ts
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-patch

#9038 refactor(module:core): support type inference for `isTemplateRef` method
  components/core/outlet/string_template_outlet.directive.ts
  components/core/util/check.ts
  components/drawer/drawer.component.ts
  components/steps/step.component.ts
Labels: PR: reviewed-approved, PR: target-patch

#9039 fix(module:segmented): fix error with the FormControl first change
  components/segmented/segmented-item.component.ts
  components/segmented/segmented.spec.ts
Labels: PR: unreviewed, PR: target-patch, Component: Segmented

#9035 refactor(module:upload): replace deprecated code
  components/upload/upload-btn.component.ts
Labels: Component: Upload, PR: reviewed-approved, PR: target-patch

#7801 fix(module:space): nzSpaceItem margin in rtl
  components/space/space.component.spec.ts
  components/space/space.component.ts
Labels: PR: reviewed-approved, PR: target-patch, Component: Space, :globe_with_meridians: caniuse

#9051 fix(module:input-number): consider input value ends with 0 as incomplete
  components/input-number/input-number.component.spec.ts
  components/input-number/input-number.component.ts
Labels: Component: InputNumber, PR: reviewed-approved, PR: target-patch

#9050 chore: bump angular to 19.2
  components/input-number/input-number.component.spec.ts
  components/space/space-compact.component.spec.ts
  package-lock.json
  package.json
Labels: PR: reviewed-approved, PR: target-minor

#9052 refactor(module:pageheader): insure compatibility RxJs 6
  components/page-header/page-header.component.ts
Labels: Component: PageHeader, PR: unreviewed, PR: target-patch

#9059 chore: drop dev deps @typescript-eslint/*
  package-lock.json
  package.json
Labels: PR: target-patch

#9063 chore: update lint config for html
  .stylelintrc.json
  components/date-picker/lib/abstract-table.html
  eslint.config.mjs
  package-lock.json
  package.json
Labels: PR: target-patch

#9066 docs(module:tabs): add draggable tabs example
  components/tabs/demo/draggable.md
  components/tabs/demo/draggable.ts
  components/tabs/tabset.component.ts
Labels: :scroll: Doc, Component: Tabs, PR: reviewed-approved, PR: target-patch

#7649 fix(module:tabs): update active router tab after tabs changed
  components/tabs/demo/link-router.ts
  components/tabs/tabset.component.spec.ts
  components/tabs/tabset.component.ts
Labels: Component: Tabs, PR: reviewed-approved, PR: target-patch

#8987 feat(module:splitter): add splitter component
  .github/CODEOWNERS
  .github/nz-boot.yml
  components/components.less
  components/splitter/demo/basic.md
  components/splitter/demo/basic.ts
  components/splitter/demo/collapsible.md
  components/splitter/demo/collapsible.ts
  components/splitter/demo/complex.md
  components/splitter/demo/complex.ts
  components/splitter/demo/control.md
  components/splitter/demo/control.ts
  components/splitter/demo/lazy.md
  components/splitter/demo/lazy.ts
  components/splitter/demo/multiple.md
  components/splitter/demo/multiple.ts
  components/splitter/demo/vertical.md
  components/splitter/demo/vertical.ts
  components/splitter/doc/index.en-US.md
  components/splitter/doc/index.zh-CN.md
  components/splitter/index.ts
  components/splitter/ng-package.json
  components/splitter/public-api.ts
  components/splitter/splitter-bar.component.ts
  components/splitter/splitter-panel.component.ts
  components/splitter/splitter.component.ts
  components/splitter/splitter.module.ts
  components/splitter/splitter.spec.ts
  components/splitter/style/entry.less
  components/splitter/style/index.less
  components/splitter/style/patch.less
  components/splitter/style/rtl.less
  components/splitter/typings.ts
  components/splitter/utils.ts
  components/style/themes/dark.less
  components/style/themes/default.less
  components/style/themes/variable.less
  scripts/prerender/route-paths.txt
Labels: :star: New Component, PR: reviewed-approved, PR: target-minor, Component: Splitter

#9056 fix(module:select): bugfix for changing ngModel value of mutilple select with nzMaxMultipleCount
  components/select/option-container.component.ts
  components/select/select-arrow.component.ts
  components/select/select.component.ts
  components/select/select.spec.ts
Labels: Component: Select, PR: reviewed-approved, PR: target-patch

#9045 fix(module:tree-select): enable overflow-x for virtual scroll
  components/tree-select/style/patch.less
  components/tree-select/tree-select.spec.ts
Labels: Component: TreeSelect, PR: reviewed-approved, PR: target-patch

#9068 fix(module:select): disable `nzMaxMultipleCount` in default mode
  components/core/util/convert.ts
  components/select/select-arrow.component.ts
  components/select/select.component.ts
  components/select/select.spec.ts
Labels: Component: Select, PR: reviewed-approved, PR: target-patch

#9069 chore(release): release 19.2.0
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
  docs/join.zh-CN.md
Labels: PR: reviewed-approved, PR: target-minor, PR: merge-ready

#9074 fix(module:select): remove internal comment from select-arrow
  components/select/select-arrow.component.ts
Labels: Component: Select, 🖨 Build

#9076 docs(module:*): replace all NgModule with standalone mode
  README-zh_CN.md
  README.md
  components/calendar/doc/index.en-US.md
  components/calendar/doc/index.zh-CN.md
  components/code-editor/doc/index.en-US.md
  components/code-editor/doc/index.zh-CN.md
  components/date-picker/doc/index.en-US.md
  components/date-picker/doc/index.zh-CN.md
  components/experimental-image/demo/src-loader.md
  components/icon/doc/index.en-US.md
  components/icon/doc/index.zh-CN.md
  docs/animations.en-US.md
  docs/animations.zh-CN.md
  docs/customize-theme-variable.en-US.md
  docs/customize-theme-variable.zh-CN.md
  docs/customize-theme.en-US.md
  docs/customize-theme.zh-CN.md
  docs/getting-started.en-US.md
  docs/getting-started.zh-CN.md
  docs/global-config.en-US.md
  docs/global-config.zh-CN.md
  docs/i18n.en-US.md
  docs/i18n.zh-CN.md
  docs/introduce.en-US.md
  docs/introduce.zh-CN.md
  docs/recommendation.en-US.md
  docs/recommendation.zh-CN.md
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-patch
