Repository NG-ZORRO/ng-zorro-antd, pull requests merged in 2025-08, with the labels that each got.

#9303 fix(module:layout): fix showcases
  components/layout/demo/basic.md
  components/layout/demo/basic.ts
  components/layout/demo/custom-trigger.ts
  components/layout/demo/fixed-sider.ts
  components/layout/demo/fixed.ts
  components/layout/demo/responsive.ts
  components/layout/demo/side.ts
  components/layout/demo/top-side-2.md
  components/layout/demo/top-side.md
  components/layout/demo/top-side.ts
  components/layout/demo/top.ts
  scripts/site/_site/doc/app/codebox/codebox.component.html
Labels: :scroll: Doc, Component: Layout, PR: reviewed-approved, PR: target-patch

#9306 chore(release): release 20.1.1
  CHANGELOG.md
  components/input-number/input-number.component.spec.ts
  components/input-number/input-number.component.ts
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Labels: PR: reviewed-approved, PR: target-patch

#9313 docs: fix typo
  components/auto-complete/doc/index.en-US.md
  components/auto-complete/doc/index.zh-CN.md
  components/hash-code/doc/index.en-US.md
  components/hash-code/doc/index.zh-CN.md
  components/tree-view/doc/index.en-US.md
  components/tree-view/doc/index.zh-CN.md
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-patch, Component: HashCode

#9317 docs(module:input-number): add `nzKeyboard` description
  components/input-number/doc/index.en-US.md
  components/input-number/doc/index.zh-CN.md
Labels: :scroll: Doc, Component: InputNumber, PR: reviewed-approved, PR: target-patch

#9323 chore: update lint-staged config to include markdown
  .lintstagedrc
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README-zh_CN.md
  components/popconfirm/doc/index.en-US.md
  components/popconfirm/doc/index.zh-CN.md
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
  eslint.config.mjs
Labels: PR: reviewed-approved, 🏗 Engineering

#9335 fix(module:i18n): add missing translations to `sk_SK`
  components/i18n/languages/sk_SK.ts
Labels: PR: reviewed-approved, PR: target-patch, Component: I18n

#9336 fix(module:select): shaking when closing dropdown if use a TemplateRef as notFoundContent (#8931)
  components/empty/embed-empty.component.ts
Labels: Component: Select, PR: reviewed-approved, PR: target-patch

#9340 chore: bump angular version to v20.2
  package-lock.json
  package.json
Labels: PR: reviewed-approved, PR: target-minor

#9329 feat(module:dropdown): display arrow for content dropdown
  components/dropdown/demo/arrow.md
  components/dropdown/demo/arrow.ts
  components/dropdown/doc/index.en-US.md
  components/dropdown/doc/index.zh-CN.md
  components/dropdown/dropdown-menu.component.ts
  components/dropdown/dropdown.directive.spec.ts
  components/dropdown/dropdown.directive.ts
Labels: Component: Dropdown, PR: reviewed-approved, PR: target-minor

#9339 feat(module:cascader): add `nzOpen` to control visibility
  components/cascader/cascader.component.ts
  components/cascader/cascader.spec.ts
  components/cascader/demo/open.md
  components/cascader/demo/open.ts
  components/cascader/demo/variant.md
  components/cascader/doc/index.en-US.md
  components/cascader/doc/index.zh-CN.md
Labels: Component: Cascader, PR: reviewed-approved, PR: target-minor

#9357 refactor: promotion docs support zoneless well
  scripts/site/_site/doc/app/app.component.html
  scripts/site/_site/doc/app/app.component.ts
  scripts/site/_site/doc/app/app.service.ts
  scripts/site/_site/doc/app/app.token.ts
  scripts/site/_site/doc/app/codebox/codebox.component.html
  scripts/site/_site/doc/app/codebox/codebox.component.ts
  scripts/site/_site/doc/app/codebox/highlight.component.ts
  scripts/site/_site/doc/app/components-overview/components-overview.component.html
  scripts/site/_site/doc/app/components-overview/components-overview.component.ts
  scripts/site/_site/doc/app/contributors-list/contributors-list.component.less
  scripts/site/_site/doc/app/contributors-list/contributors-list.component.ts
  scripts/site/_site/doc/app/fixed-widgets/fixed-widgets.component.ts
  scripts/site/_site/doc/app/fixed-widgets/theming-icon.ts
  scripts/site/_site/doc/app/footer/footer-col.component.ts
  scripts/site/_site/doc/app/footer/footer-item.component.ts
  scripts/site/_site/doc/app/footer/footer.component.ts
  scripts/site/_site/doc/app/header/github-button.component.ts
  scripts/site/_site/doc/app/header/header.component.html
  scripts/site/_site/doc/app/header/header.component.ts
  scripts/site/_site/doc/app/header/header.less
  scripts/site/_site/doc/app/header/logo.component.ts
  scripts/site/_site/doc/app/header/navigation.component.ts
  scripts/site/_site/doc/app/header/searchbar.component.ts
  scripts/site/_site/doc/app/nav-bottom/nav-bottom.component.ts
  scripts/site/_site/doc/app/side/side.component.html
  scripts/site/_site/doc/app/side/side.component.less
  scripts/site/_site/doc/app/side/side.component.ts
  scripts/site/_site/doc/style/common.less
  scripts/site/_site/doc/style/demo.less
  scripts/site/_site/doc/style/design-doc.less
  scripts/site/_site/doc/style/header.less
  scripts/site/_site/doc/style/home.less
  scripts/site/_site/doc/style/index.less
  scripts/site/_site/doc/style/markdown.less
  scripts/site/_site/doc/style/motion.less
  scripts/site/_site/doc/style/new-version-info-modal.less
  scripts/site/_site/doc/style/not-found.less
  scripts/site/_site/doc/style/nprogress.less
  scripts/site/_site/doc/style/page-nav.less
  scripts/site/_site/doc/style/responsive.less
  scripts/site/_site/doc/style/rtl.less
  scripts/site/_site/doc/style/santa.less
  scripts/site/_site/doc/style/toc.less
  scripts/site/template/code-box.template.html
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-minor

#9362 docs: improve header navigator style
  components/affix/doc/index.zh-CN.md
  components/grid/row.directive.ts
  components/slider/demo/reverse.ts
  scripts/site/_site/doc/app/app.component.ts
  scripts/site/_site/doc/app/app.service.ts
  scripts/site/_site/doc/app/components-overview/components-overview.component.html
  scripts/site/_site/doc/app/components-overview/components-overview.component.ts
  scripts/site/_site/doc/app/header/header.component.html
  scripts/site/_site/doc/app/header/header.component.ts
  scripts/site/_site/doc/app/header/header.less
  scripts/site/_site/doc/app/side/side.component.ts
  scripts/site/_site/doc/style/dark.less
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-minor

#9363 fix(module:segmented): should render single element in item if icon-only
  components/segmented/segmented-item.component.ts
  components/segmented/segmented.component.ts
  components/segmented/segmented.spec.ts
Labels: PR: reviewed-approved, PR: target-minor, Component: Segmented

#9365 docs(module:float-button): add tooltip demo for float-button
  components/float-button/demo/group-menu.md
  components/float-button/demo/group-placement.md
  components/float-button/demo/group.md
  components/float-button/demo/open.md
  components/float-button/demo/tooltip.md
  components/float-button/demo/tooltip.ts
  components/float-button/demo/top.md
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-patch, Component: FloatButton

#9367 fix(module:segmented): correctly render with-icon & icon-only
  components/segmented/segmented-item.component.ts
  components/segmented/segmented.spec.ts
Labels: PR: reviewed-approved, PR: target-patch, Component: Segmented

#9372 chore(release): release 20.2.1
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Labels: PR: reviewed-approved
