Repository NG-ZORRO/ng-zorro-antd, pull requests merged in 2025-06, with the labels that each got.

#9133 refactor(module:modal): replace `const enum`
  components/modal/modal-ref.ts
Labels: Component: Modal, PR: reviewed-approved, PR: target-patch

#9151 fix(module:flex): fix NzAlign type
  components/flex/flex.spec.ts
  components/flex/typings.ts
Labels: PR: reviewed-approved, PR: target-patch, Component: Flex

#9141 chore: enable typeCheckHostBindings flag
  components/auto-complete/autocomplete-trigger.directive.ts
  scripts/site/_site/doc/app/header/searchbar.component.ts
  tsconfig.json
Labels: PR: reviewed-approved, PR: target-major

#9144 refactor(module:alert): use inject instead constructor
  components/alert/alert.component.ts
  components/alert/alert.spec.ts
Labels: PR: reviewed-approved, Component: Alert, PR: target-minor

#9150 refactor(module:button): use inject for injection
  components/button/button.component.ts
Labels: Component: Button, PR: reviewed-approved, PR: target-minor

#9148 refactor(module:badge): migrate to inject pattern
  components/badge/badge.component.ts
Labels: Component: Badge, PR: reviewed-approved, PR: target-minor

#9146 refactor(module:autocomplete): use inject instead constructor
  components/auto-complete/autocomplete-option.component.ts
  components/auto-complete/autocomplete-trigger.directive.ts
  components/auto-complete/autocomplete.component.ts
  components/auto-complete/autocomplete.spec.ts
Labels: Component: AutoComplete, PR: reviewed-approved, PR: target-minor

#9147 refactor(module:backtop): use inject instead constructor
  components/back-top/back-top.component.ts
Labels: PR: reviewed-approved, PR: target-minor, Component: BackTop

#9153 refactor(module:card): use inject instead constructor
  components/card/card.component.ts
Labels: Component: Card, PR: reviewed-approved, PR: target-minor

#9157 refactor(module:cascader): migrate to inject pattern
  components/cascader/cascader-option.component.ts
  components/cascader/cascader.component.ts
  components/cascader/cascader.service.ts
Labels: Component: Cascader, PR: reviewed-approved, PR: target-minor

#9126 feat(module:popover): add `nzPopoverTitleContext` and `nzPopoverContentContext`
  components/popover/doc/index.en-US.md
  components/popover/doc/index.zh-CN.md
  components/popover/popover.spec.ts
  components/popover/popover.ts
Labels: Component: Popover, PR: reviewed-approved, PR: target-minor

#9159 refactor(module:watermark): migrate to inject pattern
  components/water-mark/water-mark.component.ts
Labels: PR: target-minor, PR: partially-approved, Component: Watermark

#9165 fix(module:space): border radius compact mode one item
  components/space/space-compact-item.directive.ts
Labels: PR: reviewed-approved, PR: target-minor, Component: Space

#9163 refactor(module:checkbox): migrate to inject pattern
  components/checkbox/checkbox.component.ts
Labels: Component: Checkbox, PR: reviewed-approved, PR: target-minor

#9164 refactor(module:code-editor): migrate to inject pattern
  components/code-editor/code-editor.component.ts
Labels: PR: reviewed-approved, Component: CodeEditor, PR: target-minor

#9145 refactor(module:anchor): use inject instead constructor
  components/anchor/anchor-link.component.ts
  components/anchor/anchor.component.ts
  components/anchor/anchor.spec.ts
Labels: Component: Anchor, PR: reviewed-approved, PR: target-minor

#9176 refactor(module:upload): use inject pattern
  components/upload/upload-btn.component.ts
  components/upload/upload-list.component.ts
  components/upload/upload.component.ts
  components/upload/upload.spec.ts
Labels: Component: Upload, PR: reviewed-approved, PR: target-minor

#9173 refactor(module:cronexpression): use inject pattern
  components/cron-expression/cron-expression-preview.component.ts
  components/cron-expression/cron-expression.component.ts
Labels: PR: target-minor, PR: partially-approved, Component: CronExpression

#9167 refactor(module:collapse): use inject pattern
  components/collapse/collapse-panel.component.ts
  components/collapse/collapse.component.ts
Labels: Component: Collapse, PR: reviewed-approved, PR: target-minor

#9183 refactor(module:tree-view): use inject pattern
  components/tree-view/checkbox.ts
  components/tree-view/indent.ts
  components/tree-view/node.ts
  components/tree-view/option.ts
  components/tree-view/outlet.ts
  components/tree-view/padding.ts
  components/tree-view/tree-view.ts
  components/tree-view/tree-virtual-scroll-view.ts
  components/tree-view/tree.ts
Labels: PR: reviewed-approved, PR: target-minor, Component: TreeView

#9180 refactor(module:descriptions): use inject pattern
  components/descriptions/descriptions.component.ts
Labels: PR: reviewed-approved, Component: Descriptions, PR: target-minor

#9191 refactor(module:tag): use inject pattern
  components/tag/tag.component.ts
  components/tag/tag.spec.ts
Labels: Component: Tag, PR: reviewed-approved, PR: target-minor

#9198 refactor(module:floatbutton): use inject pattern
  components/float-button/float-button-group.component.ts
  components/float-button/float-button-top.component.ts
  components/float-button/float-button.component.ts
Labels: PR: reviewed-approved, PR: target-minor, Component: FloatButton

#9181 refactor(module:drawer): use inject pattern
  components/drawer/drawer-content.directive.ts
  components/drawer/drawer.component.ts
  components/drawer/drawer.service.ts
Labels: Component: Drawer, PR: reviewed-approved, PR: target-minor

#9187 refactor(module:dropdown): use inject pattern
  components/dropdown/context-menu.service.ts
  components/dropdown/dropdown-menu.component.ts
  components/dropdown/dropdown.directive.ts
Labels: Component: Dropdown, PR: reviewed-approved, PR: target-minor

#9200 refactor(module:form): use inject pattern
  components/form/form-control.component.ts
  components/form/form-item.component.ts
  components/form/form-label.component.ts
  components/form/form.directive.ts
Labels: Component: Form, PR: reviewed-approved, PR: target-minor

#9197 refactor(module:experimental-image): use inject pattern
  components/experimental/image/image.component.ts
Labels: PR: reviewed-approved, PR: target-minor, Component: Image

#9203 docs: update resource recommendation list
  docs/recommendation.en-US.md
  docs/recommendation.zh-CN.md
Labels: :scroll: Doc, PR: reviewed-approved

#9188 feat(module:select): add nzOnClear callback
  components/select/doc/index.en-US.md
  components/select/doc/index.zh-CN.md
  components/select/select.component.ts
  components/select/select.spec.ts
Labels: Component: Select, PR: reviewed-approved, PR: target-minor

#9201 refactor(module:graph): use inject pattern
  components/graph/graph-edge.component.ts
  components/graph/graph-minimap.component.ts
  components/graph/graph-zoom.directive.ts
  components/graph/graph.component.ts
Labels: PR: reviewed-approved, PR: target-minor, Component: Graph

#9206 refactor(module:switch): use inject pattern
  components/switch/switch.component.ts
Labels: Component: Steps, PR: reviewed-approved, PR: target-minor

#9207 refactor(module:steps): use inject pattern
  components/steps/step.component.ts
  components/steps/steps.component.ts
Labels: Component: Steps, PR: reviewed-approved, PR: target-minor

#9210 refactor(module:statistic): use inject pattern
  components/statistic/countdown.component.spec.ts
  components/statistic/countdown.component.ts
  components/statistic/statistic-number.component.spec.ts
  components/statistic/statistic.component.spec.ts
  components/statistic/statistic.component.ts
Labels: PR: reviewed-approved, Component: Statistic, PR: target-minor

#9211 refactor(module:spin): use inject pattern
  components/spin/spin.component.ts
Labels: Component: Spin, PR: reviewed-approved, PR: target-minor

#9213 refactor(module:result,skeleton): use inject pattern
  components/result/result.component.ts
  components/skeleton/skeleton.component.ts
Labels: Component: Skeleton, PR: reviewed-approved, PR: target-minor, Component: Result

#9216 refactor(module:tooltip,popconfirm,popover): use inject pattern
  components/popconfirm/popconfirm.spec.ts
  components/popconfirm/popconfirm.ts
  components/tooltip/base.ts
  components/tooltip/tooltip.spec.ts
Labels: Component: Tooltip, Component: Popconfirm, Component: Popover, PR: reviewed-approved, PR: target-minor

#9218 refactor(module:select): use inject pattern
  components/select/option-container.component.ts
  components/select/option-item.component.ts
  components/select/option.component.ts
  components/select/select-search.component.ts
  components/select/select-top-control.component.ts
  components/select/select.component.ts
Labels: Component: Select, PR: reviewed-approved, PR: target-minor

#9212 refactor(module:slider): use inject pattern and remove NzSliderService
  components/slider/handle.component.ts
  components/slider/marks.component.ts
  components/slider/public-api.ts
  components/slider/slider.component.ts
  components/slider/slider.service.ts
  components/slider/slider.spec.ts
  components/slider/step.component.ts
  components/slider/track.component.ts
Labels: Component: Slider, PR: reviewed-approved, PR: target-minor

#9219 refactor(module:resizable): use inject pattern
  components/resizable/resizable.directive.ts
  components/resizable/resizable.service.ts
  components/resizable/resize-handles.component.ts
Labels: PR: reviewed-approved, Component: Resizable, PR: target-minor

#9223 refactor(module:*): replace ClientRect with DOMRect
  components/carousel/carousel.component.ts
  components/core/overlay/nz-connected-overlay.ts
  components/graph/core/minimap.ts
  components/resizable/resizable.directive.ts
Labels: PR: reviewed-approved, PR: target-minor

#9202 refactor(module:modal): use inject pattern
  components/modal/modal-close.component.ts
  components/modal/modal-confirm-container.component.ts
  components/modal/modal-container.directive.ts
  components/modal/modal-content.directive.ts
  components/modal/modal-footer.component.ts
  components/modal/modal-footer.directive.ts
  components/modal/modal-title.component.ts
  components/modal/modal-title.directive.ts
  components/modal/modal.component.ts
  components/modal/modal.service.ts
Labels: Component: Modal, PR: reviewed-approved, PR: target-minor

#9205 refactor(module:table): use inject pattern
  components/table/src/cell/cell-fixed.directive.ts
  components/table/src/cell/custom-column.directive.ts
  components/table/src/cell/td-addon.component.ts
  components/table/src/cell/th-addon.component.ts
  components/table/src/cell/th-measure.directive.ts
  components/table/src/table-data.service.ts
  components/table/src/table/table-fixed-row.component.ts
  components/table/src/table/table-inner-scroll.component.ts
  components/table/src/table/table-virtual-scroll.directive.ts
  components/table/src/table/table.component.ts
  components/table/src/table/tbody.component.ts
  components/table/src/table/thead.component.ts
  components/table/src/table/tr-expand.directive.ts
  components/table/src/table/tr-measure.component.ts
  components/table/src/table/tr.directive.ts
  components/table/src/testing/table.spec.ts
  components/table/src/testing/th.spec.ts
Labels: Component: Tabs, PR: reviewed-approved, PR: target-minor

#9222 refactor(module:icon): use inject pattern
  components/icon/icon.directive.ts
  components/icon/icon.service.ts
Labels: Component: Icon, PR: reviewed-approved, PR: target-minor

#9225 refactor(module:menu): use inject pattern
  components/menu/menu-divider.directive.ts
  components/menu/menu-group.component.ts
  components/menu/menu-item.component.ts
  components/menu/menu.directive.ts
  components/menu/submenu-inline-child.component.ts
  components/menu/submenu-non-inline-child.component.ts
  components/menu/submenu-title.component.ts
  components/menu/submenu.component.ts
  components/menu/submenu.service.ts
Labels: Component: Menu, PR: reviewed-approved, PR: target-minor

#9232 refactor(module:mention): use inject pattern
  components/mention/mention.component.ts
  components/mention/mention.service.ts
Labels: Component: Mention, PR: reviewed-approved, PR: target-minor

#9226 refactor(module:list): use inject pattern
  components/list/list-item-cell.ts
  components/list/list-item-meta.component.ts
  components/list/list-item.component.ts
  components/list/list.component.ts
Labels: Component: List, PR: reviewed-approved, PR: target-minor

#9233 refactor(module:*): use inject pattern
  components/auto-complete/autocomplete-trigger.directive.ts
  components/back-top/back-top.component.ts
  components/button/button.component.ts
  components/calendar/calendar-header.component.ts
  components/cascader/cascader-tree.service.ts
  components/cascader/cascader.component.ts
  components/cron-expression/cron-expression.component.ts
  components/date-picker/lib/date-header.component.ts
  components/date-picker/lib/date-table.component.ts
  components/date-picker/lib/month-header.component.ts
  components/date-picker/lib/month-table.component.ts
  components/date-picker/lib/quarter-header.component.ts
  components/date-picker/lib/quarter-table.component.ts
  components/date-picker/lib/year-table.component.ts
  components/float-button/float-button-group.component.ts
  components/graph/graph-node.component.ts
  components/hash-code/hash-code.component.ts
  components/icon/page/index.ts
  components/input/input-group.component.ts
  components/mention/mention-trigger.ts
  components/mention/mention.component.ts
  components/pagination/pagination-default.component.ts
  components/pagination/pagination-simple.component.ts
  components/pagination/pagination.component.ts
  components/pipes/nz-sanitizer.pipe.spec.ts
  components/pipes/nz-sanitizer.pipe.ts
  components/progress/progress.component.ts
  components/qr-code/qrcode.component.ts
  components/resizable/resize-handle.component.ts
  components/select/select.component.ts
  components/steps/steps.component.ts
  components/table/src/addon/filter-trigger.component.ts
  components/table/src/addon/filter.component.ts
  components/tree-view/option.ts
Labels: PR: reviewed-approved, PR: target-minor

#9155 chore(module:qrcode): update the qrcodgen file
  components/qr-code/qrcodegen.ts
Labels: PR: reviewed-approved, PR: target-minor, Component: QRCode

#9231 refactor(module:layout): use inject pattern
  components/layout/content.component.ts
  components/layout/footer.component.ts
  components/layout/header.component.ts
  components/layout/layout.component.ts
  components/layout/sider.component.ts
Labels: Component: Layout, PR: reviewed-approved, PR: target-minor

#9236 refactor(module:*): update exportAs to follow naming conventions and remove exportAs in internal components
  components/color-picker/color-block.component.ts
  components/color-picker/color-format.component.ts
  components/color-picker/color-picker.component.ts
  components/date-picker/calendar-footer.component.ts
  components/date-picker/date-range-popup.component.ts
  components/date-picker/inner-popup.component.ts
  components/date-picker/lib/date-header.component.ts
  components/date-picker/lib/date-table.component.ts
  components/date-picker/lib/decade-header.component.ts
  components/date-picker/lib/decade-table.component.ts
  components/date-picker/lib/month-header.component.ts
  components/date-picker/lib/month-table.component.ts
  components/date-picker/lib/quarter-header.component.ts
  components/date-picker/lib/quarter-table.component.ts
  components/date-picker/lib/year-header.component.ts
  components/date-picker/lib/year-table.component.ts
  components/modal/modal-close.component.ts
  components/modal/modal-footer.component.ts
  components/modal/modal-title.component.ts
  components/tree/tree-drop-indicator.component.ts
  components/water-mark/water-mark.component.ts
Labels: 💔 Breaking Change, PR: reviewed-approved, PR: target-major

#9239 fix(module:tabs): fix typo in tabnav
  components/tabs/tab-nav-bar.component.ts
Labels: Component: Tabs, PR: reviewed-approved, PR: target-patch

#9240 chore: update lint dev deps and add lint rules for markdown
  CHANGELOG.md
  CONTRIBUTING.md
  README-zh_CN.md
  README.md
  components/anchor/doc/index.en-US.md
  components/anchor/doc/index.zh-CN.md
  components/badge/doc/index.en-US.md
  components/badge/doc/index.zh-CN.md
  components/comment/doc/index.en-US.md
  components/comment/doc/index.zh-CN.md
  components/grid/demo/responsive.md
  components/page-header/doc/index.en-US.md
  components/page-header/doc/index.zh-CN.md
  components/resizable/doc/index.en-US.md
  components/resizable/doc/index.zh-CN.md
  components/slider/doc/index.en-US.md
  components/slider/doc/index.zh-CN.md
  components/tabs/doc/index.en-US.md
  components/tabs/doc/index.zh-CN.md
  components/tooltip/doc/index.en-US.md
  components/tooltip/doc/index.zh-CN.md
  components/tree-view/doc/index.zh-CN.md
  components/tree/doc/index.en-US.md
  components/tree/doc/index.zh-CN.md
  components/water-mark/doc/index.en-US.md
  components/water-mark/doc/index.zh-CN.md
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
  docs/getting-started.en-US.md
  docs/getting-started.zh-CN.md
  eslint.config.mjs
  package-lock.json
  package.json
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-minor

#8998 refactor: replace with `fromEventOutsideAngular` in other places
  components/affix/affix.component.ts
  components/table/src/table/table-inner-scroll.component.ts
  components/tabs/tab-scroll-list.directive.ts
  components/upload/upload-list.component.ts
Labels: PR: reviewed-approved, PR: target-minor

#9246 refactor(module:page-header): cleanup location subscription
  components/page-header/page-header.component.ts
Labels: Component: PageHeader, PR: reviewed-approved, PR: target-patch

#9249 revert(module:pagination): rollback validatePageIndex to old version
  components/pagination/pagination.component.ts
Labels: Component: Pagination, PR: reviewed-approved

#9245 feat(module:popconfirm): implement disable for cancel button
  components/popconfirm/doc/index.en-US.md
  components/popconfirm/doc/index.zh-CN.md
  components/popconfirm/popconfirm-option.ts
  components/popconfirm/popconfirm.spec.ts
  components/popconfirm/popconfirm.ts
  components/popconfirm/public-api.ts
Labels: 💪 Enhancement, 💔 Breaking Change, Component: Popconfirm, PR: reviewed-approved, PR: target-major

#8579 fix(module:icon): debounce icon rendering on animation frame
  components/icon/icon.directive.ts
Labels: Component: Icon, PR: reviewed-approved, PR: target-patch, PR: need-rebase

#9257 refactor: reduce config service boilerplate
  components/alert/alert.component.ts
  components/button/button.component.ts
  components/card/card.component.ts
  components/cascader/cascader.component.ts
  components/code-editor/code-editor.service.ts
  components/collapse/collapse-panel.component.ts
  components/collapse/collapse.component.ts
  components/core/config/config.service.ts
  components/empty/embed-empty.component.ts
  components/experimental/image/image.component.ts
  components/icon/icon.service.ts
  components/message/base.ts
  components/message/message-container.component.ts
  components/modal/modal-container.directive.ts
  components/notification/notification-container.component.ts
  components/progress/progress.component.ts
  components/rate/rate.component.ts
  components/select/select.component.ts
  components/spin/spin.component.ts
  components/table/src/table/table.component.ts
  components/tree-select/tree-select.component.ts
Labels: PR: reviewed-approved, PR: target-patch

#9260 refactor(module:core): deprecate `NzHighlightModule`
  components/cascader/cascader-option.component.ts
  components/core/highlight/highlight.module.ts
  components/core/highlight/highlight.pipe.ts
  components/core/pipe/time-range.pipe.ts
  components/core/util/encode-entities.ts
  components/core/util/public-api.ts
  components/tree/tree-node-title.component.ts
Labels: PR: reviewed-approved, PR: target-major
