Repository NG-ZORRO/ng-zorro-antd, pull requests merged in 2025-05, with the labels that each got.

#9118 fix(module:tabs): nzLinkRouter not work for the first time
  components/tabs/tab.component.ts
  components/tabs/tabset.component.ts
Labels: Component: Tabs, PR: reviewed-approved, PR: target-patch

#9123 perf(module:transfer): use item.key as tracking for the list render
  components/transfer/transfer-list.component.ts
Labels: :zap: Performance, Component: Transfer, PR: reviewed-approved, PR: target-patch

#9092 feat(module:transfer): support multiple row selection with Shift key
  components/transfer/transfer.component.ts
  components/transfer/transfer.spec.ts
Labels: 💪 Enhancement, Component: Transfer, PR: unreviewed, PR: target-minor

#9125 fix(module:segmented): fix emitting unnecessary value changed events
  components/segmented/segmented-item.component.ts
  components/segmented/segmented.component.ts
  components/segmented/segmented.service.ts
  components/segmented/segmented.spec.ts
Labels: PR: reviewed-approved, Component: Segmented

#9090 feat(module:avatar): support custom icon
  components/avatar/avatar.component.ts
  components/avatar/demo/group.ts
Labels: Component: Avatar, PR: reviewed-approved, PR: target-minor

#9127 fix(i18n): update es_ES language
  components/i18n/languages/es_ES.ts
Labels: :earth_africa: i18n, PR: reviewed-approved, PR: target-patch

#9128 chore(release): release 19.3.0
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Labels: PR: reviewed-approved

#9129 fix(module:date-picker): update input value when nzFormat changed
  components/date-picker/date-picker.component.spec.ts
  components/date-picker/date-picker.component.ts
Labels: Component: DatePicker, PR: reviewed-approved, PR: target-patch

#9130 fix(module:tabs): `nzLinkRouter` not work for the first time load
  components/tabs/tabset.component.spec.ts
  components/tabs/tabset.component.ts
Labels: Component: Tabs, PR: reviewed-approved, PR: target-patch
