Repository NG-ZORRO/ng-zorro-antd, pull requests merged in 2025-02, with the labels that each got.

#9008 fix(module:nz-tree-select): fix error when judging multiple instance condition
  components/tree-select/tree-select.component.ts
Labels: Component: TreeSelect, PR: reviewed-approved, PR: target-patch

#9001 feat(module:message,notification): display nzData when content is a template
  components/message/demo/template.md
  components/message/demo/template.ts
  components/message/doc/index.en-US.md
  components/message/doc/index.zh-CN.md
  components/message/message.component.ts
  components/message/message.service.ts
  components/message/message.spec.ts
  components/message/typings.ts
  components/notification/demo/custom-icon.ts
  components/notification/demo/template.ts
  components/notification/doc/index.en-US.md
  components/notification/doc/index.zh-CN.md
  components/notification/notification.component.ts
  components/notification/notification.service.ts
  components/notification/notification.spec.ts
  components/notification/typings.ts
Labels: Component: Notification, Component: Message, PR: reviewed-approved, PR: target-minor

#8969 feat(module:check-list): add check-list component
  .github/CODEOWNERS
  components/check-list/check-list-button.component.ts
  components/check-list/check-list-content.component.ts
  components/check-list/check-list.component.spec.ts
  components/check-list/check-list.component.ts
  components/check-list/check-list.module.ts
  components/check-list/demo/basic.md
  components/check-list/demo/basic.ts
  components/check-list/demo/custom.md
  components/check-list/demo/custom.ts
  components/check-list/doc/index.en-US.md
  components/check-list/doc/index.zh-CN.md
  components/check-list/index.ts
  components/check-list/ng-package.json
  components/check-list/public-api.ts
  components/check-list/style/entry.less
  components/check-list/style/index.less
  components/check-list/typings.ts
  components/components.less
  components/i18n/languages/en_US.ts
  components/i18n/languages/zh_CN.ts
  components/i18n/nz-i18n.interface.ts
  scripts/prerender/route-paths.txt
Labels: :star: New Component, PR: reviewed-approved, PR: target-minor

#8989 fix(module:input-number): use input event instead of change event
  components/input-number-legacy/input-number.component.ts
  components/input-number/demo/formatter.ts
  components/input-number/input-number.component.spec.ts
  components/input-number/input-number.component.ts
Labels: Component: InputNumber, PR: reviewed-approved, PR: target-minor

#9014 chore(release): release 19.1.0
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
  scripts/site/_site/doc/app/footer/footer.component.ts
Labels: PR: partially-approved

#9019 refactor(module:icon): migrate usage from [nz-icon] to nz-icon
  components/code-editor/demo/complex.ts
  components/collapse/collapse-panel.component.ts
  components/comment/demo/basic.ts
  components/form/demo/dynamic-form-item.ts
  components/icon/demo/custom.md
  components/icon/doc/index.en-US.md
  components/icon/doc/index.zh-CN.md
  components/image/image-preview.component.ts
  components/input/demo/allow-clear.ts
  components/input/demo/password-input.ts
  components/layout/demo/custom-trigger.ts
  components/menu/doc/index.en-US.md
  components/menu/doc/index.zh-CN.md
  components/notification/notification.component.ts
  components/pagination/pagination-item.component.ts
  components/resizable/demo/customize.ts
  components/table/src/addon/sorters.component.ts
  components/time-picker/time-picker.component.ts
  components/tree-view/demo/line.ts
  components/tree/demo/customized-icon.ts
  components/tree/tree-node-switcher.component.ts
  components/upload/demo/avatar.ts
  docs/global-config.en-US.md
  docs/global-config.zh-CN.md
  schematics/ng-generate/side-menu/files/src/app/app.component.html.template
  scripts/site/_site/doc/app/codebox/codebox.component.html
  scripts/site/_site/doc/app/header/header.component.html
  scripts/site/utils/generate-demo.js
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-patch

#9028 refactor(showcase): drop iframe
  angular.json
  ngsw-config.json
  scripts/gulp/tasks/site.ts
  scripts/release-helper.sh
  scripts/site/_site/doc/robots.txt
  scripts/site/_site/iframe/app/app.component.ts
  scripts/site/_site/iframe/app/app.config.ts
  scripts/site/_site/iframe/app/app.routes.ts
  scripts/site/_site/iframe/browserslist
  scripts/site/_site/iframe/environments/environment.prod.ts
  scripts/site/_site/iframe/environments/environment.ts
  scripts/site/_site/iframe/index.html
  scripts/site/_site/iframe/main.ts
  scripts/site/_site/iframe/polyfills.ts
  scripts/site/_site/iframe/tsconfig.app.json
  scripts/site/generate-site.js
  scripts/site/utils/generate-iframe.js
Labels: :scroll: Doc, 🖨 Build, PR: target-patch

#9029 docs(module:menu): event name correction
  components/menu/doc/index.en-US.md
  components/menu/doc/index.zh-CN.md
Labels: :scroll: Doc, Component: Menu, PR: reviewed-approved
