Repository NG-ZORRO/ng-zorro-antd, pull requests merged in 2025-04, with the labels that each got.

#9079 chore: update vite to 6.2.4 due to a security issues
  README-zh_CN.md
  README.md
  package-lock.json
  package.json
Labels: PR: target-patch

#9094 docs: fix input borderless style for website in non-dafult theme
  scripts/site/_site/doc/app/components-overview/components-overview.component.less
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-patch

#9080 fix(module:select): limit number of pasted item to nzMaxMultipleCount
  components/select/select-top-control.component.ts
  components/select/select.component.ts
  components/select/select.spec.ts
Labels: Component: Select, PR: reviewed-approved, PR: target-patch

#9096 docs(module:checkbox): model type correction
  components/checkbox/doc/index.en-US.md
  components/checkbox/doc/index.zh-CN.md
Labels: :scroll: Doc, Component: Checkbox, PR: reviewed-approved, PR: target-patch

#9099 fix(module:checkbox): fix type of options
  components/checkbox/checkbox-group.component.ts
Labels: Component: Checkbox, PR: reviewed-approved, PR: target-patch

#9102 docs: fix height of image
  .stylelintrc.json
  package-lock.json
  package.json
  scripts/site/_site/doc/style/markdown.less
Labels: :scroll: Doc, PR: reviewed-approved, PR: target-patch

#9105 fix(module:checkbox): fix NG0600 error
  components/checkbox/checkbox-group.component.ts
Labels: Component: Checkbox, PR: reviewed-approved, PR: target-patch

#9106 fix(module:input-number): fix NG0600 error
  components/input-number/input-number.component.ts
Labels: Component: InputNumber, PR: reviewed-approved, PR: target-patch

#9110 chore(release): release 19.2.2
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Labels: PR: reviewed-approved, PR: merge-ready

#9098 feat(module:input-number): add nzBlur and nzFocus outputs
  components/input-number/doc/index.en-US.md
  components/input-number/doc/index.zh-CN.md
  components/input-number/input-number.component.ts
Labels: Component: InputNumber, PR: reviewed-approved, PR: target-minor

#9097 feat(module:tabs): support for start and end extra content
  components/tabs/demo/extra.md
  components/tabs/demo/extra.ts
  components/tabs/doc/index.en-US.md
  components/tabs/doc/index.zh-CN.md
  components/tabs/public-api.ts
  components/tabs/tab-bar-extra-content.directive.ts
  components/tabs/tab-nav-bar.component.ts
  components/tabs/tabs.module.ts
  components/tabs/tabset.component.spec.ts
  components/tabs/tabset.component.ts
Labels: Component: Tabs, PR: reviewed-approved, PR: target-minor
